/**
Google map fix
*/
.map__el .gm-style > .gmnoprint:last-child  {
  display: none !important;
}

.hidden___video {
  display: none;
}

.popup {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;

  transition: opacity .3s ease, transform .5s ease;
  will-change: opacity, transform;

  z-index: 1050;

  background-color: rgba(0,0,0, .5);

  overflow-x: hidden;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;

  outline: 0;

  &__container {
    position: relative;

    background-color: white;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.12);

    padding: 60px 60px 55px 60px;
    margin: 30px auto;

    max-width: 420px;

    transition: opacity .2s ease, transform .3s ease, visibility 0s .1s;

    transform: translate3d(0, -50px, 0);

    will-change: transform, opacity;

    @media (max-width: 767px) {
      margin: 10px auto;
    }
  }

  &__close-btn {
    position: absolute;

    top: 30px;
    right: 30px;

    width: 18px;
    height: 18px;

    cursor: pointer;

    padding-top: 8px;

    span {
      display: block;

      width: 100%;
      height: 1px;

      background-color: #d0d0d0;

      &:first-of-type {
        transform: rotate(45deg);
      }

      &:last-of-type {
        transform: rotate(-45deg) translateY(-1px);
      }
    }
  }

  &__title {
    font-family: 'OpenSans-Extrabold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }


  &__content {
    width: 100%;
    max-width: 300px;

    margin: 0 auto;

    &-padding {
      padding-top: 20px;
    }

    &-wide {
      max-width: 100%;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 30px;

    transition: all 0.5s ease-out;

    @media only screen and (max-width: 1219px) {
      width: 100%;
    }
  }

  &__form {
    margin-top: 30px;
    margin-bottom: 30px;

    input, textarea {
      width: 100%;
      height: 60px;

      border: 1px solid #e3e3e4;

      padding-left: 20px;

      font-family: 'PTSans-Regular', sans-serif;
      font-size: 16px;
    }

    textarea {
      resize: vertical;

      height: 100px;

      padding-top: 20px;

      box-sizing: border-box;
    }

    .form-group {
      display: inline-block;
      width: 100%;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  &__footer {
    font-family: 'OpenSans-Extrabold', sans-serif;

    span {
      display: inline-block;
      width: 100%;

      color: black;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;

      margin-bottom: 10px;
    }

    a {
      color: #a2a4a8;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  // Subscribe popup
  &-subscribe {
    .popup__title {
      font-size: 16px;
    }
  }

  // thank you popup
  &-thankyou {
    img {
      float: right;
    }
  }

  // to_get_info popup
  &-to_get {
    max-width: 840px;
  }
}

@media (max-width: 767px) {
  .popup {

    &__container {
      width: 100%;

      padding: 40px 15px 35px;
    }

    &__close-btn {
      top: 15px;
      right: 15px;
    }
  }
}

body.popup-opened {
  overflow: hidden;
}

.popup.opened {
  opacity: 1;
  visibility: visible;

  .popup__container {
    transform: translate3d(0,0,0);
    opacity: 1;
    visibility: visible;
  }
}

// other
textarea.textarea-small {
  height: 80px;
}

// text block (popup location info)
.text-block {

  &:not(:first-child) {
    margin-top: 35px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-icon {
      margin-right: 15px;
      .icon {
        font-size: 25px;
        color: $red;
      }
    }

    span {
      color: #a70a3f;
      font-family: 'OpenSans-Extrabold', sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
  ul {
    margin-top: 20px;

    color: #808080;
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;

    li {
      position: relative;

      margin-top: 20px;

      &:before {
        content: '';

        position: absolute;

        left: -15px;
        top: 6px;

        width: 3px;
        height: 3px;
        background-color: #a7a7a7;
      }
    }
  }

  @media (max-width: 767px) {
    ul {
      li {
        padding-left: 15px;

        &:before {
          left: 0;
        }
      }
    }
  }
}