/* ===================================
	 About Page
	 =================================== */
.page-about
	.hamburger__inner
		background-color: #ffffff
	.hamburger__inner:before,
	.hamburger__inner:after
		background-color: #ffffff
	.main
		padding-top: 38px
	.header__logo
		color: #ffffff
	.header__bot
		border-bottom: 1px solid rgba(#f5f5f5, 0.1)
	.nav
		color: #ffffff
	.nav_footer
		color: $gray-light
	&__start
		padding-top: 80px
		padding-bottom: 80px
		+r(767)
			padding-top: 55px
			padding-bottom: 0
		img
			+r(1219)
				display: none
		&-title
			margin-top: 65px
			max-width: 475px
			margin-bottom: 35px
			+r(1219)
				max-width: none
				margin-top: 0
			+r(767)
				margin-bottom: 25px
		p
			max-width: 475px
			font-size: 16px
			color: #808080
			+r(1219)
				max-width: none
			+ p
				margin-top: 20px
	&__row
		+pie-clearfix
	&__col-2
		width: 50%
		float: left
		.motion
			&__element
				background-color: $red
		+r(1219)
			width: 100%
			float: none
	&__standarts
		padding-top: 40px
		.motion
			&__element
				background-color: $red
		+r(1219)
			padding-top: 70px
		+r(767)
			padding-top: 50px
		&-title
			display: table
			margin-bottom: 40px
			+r(1219)
				margin-bottom: 30px
		&-subtitle
			margin-bottom: 18px
			max-width: 530px
			padding-right: 30px
			+h2
			text-transform: uppercase
			+r(1219)
				max-width: none
				padding-right: 0
		p
			max-width: 530px
			padding-right: 30px
			font-size: 16px
			color: #808080
			+r(1219)
				max-width: none
				padding-right: 0
			+ p
				margin-top: 20px
	&__standarts &__col-2
		padding-left: 30px
		padding-top: 55px
		padding-bottom: 55px
		background-color: #ffffff
		border-top: 1px solid #f5f5f5
		border-bottom: 1px solid #f5f5f5
		+r(1219)
			padding-top: 0
			padding-bottom: 0
			padding-left: 0
			border: none
			background-color: transparent
	&__standarts &__col-2:nth-child(2n)
		border-left: 1px solid #f5f5f5
		+r(1219)
			padding-top: 40px
			border: none
		+r(767)
			padding-top: 30px
	&__about
		background-color: #f5f5f5
		+r(1219)
			padding-top: 60px
		+r(767)
			padding-top: 0
			background-color: transparent
	&__history
		padding-top: 60px
		+r(1219)
			padding-top: 0
		+r(767)
			padding-top: 50px
		&-title
			margin-bottom: 115px
			max-width: 490px
			.motion
				&__element
					background-color: $red
			+r(1219)
				margin-bottom: 35px
			+r(767)
				margin-bottom: 0

/* Clinic
	----------------------------------- */
.clinic
	padding-top: 80px
	+r(767)
		padding-top: 0
		padding-bottom: 60px
	&__title
		display: table
		max-width: 640px
	&__subtitle
		margin-top: 20px
		max-width: 640px
		+h2
		text-transform: uppercase
		+r(1219)
			display: none
	.motion
		&__element
			background-color: $red
	&__list-container
		position: relative
		z-index: 1
		margin-top: 45px
		background-color: $red
		+r(767)
			margin-top: 30px
	&__list
		padding-top: 55px
		padding-bottom: 15px
		+open-extrabold
		font-size: 18px
		color: #ffffff
		line-height: 24px
		text-transform: uppercase
		display: flex
		flex-direction: row
		flex-wrap: wrap
		+r(767)
			padding-top: 35px
		&-container
			.motion
				+r(767)
					overflow: visible
		&-item
			margin-bottom: 40px
			flex: 0
			flex-basis: 20%
			padding-right: 10px
			white-space: nowrap
			+r(1219)
				flex-basis: 33.33%
			+r(767)
				margin-bottom: 30px
		&-link
			position: relative
			display: block
			padding-left: 18px
			+r(767)
				display: table
				padding-left: 0
				margin-left: auto
				margin-right: auto
			&:before
				content: ''
				position: absolute
				z-index: 1
				top: 11px
				left: 0
				width: 3px
				height: 3px
				background-color: #ffffff
				+r(767)
					display: none
					content: none
	&__prev,
	&__next
		opacity: 0.61
		position: absolute
		z-index: 10
		bottom: -60px
		font-size: 0
		padding-top: 8px
		padding-bottom: 8px
		+trs
		&:focus
			opacity: 1
		.icon
			font-size: 12px
	&__prev
		left: 0
		transform: rotate(180deg) translate3d(0,0,0)
	&__next
		right: 0
		
		
/* Partners
	----------------------------------- */
.partners
	padding-top: 140px
	+r(1219)
		padding-top: 85px
	&__row
		+pie-clearfix
	&__button
		margin-top: 40px
		float: right
		+r(1219)
			margin-right: 60px
		+r(767)
			margin-left: auto
			margin-right: auto
			float: none
			display: block
			margin-top: 30px
	&__title
		display: table
		margin-bottom: 70px
		.motion
			&__element
				background-color: $red
		+r(1219)
			margin-bottom: 45px
		+r(767)
			margin-bottom: 20px
	&__list
		display: flex
		flex-direction: row
		flex-wrap: wrap
		border-top: 1px solid #f5f5f5
		+r(1219)
			padding-bottom: 75px
			display: block
			margin-left: -24px
			margin-right: -24px
		+r(767)
			border-top: none
			padding-bottom: 25px
		&-item
			flex: 0
			flex-basis: 25%
		&-link
			display: flex
			width: 100%
			height: 115px
			justify-content: center
			align-items: center
			filter: grayscale(100%)
			border-bottom: 1px solid #f5f5f5
			+trs
			+r(767)
				border-bottom: none
			&:hover
				filter: grayscale(0%)
	&__prev,
	&__next
		opacity: 0.61
		position: absolute
		z-index: 10
		bottom: 0
		font-size: 0
		padding-top: 8px
		padding-bottom: 8px
		+trs
		&:focus
			opacity: 1
		.icon
			font-size: 12px
	&__prev
		left: 0
		transform: rotate(180deg) translate3d(0,0,0)
		+r(1219)
			left: 24px
	&__next
		right: 0
		+r(1219)
			right: 24px
			
/* History
	----------------------------------- */
.history
	padding-bottom: 60px
	+r(1219)
		padding-bottom: 0
	+r(767)
		padding-top: 25px
	&__nav
		display: flex
		flex-direction: row
		+r(767)
			display: block
			padding-bottom: 5px
			border-bottom: 1px solid $red
			&:before
				content: ''
				position: absolute
				z-index: 1
				left: 0
				bottom: -4px
				width: 7px
				height: 7px
				background-color: $red
			&:after
				content: ''
				position: absolute
				z-index: 1
				right: 0
				bottom: -4px
				width: 7px
				height: 7px
				background-color: $red
		&-item
			position: relative
			z-index: 2
			padding-top: 15px
			padding-bottom: 15px
			flex: 1
			flex-basis: 100%
			+open-extrabold
			font-size: 18px
			color: #D286A0
			text-align: center
			text-transform: uppercase
			cursor: pointer
			transition: all 0.25s ease-in-out
			+r(767)
				font-size: 12px
				flex: 0
				color: $red
				padding-top: 10px
				padding-bottom: 10px
			p
				transition: all 0.25s ease-in-out
			&:hover p
				color: $red
			&.is-active
				z-index: 1
				transform: scale(2)
				transform-origin: center 65%
				+r(1219)
					transform: scale(1.5)
				+r(767)
					transform: scale(1)
			&:first-child
				flex-basis: 50%
				text-align: left
				transform-origin: left 65%
				+r(767)
					text-align: center
					transform-origin: center 66%
			&:last-child
				flex-basis: 50%
				text-align: right
				transform-origin: right 65%
				+r(767)
					text-align: center
					transform-origin: center 66%
			+r(767)
				text-align: center
				&.slick-current
					transform: scale(1.85)
					transform-origin: center 66%
					
	&__line-mob
		display: none
		+r(767)
			display: block
			position: absolute
			pointer-events: none
			z-index: 3
			top: 100%
			left: 0
			right: 0
			margin-left: auto
			margin-right: auto
			height: 35px
			width: 1px
			background-color: $red
			&:before
				content: ''
				position: absolute
				top: -4px
				left: -3px
				width: 7px
				height: 7px
				background-color: $red
			&:after
				content: ''
				position: absolute
				bottom: -4px
				left: -3px
				width: 7px
				height: 7px
				background-color: $red
	&__for
		padding-top: 90px
		min-height: 280px
		+pie-clearfix
		+r(1219)
			min-height: 430px
		+r(767)
			min-height: 0
			padding-top: 55px
			padding-bottom: 90px
			margin-left: -15px
			margin-right: -15px
		&-item
			position: relative
			z-index: 2
			display: none
			float: left
			margin-left: auto
			margin-right: auto
			+pie-clearfix
			+r(767)
				display: block
				margin: 0
				padding-left: 15px
				padding-right: 15px
		&-image
			float: left
			margin-left: 12px
			padding-right: 30px
			width: 274px
			+r(1219)
				float: none
			+r(767)
				display: none
			img
				width: 100%
				max-width: none
		&-desc
			float: right
			padding-left: 15px
			width: 300px
			+r(1219)
				float: none
				padding-top: 20px
			+r(767)
				width: auto
				padding: 0
		&-title
			+h2
			text-transform: uppercase
		&-text
			margin-top: 20px
			font-size: 16px
			color: #808080
			
	&__line
		position: relative
		z-index: 3
		height: 1px
		background-color: #D286A0
		+r(1219)
			margin-left: 24px
			margin-right: 24px
		+r(767)
			display: none
		&-container
			+r(1219)
				max-width: 100%
		&-dots
			display: flex
			flex-direction: row
			justify-content: space-between
		&-dot
			position: relative
			top: -3px
			left: 1px
			width: 7px
			height: 7px
			background-color: #D286A0
			&:first-child
				left: -4px
			&:last-child
				left: auto
				right: -4px
		&-complete
			position: absolute
			z-index: 2
			left: 3px
			top: 3px
			width: 1px
			height: 0
			background-color: $red
			&:before
				content: ''
				position: absolute
				z-index: 1
				left: -3px
				bottom: -4px
				width: 7px
				height: 7px
				background-color: $red
	&__line2
		position: absolute
		z-index: 5
		left: 0
		top: 0
		height: 1px
		bottom: 0
		width: 0
		opacity: 0
		background-color: $red
		&:before
			content: ''
			position: absolute
			z-index: 1
			top: -3px
			right: -3px
			width: 7px
			height: 7px
			background-color: $red
			
	&__prev,
	&__next
		opacity: 0.61
		position: absolute
		z-index: 10
		bottom: 40px
		font-size: 0
		padding-top: 8px
		padding-bottom: 8px
		+trs
		&:focus
			opacity: 1
		.icon
			font-size: 12px
		&.slick-disabled
			opacity: 0
	&__prev
		left: 15px
		transform: rotate(180deg) translate3d(0,0,0)
	&__next
		right: 15px