/* ===================================
	 Contacts
	 =================================== */
.contacts
	padding-bottom: 35px
	+r(1219)
		padding-bottom: 10px
	+r(767)
		padding-bottom: 0
	&__top
		display: flex
		flex-direction: row
		justify-content: space-between
		padding-top: 45px
		padding-bottom: 45px
		+r(1219)
			padding-top: 35px
			padding-bottom: 35px
		+r(767)
			padding-top: 50px
			padding-bottom: 60px
			flex-direction: column
			justify-content: flex-start
		&-link
			+open-extrabold
			font-size: 12px
			line-height: 30px
			text-transform: uppercase
			display: table
			.icon
				margin-left: 10px
				position: relative
				top: -1px
			.motion
				&__element
					background-color: $red
	&__download
		font-size: 0
		.motion
			&__element
				background-color: $red
		&-text
			display: inline-block
			line-height: 30px
			margin-right: 20px
			font-size: 12px
			color: $gray-light
			vertical-align: middle
			+r(767)
				margin-top: 15px
				margin-bottom: 10px
				margin-right: 0
				display: table
		&-link
			display: inline-block
			vertical-align: middle
			& + &
				margin-left: 8px
		img
			height: 30px
	&__bot
		padding-top: 45px
	&__share
		margin-bottom: 90px
		display: table
		+r(767)
			margin-bottom: 40px
		.motion
			&__element
				background-color: $red
		&-text
			font-size: 12px
			color: $gray-light
		&-list
			margin-top: 25px
			+pie-clearfix
			+r(767)
				margin-left: -11px
				margin-right: -11px
		&-item
			float: left
			+r(767)
				margin-left: 11px
				margin-right: 11px
				margin-bottom: 22px
			& + &
				margin-left: 19px
				+r(767)
					margin-left: 11px
					margin-right: 11px
		&-link
			width: 60px
			height: 60px
			color: #ffffff
			background-color: $red
			display: flex
			justify-content: center
			flex-direction: column
			align-items: center
			+trs
			+r(1219)
				height: 40px
				width: 40px
			&:hover
				background-color: $gray-light
			.icon
				font-size: 15px