/* ===================================
	 Open Item Page
	 =================================== */
.page-open-item
	&__container
		+pie-clearfix
	&__doctor
		+r(1219)
			padding-top: 50px
	&__start
		position: relative
		z-index: 1
		padding-top: 135px
		padding-bottom: 135px
		max-width: calc(50% + 208px)
		margin-left: auto
		margin-right: auto
		+r(1219)
			padding-top: 85px
			padding-bottom: 85px
			max-width: none
		+r(767)
			padding-top: 55px
			padding-bottom: 35px
	&__main-subtitle
		margin-top: 45px
		max-width: 580px
		+r(1219)
			margin-top: 40px
		+r(767)
			margin-top: 25px
	&__title
		position: relative
		z-index: 1
		margin-bottom: 40px
		+h1-lg
		text-transform: uppercase
		+r(1219)
			margin-top: 30px
			br
				display: none
		+r(767)
			margin-bottom: 20px
			font-size: 24px
			line-height: 30px
		&_double
			+r(1219)
				margin-top: 80px
			+r(767)
				margin-top: 55px
	&__pre-last
		padding-bottom: 135px
		+r(1219)
			padding-bottom: 90px
		+r(767)
			padding-bottom: 60px
	&__about
		padding-top: 95px
		padding-bottom: 85px
		background-color: #f5f5f5
		+r(767)
			padding-top: 0
			padding-bottom: 60px
			background-color: transparent
	&__row-2
		padding-top: 140px
		+pie-clearfix
		+r(1219)
			padding-top: 0
	&__col-2
		float: left
		width: 50%
		+r(1219)
			width: 100%
		& + &
			padding-left: 150px
			+r(1219)
				padding-left: 0
	&__slider
		position: relative
		z-index: 1
		margin-top: 50px
		max-width: 570px
		+r(1219)
			margin-top: 35px
			max-width: none
			padding-bottom: 90px
		&-inner
			margin-right: 40px
			+r(767)
				width: 130px
				margin-right: 30px
		.motion
			overflow: visible
	&__prev,
	&__next
		position: absolute
		z-index: 10
		top: 0
		bottom: 0
		opacity: 0
		margin-top: -70px
		+trs
		+r(1219)
			opacity: 0.61
			position: absolute
			z-index: 10
			bottom: 0
			font-size: 0
			padding-top: 8px
			padding-bottom: 8px
			+trs
			&:focus
				opacity: 1
			.icon
				font-size: 12px
		.is-active &
			opacity: 0.5
		&:hover
			opacity: 1
		&.slick-disabled
			opacity: 0
			pointer-events: none
	&__prev
		left: -40px
		width: 40px
		+r(1219)
			left: 0
			bottom: -70px
			top: auto
			transform: rotate(180deg) translate3d(0,0,0)
	&__next
		right: -30px
		width: 70px
		+r(1219)
			width: 40px
			top: auto
			right: 0
			bottom: -70px
	+r(767)
		.screen__btn
			display: none
		

.l-steps
	font-size: 0
	+r(767)
		margin-bottom: 50px
	&__col
		display: inline-block
		vertical-align: top
		margin-bottom: 60px
		width: 25%
		font-size: 16px
		padding-left: 30px
		padding-right: 30px
		+r(1219)
			padding-left: 13px
			padding-right: 13px
		+r(767)
			margin-bottom: 40px
			padding-left: 0
			padding-right: 0
		
.b-card-steps
	&__number
		+open-extrabold
		font-size: 60px
		color: $gray-light
		text-transform: uppercase
		line-height: 1
	&__title
		margin-top: 25px
		+open-extrabold
		font-size: 12px
		line-height: 18px
		text-transform: uppercase
		+r(767)
			margin-top: 20px
	&__text
		margin-top: 10px
		max-width: 220px
		color: $gray-dark
		+r(1219)
			padding-right: 15px
		+r(767)
			max-width: none
		
/* Open Item Price
	----------------------------------- */
.open-item-price
	position: relative
	z-index: 1
	margin-top: 50px
	&_indent
		margin-top: 90px
		+pie-clearfix
		+r(1219)
			margin-top: 35px
		+r(767)
			margin-top: 25px
	&__overflow
		margin-top: 40px
		+r(1219)
			margin-top: 0
	&__el
		+r(1219)
			width: 50%
			float: left
			&:nth-child(1)
				padding-right: 50px
				+r(767)
					padding-right: 0
		+r(767)
			width: auto
			float: none
		& + &
			margin-top: 40px
			+r(767)
				margin-top: 20px
		&:last-child
			margin-top: 50px
			+r(1219)
				margin-top: 40px
			+r(767)
				margin-top: 20px
	&__overflow
		+r(1219)
			float: right
			padding-left: 20px
			width: 50%
			overflow: hidden
		+r(767)
			float: none
			margin-top: 20px
			width: auto
			padding-left: 0
			overflow: visible
	&__overflow &__el
		padding-right: 0
		float: none
		width: 100%
	&__title
		+open-extrabold
		font-size: 12px
		line-height: 24px
		text-transform: uppercase
	&__price
		margin-top: 7px
		+open-extrabold
		font-size: 24px
		line-height: 1
		text-transform: uppercase
	&__text
		margin-top: 25px
		font-size: 16px
		color: $gray-dark
		+r(1219)
			margin-top: 20px
	&__btn
		margin-top: 22px
		transition: all 0.5s ease-out
		+r(767)
			display: block
			margin-left: auto
			margin-right: auto
		
/* Open Item History
	----------------------------------- */
.open-item-history
	margin-top: 55px
	display: block
	position: relative
	z-index: 1
	color: #ffffff
	max-width: 330px
	+r(1219)
		display: inline-block
		margin-right: -4px
		max-width: calc(50% - 15px)
		&:nth-child(2n + 1)
			margin-left: 30px
			+r(767)
				margin-left: 0
	+r(767)
		margin-top: 25px
		max-width: none
		margin-right: 0
		display: block
	& + &
		margin-top: 15px
		+r(767)
			margin-top: 0
	&__inner
		background-color: $red
		padding: 30px 25px 30px 30px
		+r(767)
			padding-bottom: 15px
	& + & &__inner
		+r(767)
			padding-top: 15px
	&:last-child &__inner
		+r(767)
			padding-bottom: 30px
	&__title
		position: relative
		padding-left: 20px
		+open-extrabold
		font-size: 12px
		line-height: 18px
		text-transform: uppercase
		+r(767)
			padding-left: 0
		&:before
			content: ''
			position: absolute
			top: 7px
			left: 0
			width: 3px
			height: 3px
			background-color: #ffffff
			+r(767)
				content: none
				display: none
	&__text
		margin-top: 15px
		font-size: 16px
	&__link
		margin-top: 10px
		color: rgba(#ffffff, .57)
		+trs
	&:hover &__link
		color: #ffffff
		
/* Accordion
	----------------------------------- */
.accordion
	position: relative
	z-index: 1
	&__item
		margin-top: 45px
		+r(767)
			margin-top: 30px
		& + &
			margin-top: 20px
	&__title
		cursor: pointer
		display: inline-block
		position: relative
		+open-extrabold
		font-size: 12px
		line-height: 24px
		text-transform: uppercase
		padding-right: 30px
		+trs
		&:hover
			color: $red
			+r(1219)
				color: #000000
	&__icon
		position: absolute
		right: 8px
		top: 4px
	&__text
		display: none
		max-width: calc(100% - 80px)
		font-size: 16px
		color: $gray-dark
		+r(767)
			max-width: none
		p
			&:first-child
				padding-top: 20px
				+r(767)
					padding-top: 15px
