.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.page-open-doctor {
  .header__logo {
    color: #ffffff;
  }
  .hamburger__inner {
    background-color: #ffffff;
  }
  .hamburger__inner:before,
  .hamburger__inner:after {
    background-color: #ffffff;
  }
  .main {
    padding-top: 38px;
  }
  .header__logo {
    color: #ffffff;
  }
  .header__bot {
    border-bottom: 1px solid rgba(#f5f5f5, 0.1);
  }
  .nav {
    color: #ffffff;
  }
  .nav_footer {
    color: $gray-light;
  }
}

.arrows-container {
  margin-top: 20px;
}

.arrow_btn {
  color: #636363;
  height: 20px;

  cursor: pointer;

  &-prev {
    float: left;

    transform: rotate(180deg);
  }

  &-next {
    float: right;
  }
}

.screen {
  &__item {
    &:before {
      content: '';

      position: absolute;

      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      z-index: 1;

      background: rgba(0,0,0,.3);
    }
  }

  @media (min-width: 1220px) {
    &__inner {
      &-lift_up {
        margin-top: 90px;
      }
    }
  }

  &__subtitle {
    position: relative;

    max-width: 460px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;

    transition: all 0.5s ease-in-out;

    font-family: "OpenSans-Extrabold", Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
  }
}

.doctor_profile {
  padding-top: 90px;

  &__block {
    position: relative;
    z-index: 2;
    width: 600px;

    &-doctor {
      float: left;
    }

    &-stories {
      float: right;

      margin-top: 90px;
    }

    &-spec {
      float: right;
    }

    &-public {
      float: left;
      margin-top: 90px;
    }

    &_title {
      color: #000000;
      font-family: "OpenSans-Extrabold", Arial, sans-serif;
      font-size: 35px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;

      margin-bottom: 60px;

      &-small {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 50px;
      }
    }
  }
}

//-----------------------first section & common block styles
.doctor_more {
  &__field {
    display: inline-block;
    vertical-align: top;

    width: 100%;

    &:not(:first-child) {
      margin-top: 25px;
    }

    &_title {
      float: left;
      width: 155px;

      margin-right: 15px;

      color: #000000;
      font-family: "OpenSans-Extrabold", Arial, sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.75;

      &-padding {
        padding-top: 12px;
      }
    }

    &_text {
      float: right;
      width: calc(100% - 170px);

      color: #808080;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;

      @media (min-width: 1219px) {
        padding-right: 100px;
      }
    }

    &_icon {
      width: 40px;
      height: 40px;

      float: left;
      display: flex;
      align-items: center;
      justify-content: center;

      color: white;
      background-color: #a51141;

      transition: all 0.5s ease-in-out;

      &:not(:last-child) {
        margin-right: 20px;
      }

      .icon-tw {
        width: 15px;
      }

      .icon-fb {
        width: 7px;
      }

      &:hover {
        background-color: #a2a4a8;
      }
    }
  }
}

@media (max-width: 1219px) {
  .screen__subtitle {
    max-width: 70%;
  }

  .doctor_profile {
    &__block {
      width: 100%;

      &_title {
        font-size: 24px;

        margin-bottom: 45px;
      }

      &-spec {
        margin-top: 90px;
      }
    }
  }
}

@media (max-width: 767px) {
  .screen__subtitle {
    max-width: none;
  }

  .doctor_profile {
    padding-top: 60px;

    &__block {
      float: none;

      &-public {
        margin-top: 60px;
      }

      &-spec {
        margin-top: 60px;
      }

      &-stories {
        margin-top: 44px;
      }

      &_title {
        margin-bottom: 35px;
      }
    }
  }

  .doctor_more {
    &__field {
      &_title {
        width: 100%;
        margin: 0;

        &-padding {
          padding-top: 0;
        }
      }
      &_text {
        width: 100%;

        margin-top: 10px;
      }
      &-icons_container {
        display: inline-block;

        margin-top: 20px;
      }
    }
  }
}
//-----------------------first section & common block styles END

//-----------------------second section
.doctor_spec {
  @media (min-width: 1220px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 292px;
    height: 82px;

    margin-bottom: 16px;

    text-align: center;

    background-color: #a51141;

    color: #fff;
    font-family: "OpenSans-Extrabold", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    overflow: hidden;

    span {
      position: relative;

      z-index: 2;

      display: inline-block;
      margin-left: -20px;
      margin-right: 20px;

      transition: color .5s ease-in-out;
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }

    .start__title-icon {
      display: block !important;

      line-height: initial;

      top: -1px;
      right: auto;

      z-index: 1;
    }

    &:after {
      content: '';

      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      transform: translate3d(-100%, 0, 0);

      background-color: #f5f5f5;

      transition: transform .5s ease-in-out;
    }

    @media (min-width: 1px) {
      &:hover {
        span {
          color: #808080;
        }

        .start__title-icon {
          transform: translateY(2px) rotate(0deg);

          &:before {
            background-color: #808080;
            transform: rotate(-45deg) translateZ(0);
          }
          &:after {
            background-color: #808080;
            transform: rotate(45deg) translateZ(0);
          }
        }

        &:after {
          transform: translate3d(0,0,0);
        }
      }
    }

    @media (max-width: 1219px) and (min-width: 768px) {
      width: 228px;

      margin-right: 12px;
    }

    @media (max-width: 767px) {
      width: 100%;

      height: 113px;
    }
  }
}
//-----------------------second section END

//-----------------------third section
.article_block {
  width: 292px;

  padding: 30px 15px 35px 30px;

  background-color: #a70a3f;

  color: white;

  @media (min-width: 1219px) {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media (min-width: 768px) and (max-width: 1219px){
    width: 340px;
    width: 44vw;

    &:not(:last-child) {
      margin-right: 35px;
      margin-right: 6vw;
    }
  }

  &__title {
    font-family: "OpenSans-Extrabold", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 10px;

    font-size: 16px;

    height: 60px;
  }

  &__doctor {
    margin-top: 13px;

    font-size: 16px;

    b {
      margin-right: 8px;

      font-size: 12px;
      font-family: "OpenSans-Extrabold", Arial, sans-serif;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  &__read {
    display: block;

    margin-top: 5px;
    font-size: 12px;

    opacity: 0.55;

    transition: opacity .3s ease;

    &:hover {
      opacity: 1;
    }
  }

  &-white {
    background: white;

    color: black;

    padding: 0 35px 0 0;

    @media (min-width: 1219px) {
      width: 300px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    .article_block__text {
      margin-top: 7px;
    }

    .article_block__read {
      margin-top: 13px;
    }

    @media (max-width: 1219px) {
      padding-right: 0;
    }
  }
}
//-----------------------third section END

.all_doctors_button {
  position: relative;
  z-index: 1;

  margin-top: 90px;
  margin-bottom: 90px;

  clear: both;
  display: block;
  float: left;
  transition: all 0.5s ease-out;

  @media (max-width: 767px) {
    float: none;
    margin: 65px auto 60px;
  }
}