.tab {
  float: left;

  width: 50%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  background-color: #a70a3f;

  cursor: pointer;

  border-bottom: 1px solid transparent;

  transition: background-color .4s ease;

  @media (max-width: 767px) {
    width: 100%;
    height: 60px;
  }

  &__header {
    position: relative;
    z-index: 2;
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      padding-right: 45px;
    }

    font-family: 'OpenSans-Extrabold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    transition: all .4s ease;

    @media (max-width: 1219px) {
      font-size: 18px;
    }
  }

  &__stick {
    position: absolute;
    display: inline-block;

    left: calc(100% - 30px);
    top: 14px;

    width: 20px;
    height: 3px;

    background-color: currentColor;

    transition: left .5s ease-out, top .5s ease-out, transform .5s ease-out, background-color 0s;

    @media (max-width: 767px) {
      left: calc(50% - 10px);
      top: 43px;

      transform: rotate(90deg);
      margin-left: 0;

      opacity: 0;
      transition: opacity .4s;
      background-color: #a70a3f;
    }
  }

  &__container {
    margin-top: 100px;

    @media (max-width: 1219px) {
      margin-top: 90px;
    }

    @media (max-width: 767px) {
      margin-top: 60px;
    }
  }

  @media (min-width: 1220px) {
    &:hover {
      .tab__stick {
        transform: translate3d(15px, 0, 0);
      }
    }
  }

  &.active {
    background-color: white;

    color: #a70a3f;

    border-bottom: 1px solid #f5f5f5;

    .tab__title {
      padding-right: 0;
    }

    .tab__stick {
      position: absolute;

      left: calc(50% - 5px);
      top: 64px;

      margin-left: 0;

      transform: rotate(90deg);

      @media (max-width: 767px) {
        left: calc(50% - 10px);
        top: 43px;

        opacity: 1;
      }
    }
  }

  // CONTENT IN BIG TABS
  &__screen {
    &_menu,
    &_content_tab {
      position: absolute;
      left: -99999px;
      opacity: 0;
      visibility: hidden;
      z-index: -1;

      transition: all .5s ease, visibility 0s;
    }

    .video {
      opacity: 0;

      transition: all .5s ease;
      visibility: hidden;
    }

    &.active {
      .tab__screen_menu,
      .tab__screen_content_tab {
        position: relative;
        left: auto;
        opacity: 1;
        visibility: visible;
      }

      .video {
        opacity: 1;
        visibility: visible;
      }
    }

    &_menu {
      float: left;

      max-width: 150px;

      @media (max-width: 767px) {
        max-width: none;
      }
    }

    &_content_tab {
      float: right;

      max-width: calc(100% - 245px);
    }

    @media (max-width: 1219px) {
      &_content_tab {
        float: left;

        margin-top: -12px;
        margin-left: 70px;

        max-width: 380px;
      }
    }

    @media (max-width: 767px) {
      &_content_tab {
        float: left;

        margin-top: 0;
        margin-left: 0;

        width: 100%;
        max-width: 100%;
      }
    }
  }
}


// CONTENT IN SMALL TABS
.content_tab {
  .btn {
    transition: all 0.5s ease-out
  }

  &__content {
    float: left;
    width: 320px;

    margin-right: 35px;

    @media (max-width: 1219px) {
      width: 385px;

      margin-right: 0;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__video {
    position: relative;
    float: right;

    width: 600px;
    height: 400px;

    overflow: hidden;

    .video {
      height: 100%;
    }

    @media (max-width: 1219px) {
      display: none;

      .video {
        display: none;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;

    margin-top: 30px;
    margin-bottom: 15px;

    color: black;
    font-family: 'OpenSans-Extrabold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;

    overflow: hidden;

    span {
      display: block;
    }

    @media (min-width: 1220px) {
      width: 510px;
    }

    @media (max-width: 1219px) {
      width: 500px;

      margin-top: 0;
    }

    @media (max-width: 767px) {
      width: auto;

      font-size: 18px;

      margin-bottom: 30px;
    }
  }

  &__subtitle {
    color: #808080;
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;

    overflow: hidden;

    span {
      display: block;
    }
  }

  &__links {
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    overflow: hidden;

    &_block {
      a:first-of-type {
        font-family:    'OpenSans-Extrabold', sans-serif;
      }
    }

    a {
      display: block;

      position: relative;
      flex-basis: 33%;
      margin-bottom: 25px;
      padding-right: 5px;

      color: black;
      font-family: 'PTSans-Regular', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;

      transition: color .3s ease;

      &:hover {
        color: #a70a3f;
      }
      &:before{
        content: '';
        display: block;
        pointer-events: none;
        position: absolute;
        bottom: -13px;
        left: 0;
        width: 9px;
        height: 1px;
        background-color: $red;
        opacity: 0.54;
      }

      @media (max-width: 767px) {
        font-size: 12px;
      }

      .empty-place-holder {
        height: 0;
        flex-basis: 33%;
      }
    }

    + .content_tab__button {
      margin-top: 15px;
    }

    :empty + .content_tab__button {
      margin-top: 40px;
    }
  }

  &__button {
    margin-top: 40px;
    position: relative;

    overflow: hidden;

    @media (max-width: 767px) {
      .btn {
        width: 100%;
      }
    }
  }
}

// ANIMATIONS
.d_animation {
  position: absolute;
  z-index: 1;

  background: white;

  &__button {
    width: 0;
    height: 100%;

    left: 0;
    top: 0;
  }

  &__video {
    width: 100%;
    height: 0;

    top: 0;
    left: 0;
  }
}