//begin about
.about.js-scene(data-offset='-45' class=aboutClass)
	.about__container.container
		.about__row
			.about__col
				.about__title.js-motion(data-motion='motion3' data-move-up='20' data-speed-rect='0.3')
					p для записи на прием позвоните
				.about__phone.js-motion(data-motion='motion3' data-move-up='40' data-move-delay='0.1' data-main-delay='0' data-move-up-speed='0.75' data-speed-rect='0.3')
					a(href='tel:0445937787') 044 593 77 87
			.about__col
				.about__title.js-motion(data-motion='motion3' data-move-up='20' data-main-delay='0' data-speed-rect='0.3')
					p или оставьте заявку через форму записи
				a.about__button.btn.btn_red.js-motion(href='#' data-motion='motion4' data-main-delay='1' data-speed-rect='0.3')
					| оставить заявку
					.btn__icon
//end about