footer.footer
	.footer__top
		.footer__container.container
			ul.footer__nav.nav.nav_footer
				li.nav__item
					a.nav__link(href='#') о клинике
				li.nav__item
					a.nav__link(href='#') врачи
				li.nav__item
					a.nav__link(href='#') услуги
				li.nav__item
					a.nav__link(href='#') технологии
				li.nav__item
					a.nav__link(href='#') истории
				li.nav__item
					a.nav__link(href='#') публикации
				li.nav__item
					a.nav__link(href='#') контакты
			ul.footer__socials.socials
				li.socials__item
					a.socials__link(href='#')
						+i('fb')
				li.socials__item
					a.socials__link(href='#')
						+i('insta-original')
				li.socials__item
					a.socials__link(href='#')
						+i('tw')
				li.socials__item
					a.socials__link(href='#')
						+i('yt')
	.footer__bot
		.footer__container.container
			.footer__copy © Porcelain, 2016
			a.footer__vintage(href='http://vintage.com.ua' target="_blank")
				+i('vintage')