header.header
	.header__top
		.container
			a.header__phone(href='tel:0445937787') 044 593-77-87
			a.header__login(href='#') Войти
			ul.header__lang.header__lang_parent.js-lang
				li.header__lang-item.active
					a.header__lang-link(href='#') ru
					ul.header__lang
						li.header__lang-item
							a.header__lang-link(href='#') uk
						li.header__lang-item
							a.header__lang-link(href='#') en
	.header__bot
		.container
			a.header__logo.logo(href='/home.html')
				+i('logo')
			ul.header__nav.nav.nav_header
				li.nav__item
					a.nav__link(href='#') о клинике
				li.nav__item
					a.nav__link(href='#') врачи
				li.nav__item
					a.nav__link(href='#') услуги
				li.nav__item
					a.nav__link(href='#') технологии
				li.nav__item
					a.nav__link(href='#') истории
				li.nav__item
					a.nav__link(href='#') публикации
				li.nav__item
					a.nav__link(href='#') контакты
