include _mixins
include _variables
include ../bemto/index

block vars

doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Template
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    <!-- theme color for android 5.0 -->
    meta(name="theme-color" content="#fff")
    <!-- <meta name="viewport" content="width=1200"> -->
    <!-- <meta name="viewport" content="initial-scale=1, user-scalable=no"> -->
    link(rel='icon', type='image/png', href='favicon.ico')
    block css
      link(rel="stylesheet" media="all" href="css/screen.css")
    <!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->

  body(class=bodyClass)
    include _preloader

    block wrapper
      .wrapper

        include _header

        main.main.js-main
          block content

        +b.to-top.js-to-top
          +e.BUTTON.btn(type='button')
            | вверх
            +i('arrow-right')

    include _footer

    block modals
    block js
      script(src="js/separated/jquery.min.js")
      script(src="js/app.js")