.nav-sub(class=navSubClass)
	ul
		each value, index in navSubMenu
			if navDataAttr
				if navSubToggle === value
					li.active(data-screen-content-id=dataTargetId, data-tab-url=`ajax/services-technology-${index}.json`, data-tab-id=index): a(href='#')= value
				else
					li(data-screen-content-id=dataTargetId, data-tab-url=`ajax/services-technology-${index}.json`, data-tab-id=index): a(href='#')= value
			else
				if navSubToggle === value
					li.active(data-tab-id=index): a(href='#')= value
				else
					li(data-tab-id=index): a(href='#')= value