.preloader
	.preloader__container
		// Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
		.preloader__rect
			.preloader__rect-top
			.preloader__rect-left
			.preloader__rect-right
			.preloader__rect-bottom
			svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 167.1 58.3' style='width: auto; height: 84px;')
				path(d='M167.1,0H0v42.3h167.1V0L167.1,0z M3.4,38.9V3.4h160.3v35.6H3.4L3.4,38.9z')
				path(d='M19.8,12.8h-7v16.6h4v-5.4h3.1c0.1,0,0.3,0,0.4,0c1.6,0,3.2-0.4,4.6-1.3c1.4-1.1,2.1-2.8,2-4.5c0.1-1.4-0.4-2.9-1.4-3.9\
              C24,12.8,21.1,12.8,19.8,12.8L19.8,12.8z M16.8,21v-5.1h2.6c0.2,0,0.3,0,0.5,0c0.9,0,1.7,0.3,2.4,0.8c0.4,0.5,0.6,1.2,0.6,1.8\
              c0.1,0.7-0.2,1.4-0.7,1.9c-0.7,0.4-1.5,0.7-2.4,0.7c-0.1,0-0.2,0-0.4,0H16.8L16.8,21z')
				path(d='M37.4,12.4c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0c-2,0-3.9,0.8-5.3,2.1c-1.7,1.8-2.6,4.2-2.5,6.6\
              c-0.1,2.4,0.8,4.8,2.5,6.6h0c1.4,1.4,3.4,2.1,5.3,2.1c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c2,0,3.9-0.8,5.3-2.1\
              c1.7-1.8,2.6-4.2,2.5-6.6c0.1-2.4-0.8-4.8-2.5-6.6C41.3,13.2,39.4,12.4,37.4,12.4L37.4,12.4z M37.1,26.4c-1.2,0-2.4-0.5-3.1-1.6\
              c-0.7-1.1-1-2.4-0.9-3.6c-0.1-1.3,0.3-2.6,0.9-3.6c0.2-0.3,0.5-0.6,0.8-0.8c0.7-0.5,1.5-0.7,2.3-0.7c1.2,0,2.4,0.5,3.1,1.6\
              c0.7,1.1,1,2.4,0.9,3.6c0.1,1.3-0.3,2.6-0.9,3.7l0,0c-0.2,0.3-0.5,0.6-0.8,0.8C38.7,26.1,37.9,26.4,37.1,26.4L37.1,26.4z')
				path(d='M55.5,12.8h-7v16.6h3.9v-5.9h2.6l3.2,5.9h4.4L59,22.8c2.1-0.6,3.6-2.6,3.4-4.8c0.1-1.5-0.6-3-1.7-3.9\
              C59.1,12.9,56.9,12.8,55.5,12.8L55.5,12.8z M52.4,20.5v-4.7h2.8c0.2,0,0.3,0,0.5,0c0.7,0,1.4,0.2,2,0.6c0.4,0.5,0.7,1.1,0.6,1.8\
              c0.1,0.8-0.3,1.7-1.1,2c-0.6,0.2-1.2,0.3-1.7,0.3c-0.1,0-0.2,0-0.3,0H52.4L52.4,20.5L52.4,20.5L52.4,20.5z')
				path(d='M73.7,12.5c-0.1,0-0.2,0-0.2,0c-0.1,0-0.2,0-0.2,0c-2.1,0-4.1,0.9-5.5,2.4c-1.6,1.7-2.4,4-2.3,6.4c-0.1,2.2,0.6,4.3,1.9,6\
              c1.4,1.7,3.5,2.7,5.7,2.7c0.1,0,0.2,0,0.3,0c0,0,0.1,0,0.1,0c1.4,0,2.7-0.4,3.9-1.1c1.2-0.8,2.2-1.9,2.8-3.2L77,24.1\
              c-0.2,0.6-0.6,1-1,1.5c-0.6,0.6-1.5,0.9-2.3,0.9c-0.1,0-0.1,0-0.2,0c0,0-0.1,0-0.1,0c-1.1,0-2.2-0.5-2.9-1.5\
              c-0.7-1.1-1.1-2.5-1-3.8c-0.1-1.5,0.3-2.9,1.2-4.1c0.7-0.8,1.7-1.2,2.7-1.2c0.7,0,1.4,0.2,2.1,0.6c0.6,0.4,1.1,1.1,1.4,1.8l3.1-1.6\
              c-0.4-0.9-1-1.7-1.7-2.4C77,13.1,75.4,12.5,73.7,12.5L73.7,12.5z M76.9,18.3L76.9,18.3L76.9,18.3C76.9,18.3,76.9,18.3,76.9,18.3\
              L76.9,18.3z')
				polygon(points='95.5,12.8 83.4,12.8 83.4,29.5 96.2,29.5 96.2,26.3 87.4,26.3 87.4,22.3 94.7,22.3 94.7,19.2 87.4,19.2 87.4,16.1 \
              95.5,16.1 95.5,12.8 	')
				polygon(points='104.3,12.8 100.3,12.8 100.3,29.5 110.6,29.5 110.6,26.1 104.3,26.1 104.3,12.8 	')
				path(d='M123,12.8h-4.2l-6.1,16.6l4.3,0l0.9-2.6h6l0.8,2.6h4.3L123,12.8L123,12.8z M118.9,23.8l2.1-6.6l2,6.6L118.9,23.8\
              L118.9,23.8z')
				polygon(points='135.6,12.8 131.6,12.8 131.6,29.5 135.6,29.5 135.6,12.8 	')
				polygon(points='154.2,12.8 150.5,12.8 150.8,24.4 144.4,12.8 140.3,12.8 140.3,29.5 144.1,29.5 143.7,18.1 150.1,29.5 154.2,29.5 \
              154.2,12.8 	')
				path(d='M158.2,6.5c-1,0-1.9,0.8-2,1.9c0,0.1,0,0.2,0,0.2c0.1,1.1,1,2,2.1,2c0,0,0.1,0,0.1,0c1.1-0.1,1.9-0.9,2-2\
              c0.1-1.1-0.8-2-1.9-2.1h-0.2h0C158.3,6.5,158.3,6.5,158.2,6.5L158.2,6.5z M158.3,10.4c-0.8,0-1.5-0.7-1.6-1.5c0-0.1,0-0.1,0-0.2\
              c0.1-0.9,0.8-1.6,1.7-1.6c0,0,0.1,0,0.1,0c0.8,0.1,1.5,0.7,1.6,1.6c0.1,0.9-0.6,1.6-1.5,1.7L158.3,10.4\
              C158.3,10.4,158.3,10.4,158.3,10.4L158.3,10.4z M158.5,7.5h-0.9v2.3h0.4V9h0.4l0.6,0.8h0.5L158.8,9c0.3-0.1,0.6-0.4,0.6-0.7l0,0\
              C159.4,7.8,159,7.5,158.5,7.5L158.5,7.5z M158,8.7V7.8h0.5c0.3,0,0.5,0.1,0.5,0.4c0,0.3-0.2,0.4-0.5,0.4H158L158,8.7z')
		.preloader__text
			svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 167.1 58.3' style='width: auto; height: 84px;')
				path(d='M100.4,50.4c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0c-0.4,0-0.8,0.1-1.2,0.2c-0.4,0.1-0.8,0.3-1.1,0.5l0.6,0.9\
                      c0.5-0.3,1.1-0.5,1.6-0.5c0,0,0.1,0,0.1,0c0.3,0,0.5,0.1,0.7,0.2c0.2,0.1,0.3,0.3,0.3,0.5c0,0.3-0.2,0.5-0.4,0.6\
                      c-0.4,0.1-0.8,0.2-1.2,0.2c-0.1,0-0.1,0-0.2,0h-0.5v1h0.6c0.1,0,0.1,0,0.2,0c0.4,0,0.9,0.1,1.3,0.2c0.3,0.1,0.5,0.3,0.5,0.6\
                      c0,0.6-0.5,0.9-1.5,0.9c-0.3,0-0.7,0-1-0.1c-0.3-0.1-0.6-0.2-0.9-0.3v1.1c0.6,0.2,1.3,0.3,1.9,0.3c0.1,0,0.1,0,0.2,0\
                      c0.1,0,0.1,0,0.2,0c0.6,0,1.2-0.2,1.7-0.5c0.4-0.3,0.7-0.8,0.7-1.3c0-0.4-0.2-0.8-0.4-1c-0.4-0.3-0.8-0.4-1.3-0.5\
                      c0.4,0,0.8-0.2,1.1-0.5c0.3-0.3,0.4-0.6,0.4-1c0-0.4-0.2-0.9-0.6-1.1v0C101.4,50.5,100.9,50.4,100.4,50.4L100.4,50.4z M120.5,50.4\
                      c-0.5,0-1,0.2-1.4,0.6c-0.4,0.4-0.6,1-0.6,1.5c0,0.5,0.1,1,0.5,1.4c0.3,0.3,0.7,0.5,1.2,0.5c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0\
                      c0.3,0,0.5-0.1,0.7-0.2c0.2-0.1,0.4-0.3,0.6-0.5h0c0,0.4-0.1,0.8-0.2,1.1c-0.1,0.3-0.4,0.5-0.6,0.6c-0.3,0.1-0.6,0.2-1,0.2\
                      c0,0-0.1,0-0.1,0c0,0,0,0,0,0c-0.2,0-0.5,0-0.7-0.1v1c0.2,0,0.5,0.1,0.7,0.1c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.2,0\
                      c0.8,0,1.5-0.3,2.1-0.9c0.6-0.8,0.8-1.7,0.8-2.7c0-0.5-0.1-1-0.3-1.4l0,0c-0.2-0.4-0.4-0.7-0.8-0.9c-0.3-0.2-0.7-0.3-1.1-0.3\
                      c0,0,0,0,0,0C120.6,50.4,120.6,50.4,120.5,50.4L120.5,50.4z M120.6,53.4c-0.2,0-0.4-0.1-0.6-0.3c-0.1-0.2-0.2-0.5-0.2-0.7\
                      c0-0.3,0.1-0.6,0.2-0.8c0.1-0.2,0.4-0.3,0.6-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0.3,0,0.5,0.1,0.7,0.3h0c0.2,0.2,0.3,0.5,0.3,0.8\
                      c0,0.2-0.1,0.4-0.3,0.6C121.1,53.3,120.9,53.4,120.6,53.4C120.6,53.4,120.6,53.4,120.6,53.4L120.6,53.4z M114.8,50.4\
                      c-0.5,0-1,0.2-1.4,0.6c-0.4,0.4-0.6,1-0.6,1.5c0,0.5,0.1,1,0.5,1.4c0.3,0.3,0.7,0.5,1.2,0.5c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0\
                      c0.3,0,0.5-0.1,0.7-0.2c0.2-0.1,0.4-0.3,0.6-0.5c0,0.4-0.1,0.8-0.2,1.1c-0.1,0.3-0.4,0.5-0.6,0.6c-0.3,0.1-0.6,0.2-1,0.2\
                      c0,0-0.1,0-0.1,0c0,0,0,0,0,0c-0.2,0-0.5,0-0.7-0.1v1c0.2,0,0.5,0.1,0.7,0.1c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.2,0\
                      c0.8,0,1.5-0.3,2.1-0.9c0.6-0.8,0.8-1.7,0.8-2.7c0-0.5-0.1-1-0.3-1.4l0,0c-0.2-0.4-0.4-0.7-0.8-0.9c-0.3-0.2-0.7-0.3-1.1-0.3\
                      c0,0,0,0,0,0C114.9,50.4,114.8,50.4,114.8,50.4L114.8,50.4z M114.8,53.4c-0.2,0-0.4-0.1-0.6-0.3c-0.1-0.2-0.2-0.5-0.2-0.7\
                      c0-0.3,0.1-0.6,0.2-0.8c0.1-0.2,0.4-0.3,0.6-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0.3,0,0.5,0.1,0.7,0.3h0c0.2,0.2,0.3,0.5,0.3,0.8\
                      c0,0.2-0.1,0.4-0.3,0.6C115.4,53.3,115.1,53.4,114.8,53.4C114.9,53.4,114.9,53.4,114.8,53.4L114.8,53.4z M142.2,50.4\
                      c-0.7,0-1.4,0.3-2,0.8c-0.5,0.6-0.8,1.5-0.8,2.3c-0.1,0.8,0.2,1.7,0.8,2.3c0.6,0.5,1.4,0.8,2.1,0.8c0.8,0,1.5-0.3,2.1-0.8\
                      c1-1.4,1-3.2,0-4.6l0,0c-0.5-0.5-1.2-0.8-2-0.8c-0.1,0-0.1,0-0.2,0C142.3,50.4,142.2,50.4,142.2,50.4L142.2,50.4z M141.2,52\
                      c0.3-0.3,0.7-0.5,1.1-0.5c0,0,0.1,0,0.1,0c1,0,1.5,0.7,1.5,2c0,1.3-0.5,2-1.5,2c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0\
                      c-0.4,0-0.8-0.2-1.1-0.5C140.7,54,140.7,52.9,141.2,52L141.2,52L141.2,52z M148.6,50.4h-1.3v6.1h1.3v-3l2.2,3.1h1.5l-2.3-3.1l0,0v0\
                      l0,0l2.2-2.9h-1.4l-2.2,2.9V50.4L148.6,50.4z M91.3,50.4h-1.5l-2.1,6.1H89l0.4-1.4h2.3l0.4,1.4h1.3L91.3,50.4L91.3,50.4z M89.8,54\
                      c0.4-1.4,0.7-2.3,0.8-2.6c0,0.1,0.1,0.3,0.1,0.4l0.7,2.2H89.8L89.8,54z M56.3,50.4h-1.6l-2.1,6.1h1.4l0.4-1.4h2.2l0.5,1.4l1.4,0\
                      L56.3,50.4L56.3,50.4z M54.6,54c0.4-1.4,0.7-2.3,0.8-2.6c0,0.1,0,0.3,0.1,0.4l0.7,2.2H54.6L54.6,54z M110.4,50.5L110.4,50.5\
                      L110.4,50.5L110.4,50.5z M110.4,50.5h-1l-2,1.6l0.6,0.8l0.7-0.6l0.4-0.4v4.7h1.3V50.5L110.4,50.5z M70.7,50.5c-0.1,0-0.1,0-0.2,0\
                      h-1.9v6.1H70v-2.2h0.5c0.1,0,0.1,0,0.2,0c0.6,0,1.1-0.2,1.6-0.5c0.4-0.4,0.6-0.9,0.6-1.5c0-0.5-0.2-1.1-0.6-1.4h-0.1\
                      C71.8,50.6,71.3,50.5,70.7,50.5L70.7,50.5z M69.9,51.5h0.6c0,0,0.1,0,0.1,0c0.2,0,0.5,0.1,0.7,0.2c0.2,0.2,0.3,0.4,0.2,0.7\
                      c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.5,0.2-0.8,0.2c0,0-0.1,0-0.1,0h-0.4V51.5L69.9,51.5L69.9,51.5L69.9,51.5z M86,50.5h-4.8v6.1h1.3\
                      v-5h2.2v5H86L86,50.5L86,50.5L86,50.5z M79.6,50.5h-1.4L77,53.6l-0.1,0.2l-1.5-3.4h-1.4l2.1,4.4c-0.1,0.2-0.2,0.4-0.4,0.6\
                      c-0.2,0.1-0.3,0.2-0.5,0.2c0,0,0,0,0,0c0,0,0,0-0.1,0c-0.3,0-0.6-0.1-0.8-0.2v1.1c0.3,0.1,0.6,0.1,0.9,0.1c0,0,0.1,0,0.1,0\
                      c0,0,0,0,0.1,0c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.3,0.7-0.5c0.3-0.4,0.5-0.7,0.7-1.2L79.6,50.5L79.6,50.5z M50.9,50.5h-1.3v2.4\
                      h-2.4v-2.4h-1.3v6.1h1.3v-2.6h2.4v2.6h1.3L50.9,50.5L50.9,50.5L50.9,50.5z M43.6,50.5h-1.3v2.7c-0.3,0.1-0.5,0.2-0.8,0.2\
                      c-0.2,0-0.5,0.1-0.7,0.1c0,0-0.1,0-0.1,0c-0.2,0-0.4-0.1-0.6-0.2c-0.1-0.2-0.2-0.4-0.2-0.7v-2.1h-1.3V53c0,0.4,0.1,0.8,0.4,1.2\
                      c0.4,0.3,0.8,0.4,1.2,0.4c0,0,0.1,0,0.1,0c0.3,0,0.5,0,0.8-0.1c0.4-0.1,0.7-0.2,1.1-0.3v2.3h1.3L43.6,50.5L43.6,50.5L43.6,50.5z\
                      M28.4,50.5h-3.5c-0.1,0.9-0.3,1.7-0.5,2.6c-0.3,0.8-0.6,1.6-1,2.4H23v2.8h1.2v-1.8H28v1.8h1.2v-2.8h-0.8V50.5L28.4,50.5z\
                      M24.8,55.5c0.6-1.3,0.9-2.6,1.1-3.9h1.3v3.9H24.8L24.8,55.5z M128,50.5h-3.3l-0.2,3.1l0.5,0.3l0.4-0.1c0.1,0,0.2,0,0.2,0\
                      s0.2,0,0.2,0c0.8,0,1.2,0.3,1.2,0.9c0,0.6-0.4,0.9-1.2,1c-0.6,0-1.1-0.1-1.6-0.4v1.1c0.5,0.2,1,0.3,1.5,0.3c0,0,0.1,0,0.1,0\
                      c0.1,0,0.1,0,0.2,0c0.6,0,1.2-0.2,1.6-0.6c0.4-0.4,0.7-1,0.6-1.6c0-0.5-0.2-1-0.5-1.4c-0.4-0.3-0.8-0.5-1.3-0.5c0,0-0.1,0-0.1,0\
                      c0,0,0,0,0,0c-0.2,0-0.4,0-0.6,0.1l0.1-0.1h-0.1l0.1-1.2h2.1V50.5L128,50.5z M66.8,50.5H63v6.1h1.3v-5h2.5V50.5L66.8,50.5z\
                      M36.5,50.5H35l-2.8,4.6v-4.6H31v6.1l0.1,0h1.6l2.8-4.7c0,0.8-0.1,1.3-0.1,1.7v2.9h1.2V50.5L36.5,50.5z M21.6,50.5h-3.5v6.1h3.5\
                      v-1.1h-2.2v-1.6h2v-1.1h-2v-1.3h2.2V50.5L21.6,50.5z M15.7,50.5h-1.8l-1.5,4.6L11,50.5H9.2v6.1h1.1v-2.8c0-0.3,0-1-0.1-1.9l1.5,4.8\
                      l1.3,0l1.6-4.8c0,0.5,0,0.9-0.1,1.4c0,0.2,0,0.3,0,0.5v2.9h1.2V50.5L15.7,50.5z M135.6,50.5c-0.1,0-0.1,0-0.2,0h-1.9v6.1h1.3v-2.2\
                      h0.6c0.1,0,0.1,0,0.2,0c0.6,0,1.1-0.2,1.6-0.5c0.4-0.4,0.6-0.9,0.6-1.5c0-0.5-0.2-1.1-0.6-1.4l0,0\
                      C136.7,50.7,136.2,50.5,135.6,50.5L135.6,50.5z M134.8,51.6h0.6c0,0,0.1,0,0.1,0c0.2,0,0.5,0.1,0.7,0.2c0.2,0.2,0.3,0.4,0.2,0.7\
                      c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.5,0.2-0.8,0.2c0,0-0.1,0-0.1,0h-0.4V51.6L134.8,51.6L134.8,51.6L134.8,51.6z M158.8,50.5h-1.4\
                      l-1.2,3.2l-0.1,0.2l-1.5-3.4h-1.4l2.1,4.4c-0.1,0.2-0.2,0.4-0.3,0.5c-0.2,0.1-0.3,0.2-0.5,0.2c0,0,0,0,0,0c0,0,0,0-0.1,0\
                      c-0.3,0-0.6-0.1-0.8-0.2v1.1c0.3,0.1,0.6,0.1,0.9,0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0.3,0,0.6-0.1,1-0.2c0.3-0.1,0.5-0.3,0.7-0.5\
                      c0.3-0.4,0.5-0.7,0.7-1.2L158.8,50.5L158.8,50.5z M21.6,55.5L21.6,55.5L21.6,55.5L21.6,55.5L21.6,55.5z')