//begin subscribe
.subscribe
	.subscribe__rel.js-motion.js-scene(data-offset='-40' data-motion='motion3' data-main-delay='0' data-move-up='30' data-speed-line='0.25' data-move-up-speed='0.75' data-speed-rect='0.4')
		.subscribe__container.container
			.subscribe__col
				.subscribe__text.js-motion(data-motion='motion3' data-main-delay='0.1' data-speed-line='0.25' data-speed-rect='0.3')
					p Не забудьте подписаться на нашу рассылку
			.subscribe__col
				//begin form
				.subscribe__form
					.subscribe__btn.btn.btn_red.form__row.js-motion(data-motion='motion4' data-main-delay='0.5' data-speec-rect='0.3')
						| подписаться
						.btn__icon
				//end form
//end subscribe