/* ===================================
	 Pagination
	 =================================== */
.pagination
	+pie-clearfix
	li
		float: left
		margin-right: 1px
		&.last
			margin-right: 0
		&.hidden
			display: none
		a
			display: block
			width: 60px
			height: 60px
			+open-extrabold
			font-size: 12px
			color: $gray-light
			line-height: 60px
			text-align: center
			background-color: #f5f5f5
			+trs
		&:hover a
			background-color: darken(#f5f5f5,10)
		&.active a
			background-color: $red
			color: #ffffff
	