/* Services Blog
	----------------------------------- */
.services-blog
	&__row
		position: relative
		padding-bottom: 60px
		margin-left: -22px
		margin-right: -23px
		font-size: 0
		+pie-clearfix
		+r(1219)
			margin-left: -15px
			margin-right: -15px
			padding-bottom: 30px
		+r(767)
			margin-left: 0
			padding: 30px 0 0
			margin-right: 0
		&:before
			content: ""
			display: table
			clear: both
	&__col
		position: relative
		vertical-align: top
		display: inline-block
		width: 33.33%
		padding-left: 22px
		padding-right: 23px
		font-size: 16px
		+r(1219)
			width: 50%
			padding-left: 15px
			padding-right: 15px
		+r(767)
			width: auto
			display: block
			padding-left: 0
			padding-right: 0
			margin-top: 0
			max-width: 370px
			margin-left: auto
			margin-right: auto
		& + &
			+r(767)
				margin-top: 35px
		&:nth-child(1) ~ &
			margin-top: 90px
		&:nth-child(7) ~ &
			display: none
		+r(1219)
			&:nth-child(1) ~ &
				margin-top: 0
				+r(767)
					margin-top: 45px
			&:nth-child(2) ~ &
				margin-top: 45px
		&_wide
			width: 100%
			+r(1219)
				width: 50%
			+r(767)
				width: 100%
	&__item
		position: relative
		z-index: 1
		display: block
		&-ratio
			position: relative
			+ratio(1,1)
			z-index: 1
		&-inner
			+ratio-in
			z-index: 1
		.motion
			overflow: hidden
			transform: translate3d(0,0,0)
			&__inner
				position: relative
				z-index: 1
				transform: translate3d(0,0,0)
			&__element
				position: absolute
				margin-left: 20px
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: calc(100% + 20px)
				background-color: $red
		img
			width: 100%
			+trs
			+ img
				display: none
	&__col_wide &__item img
		+r(1219)
			display: none
			+ img
				display: block
	&__desc
		padding-top: 40px
		width: calc(100% - 50px)
		+r(1219)
			padding-top: 25px
			width: 100%
		+r(767)
			padding-top: 20px
		&-row
			+pie-clearfix
	&__title
		float: left
		height: 18px
		max-width: calc(100% - 40px)
		+open-extrabold
		font-size: 12px
		line-height: 18px
		text-transform: uppercase
		transition: all 0.5s ease-out
	&__col_wide &__title
		font-size: 18px
		line-height: 24px
		height: 48px
		+r(1219)
			font-size: 12px
			line-height: 18px
			height: auto
	&__text
		margin-top: 22px
		color: $gray-dark
		height: 38px
		+r(1219)
			margin-top: 15px
	&__date
		margin-top: 25px
		+open
		font-size: 12px
		color: $gray-dark
		+r(1219)
			margin-top: 18px
		+r(767)
			margin-top: 15px
	&__icon
		float: left
		margin-left: 33px
		margin-top: 2px
		height: 14px
		width: 3px
		position: relative
		transition: all 0.5s ease-out
		transform: translate3d(0,0,0) rotate(90deg)
		&:before,
		&:after
			content: ''
			position: absolute
			display: block
			right: 0
			width: 3px
			height: 8px
			background-color: #000
			transition: all 0.5s ease-out
			transform: translate3d(0,0,0)
		&:before
			margin-top: 2px
			bottom: 50%
		&:after
			margin-top: -4px
			top: 50%
	&__col_wide &__icon
		margin-top: 6px
		+r(1219)
			margin-top: 4px
	&__item:hover &__title
		color: $red
	&__item:hover &__icon
		transform: translate3d(0,1px,0) rotate(0deg)
		&:before
			background-color: $red
			transform: rotate(-45deg) translateZ(0)
		&:after
			background-color: $red
			transform: rotate(45deg) translateZ(0)
	&__col_wide &__item
		display: flex
		flex-direction: row
		+r(1219)
			display: block
	&__col_wide &__item-ratio
		order: 2
		width: 66.66%
		padding-left: 22px
		+r(1219)
			width: 100%
			padding-left: 0
		&:before
			content: none
			display: none
			+r(1219)
				content: ''
				display: block
	&__col_wide &__item-inner
		position: relative
		top: auto
		left: auto
		right: auto
		bottom: auto
		+r(1219)
			+ratio-in
	&__col_wide &__desc
		order: 1
		width: 33.33%
		display: flex
		padding-right: 23px
		flex-direction: column
		justify-content: center
		+r(1219)
			width: 100%
			display: block
			padding-right: 0
	&__controls
		padding-left: 22px
		padding-right: 23px
		margin-top: 95px
		+pie-clearfix
		+r(1219)
			margin-top: 85px
			padding-left: 15px
			padding-right: 15px
		+r(767)
			margin-top: 45px
			padding-left: 0
			padding-right: 0
	&__btn
		display: none
		+r(767)
			margin-left: auto
			margin-right: auto
			display: block
	&__pagination
		float: right
		+r(1219)
			float: none
			margin-top: 30px
		+r(767)
			display: none
		.motion
			&__element
				background-color: $red
		
	