h1,
h2,
h3,
h4,
h5,
h6
	font-size: inherit
	color: inherit
	font-weight: inherit

.motion
	position: relative
	overflow: hidden
	&__element
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		bottom: 0
	
.to-top
	position: fixed
	z-index: 50
	bottom: 25px
	right: 25px
	pointer-events: none
	+trs
	+r(767)
		display: none
	&__btn
		width: 94px
		height: 35px
		+open-extrabold
		font-size: 12px
		color: #ffffff
		text-transform: uppercase
		text-align: center
		text-indent: 5px
		background-color: rgba($gray-light, .41)
		border-right: 3px solid $gray-light
		opacity: 0
		transition: all 0.25s ease-in
		&:hover
			background-color: $gray-light
		.is-active &
			opacity: 1
			pointer-events: auto
	.icon
		margin-left: 10px
		vertical-align: -2px
		transform: rotate(-90deg)
	&.is-sticky
		position: absolute
		
.btn
	position: relative
	display: inline-block
	width: 300px
	height: 60px
	line-height: 60px
	+open-extrabold
	font-size: 12px
	color: $white
	text-align: center
	text-transform: uppercase
	+r(1219)
		width: 235px
	+r(767)
		width: 290px
	&__hide
		+r(1219)
			display: none
		&-mobile
			+r(767)
				display: none
	.btn__icon
		display: inline-block
		vertical-align: middle
		height: 14px
		width: 3px
		position: relative
		left: 15px
		top: 0
		transition: all 0.5s ease-out
		transform: translate3d(0,0,0)
		&:before,
		&:after
			content: ''
			position: absolute
			display: block
			right: 0
			width: 3px
			height: 8px
			background-color: #ffffff
			transition: all 0.5s ease-out
			transform: translate3d(0,0,0)
		&:before
			margin-top: 4px
			bottom: 50%
		&:after
			margin-top: -4px
			top: 50%
		&_red
			&:before,
			&:after
				background-color: $red
	&:hover &__icon
		&:before
			transform: rotate(-45deg) translateZ(0)
		&:after
			transform: rotate(45deg) translateZ(0)
	&_red
		background-color: $red
	&_black
		background-color: $black
	&_white
		color: $red
		background-color: #ffffff

.arrow-right-anim
	display: inline-block
	vertical-align: middle
	height: 14px
	width: 3px
	position: relative
	transform: translateZ(0)
	transition: all 0.5s ease-out
	&:before,
	&:after
		content: ''
		position: absolute
		display: block
		right: 0
		width: 3px
		height: 8px
		background-color: #000
		transition: all 0.5s ease-out
		transform: translate3d(0,0,0)
	&:before
		margin-top: 4px
		bottom: 50%
	&:after
		margin-top: -4px
		top: 50%
	&.is-active
		&:before
			transform: rotate(-45deg) translateZ(0)
		&:after
			transform: rotate(45deg) translateZ(0)

.arrow-bot-anim
	display: inline-block
	vertical-align: middle
	height: 14px
	width: 3px
	position: relative
	transform: rotate(90deg) translateZ(0)
	transition: all 0.5s ease-out
	&:before,
	&:after
		content: ''
		position: absolute
		display: block
		right: 0
		width: 3px
		height: 8px
		background-color: #000
		transition: all 0.5s ease-out
		transform: translate3d(0,0,0)
	&:before
		margin-top: 4px
		bottom: 50%
	&:after
		margin-top: -4px
		top: 50%
	&.is-active
		&:before
			transform: rotate(-45deg) translateZ(0)
		&:after
			transform: rotate(45deg) translateZ(0)
	&_white:before,
	&_white:after
		background-color: #ffffff


/* ===================================
	 Main Styles
	 =================================== */
.main
	position: relative
	z-index: 1
	padding-top: 122px
	+r(1219)
		padding-top: 105px
	+r(767)
		padding-top: 93px
	
.line-vertical
	pointer-events: none
	position: absolute
	z-index: 1
	top: 0
	width: 1px
	bottom: 0
	+r(767)
		display: none
	&:before,
	&:after
		content: ''
		position: absolute
		z-index: 1
		top: 0
		left: 0
		display: block
		width: 100%
		height: 100%
		background-color: #f5f5f5
	&:before
		+r(1219)
			display: none
			content: none
	&_left
		margin-left: -601px
		left: 50%
		+r(1219)
			margin-left: 0
			left: 0
		&:after
			transform: translateX(300px)
			z-index: 2
			+r(1219)
				transform: none
				left: calc(33.33vw + (24px - 15px) / 3)
	&_right
		margin-right: -601px
		right: 50%
		+r(1219)
			right: 0
			margin-right: 0
		&:after
			transform: translateX(-300px)
			+r(1219)
				transform: none
				left: auto
				right: calc(33.33vw + (24px - 15px) / 3)
	&_mid
		left: 50%
		+r(1219)
			display: none
		&:after
			display: none
			content: none
	
body
	display: flex
	flex-direction: column
	min-height: 100vh
	position: relative
	min-width: 320px
	+pt
	font-size: 14px
	color: #000
	line-height: 1.2
	+smooth
	background-color: #ffffff
	&.is-overflow
		overflow: hidden

.wrapper
	position: relative
	overflow: hidden
	flex: 1 0 auto
	display: flex
	flex-direction: column
	
.main
	position: relative
	flex: 1 0 auto

.container
	position: relative
	z-index: 2
	margin-left: auto
	margin-right: auto
	width: 100%
	max-width: 1200px
	+r(1219)
		max-width: calc(100% - 48px)
	+r(767)
		max-width: calc(100% - 30px)

.preloader
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 1000
	background-color: #ffffff
	transition: all 1s ease-in-out
	&__container
		display: none
		position: absolute
		z-index: 1
		width: 240px
		top: 50%
		left: 50%
		transform: translate(-50%,-50%) scale(1)
		transition: transform 1s ease-in-out, opacity 0.25s linear
	&__rect
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		background-color: #ffffff
		height: 61px
		overflow: hidden
		svg
			fill: $red
		&:before
			content: ''
			position: absolute
			z-index: 3
			top: 5px
			left: 0
			height: 50px
			width: 100%
			background-color: #ffffff
			animation: preloader-text 0.75s forwards linear
		&-top
			position: absolute
			z-index: 4
			top: 0
			height: 6px
			left: 0
			right: 0
			background-color: #ffffff
			animation: preloader-top 0.25s forwards ease-in-out
			animation-delay: 0.75s
		&-bottom
			position: absolute
			z-index: 4
			bottom: 0
			height: 6px
			left: 0
			right: 0
			background-color: #ffffff
			animation: preloader-bottom 0.25s forwards ease-in-out
			animation-delay: 1.24s
		&-left
			position: absolute
			z-index: 4
			top: 0
			width: 6px
			left: 0
			bottom: 0
			background-color: #ffffff
			animation: preloader-left 0.25s forwards ease-in-out
			animation-delay: 0.99s
		&-right
			position: absolute
			z-index: 4
			top: 0
			width: 6px
			right: 0
			bottom: 0
			background-color: #ffffff
			animation: preloader-right 0.25s forwards ease-in-out
			animation-delay: 1.49s
	&__text
		position: absolute
		z-index: 1
		top: -30px
		left: 0
		right: 0
		animation: svg-text 2.5s forwards ease-in-out
		svg
			fill: $red
	.is-loaded &
		opacity: 0
		pointer-events: none
	.is-loaded &__container
		opacity: 0
		transform: translate(-50%,-50%) scale(0.9)

@keyframes preloader-top
	0%
		transform: translateX(0)
	100%
		transform: translateX(-100%)
		
@keyframes preloader-left
	0%
		transform: translateY(0)
	100%
		transform: translateY(100%)
		
@keyframes preloader-bottom
	0%
		transform: translateX(0)
	100%
		transform: translateX(100%)

@keyframes preloader-right
	0%
		transform: translateY(0)
	100%
		transform: translateY(-100%)

@keyframes preloader-text
	0%
		transform: translateX(0)
	10%
		transform: translateX(0)
	75%
		transform: translateX(100%)
	100%
		transform: translateX(100%)
		
@keyframes svg-text
	0%
		top: -30px
	75%
		top: -30px
	100%
		top: 0


/* Helpers
	----------------------------------- */
button
	background-color: transparent

a:hover, a:focus
	text-decoration: none

a
	color: inherit
	text-decoration: none

table
	vertical-align: top

img
	max-width: 100%
	vertical-align: top

.icon
	display: inline-block
	vertical-align: middle

.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

.is-hidden
	display: none
	
.vertical
	display: inline-block
	vertical-align: middle

.cfx
	+pie-clearfix

*
	+selection
		color: #fff
		background-color: $red

.full-section
	min-height: calc(100vh - 121px - 38px - 79px)
	display: flex
	flex-direction: column
	+r(1219)
		min-height: 0
	&_center
		justify-content: center
		align-items: center

.main-title
	+h1-lg
	text-transform: uppercase
	+r(767)
		font-size: 24px
		line-height: 30px
	
.main-subtitle
	font-size: 16px
	color: $gray-dark
		
.category-title
	position: relative
	z-index: 1
	background-color: $red
	+open-extrabold
	font-size: 35px
	color: #ffffff
	line-height: 1
	text-transform: uppercase
	+r(767)
		font-size: 18px
		line-height: 30px
	&__container
		padding-top: 35px
		padding-bottom: 35px
		+r(767)
			padding-top: 15px
			padding-bottom: 15px
	.motion
		+r(767)
			&__inner
				background-color: $red
			&__element
				background-color: $red
			

				
/* ===================================
	 Hamburger
	 =================================== */
.hamburger
	display: none
	position: relative
	z-index: 101
	padding: 11px 5px
	margin-right: -5px
	pointer-events: auto
	-webkit-tap-highlight-color: transparent
	cursor: pointer
	transition-property: opacity, -webkit-filter
	transition-property: opacity, filter
	transition-property: opacity, filter, -webkit-filter
	transition-duration: 0.15s
	transition-timing-function: linear
	font: inherit
	color: inherit
	text-transform: none
	background-color: transparent
	border: 0
	overflow: visible
	transition: all 0.5s
	+r(1219)
		float: right
		display: block
	+r(767)
		padding-top: 4px
		padding-bottom: 4px
	&__box
		width: 23px
		height: 16px
		display: block
		position: relative
	&__inner
		display: block
		top: 50%
		margin-top: -1px
		width: 23px
		height: 2px
		background-color: $gray-light
		position: absolute
		transition-property: -webkit-transform
		transition-property: transform
		transition-property: transform, -webkit-transform
		transition-duration: 0.15s
		transition-timing-function: ease
		&::before, &::after
			width: 23px
			height: 2px
			background-color: $gray-light
			position: absolute
			transition-property: -webkit-transform
			transition-property: transform
			transition-property: transform, -webkit-transform
			transition-duration: 0.15s
			transition-timing-function: ease
		&::before, &::after
			content: ""
			display: block
		&::before
			top: -7px
		&::after
			bottom: -7px
	&.is-active &__inner
		background-color: #000000
	&.is-active &__inner:before,
	&.is-active &__inner:after
		background-color: #000000
	&.is-fixed &__inner:before,
	&.is-fixed &__inner:after
		background-color: #000000
	&_spin &__inner
		transition-duration: 0.3s
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
		&::before
			transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in
		&::after
			transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
	&.is-active &__inner
		-webkit-transform: rotate(225deg)
		transform: rotate(225deg)
		transition-delay: 0.14s
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
		&::before
			top: 0
			opacity: 0
			transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out
		&::after
			bottom: 0
			-webkit-transform: rotate(-90deg)
			transform: rotate(-90deg)
			transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)


/* ===================================
	 Header
	 =================================== */
.header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 100
	background-color: lighten($red,30)
	opacity: 0
	transform: translateY(-40px)
	transition: all 1s ease-in-out
	.is-loaded &
		opacity: 1
		transform: translateY(0)
	&__container
		+pie-clearfix
	&__top
		position: relative
		z-index: 2
		+open-extrabold
		color: #ffffff
		line-height: 38px
		background-color: #000000
		opacity: 0
		transform: translateY(-40px)
		transition: all 1s ease-in-out
		+pie-clearfix
		.is-loaded &
			opacity: 1
			transform: translateY(0)
	&__phone
		float: left
		position: relative
		padding-left: 57px
		+r(767)
			padding-left: 0
		&:before
			content: ''
			position: absolute
			z-index: 1
			top: 50%
			left: 0
			width: 30px
			height: 1px
			background-color: rgba(#ffffff, .2)
			+r(767)
				display: none
				content: none
	&__login
		float: right
		font-size: 12px
		color: rgba(#ffffff, .4)
		text-transform: uppercase
		+trs
		&:hover
			color: $red
	&__lang
		position: relative
		position: relative
		z-index: 101
		float: right
		margin-right: 30px
		font-size: 12px
		text-transform: uppercase
		&-link
			display: block
			position: relative
			padding-left: 10px
			padding-right: 30px
			color: $gray-dark
			line-height: 30px
			background-color: #ffffff
			+trs
			&:before
				content: ''
				position: absolute
				z-index: 1
				top: 50%
				right: 9px
				width: 0
				height: 3px
				margin-top: -2px
				background-color: transparent
				+trs
		&_parent > &-item > &-link
			&:before,
			&:after
				content: ''
				position: absolute
				display: block
				top: 50%
				right: 9px
				width: 8px
				height: 3px
				background-color: #4C4C4C
				transition: all 0.5s ease-in-out
			&:after
				right: 13px
				margin-top: -2px
		&_parent.is-active > &-item > &-link
			&:before,
			&:after
				background-color: #c9c9c9
			&:before
				margin-top: -3px
				transform: rotate(-45deg)
			&:after
				margin-top: -3px
				transform: rotate(45deg)
		&:not(&_parent) &-item:hover > &-link
			color: $red
			&:before
				width: 13px
				background-color: $red
		&-item.active > &-link
			color: #ffffff
			line-height: 38px
		&-item.active > &-link
			background-color: transparent
		&.is-active > &-item > &-link
			color: $red
			background-color: #ffffff
		& &
			display: none
			position: absolute
			z-index: 1
			top: 100%
	&__bot
		padding: 14px 0
		position: absolute
		z-index: 1
		top: 100%
		left: 0
		right: 0
		border-bottom: 1px solid #f5f5f5
		transform: translateY(40px)
		transition: all 1s ease-in-out
		+r(1219)
			padding: 14px 0 11px
		.is-loaded &
			transform: translateY(0)
		.is-fixed &
			background-color: #ffffff
	&__logo
		float: left
		color: $red
		font-size: 0
		+trs
		.icon
			font-size: 53px
			+trs
			+r(1219)
				font-size: 41px
			+r(767)
				font-size: 29px
	&__nav
		float: right
		margin-right: -35px
	&.is-fixed .nav_header
		color: $gray-light
		
		
/* Nav
	----------------------------------- */
.nav
	+open-extrabold
	font-size: 12px
	color: $gray-light
	text-transform: uppercase
	+pie-clearfix
	&__item
		float: left
		padding: 20px 28px 20px 28px
	&_header
		font-size: 14px
		margin-right: -25px
		+trs
		+r(1219)
			display: none
			background-color: #ffffff
			position: fixed
			z-index: 101
			top: 0
			left: 0
			right: 0
			bottom: 0
			height: calc(100vh - 38px)
			padding-top: 100px
			padding-bottom: 30px
			width: 100%
			&.is-active
				display: block
				overflow-y: auto
		+r(767)
			background-color: #ffffff
			position: fixed
			z-index: 101
			top: 0
			left: 0
			right: 0
			bottom: 0
			padding-top: 45px
			padding-bottom: 30px
			width: 100%
	+r(1219)
		&_header &__item
			color: #000000
			float: none
			display: table
			margin-left: auto
			margin-right: auto
			padding: 15px 0
			text-align: center
			font-size: 24px
			line-height: 1
	&_header &__item
		opacity: 0
		transform: translateY(-15px)
		+r(1219)
			transform: none
	&__link
		display: block
		+trs
		&:hover
			color: $red
	&_header &__item.active &__link
		color: $red
		position: relative
		&:before
			content: ''
			position: absolute
			top: -34px
			left: 0
			right: 0
			height: 2px
			background-color: $red
			+r(1219)
				display: none
	&_footer
		color: $gray-light
	&_footer &__item.active &__link
		color: $red
	+r(1219)
		&_footer
			overflow: hidden
			display: flex
			width: 100%
			flex-direction: column
			flex-wrap: wrap
			height: 140px
			+r(767)
				max-height: 160px
		&_footer &__item
			float: none
			display: block
			padding-top: 13px
			padding-bottom: 13px
			width: auto
			flex: 0 0 33.33%
			+r(767)
				padding-top: 10px
				padding-bottom: 10px
				flex: 0 0 25%
	&_footer &__item
		padding-left: 24px
		padding-right: 25px


/* ===================================
	 Footer
	 =================================== */
.footer
	width: 100%
	background-color: lighten($red,30)
	border-top: 1px solid #f5f5f5
	&__top
		overflow: hidden
		padding-top: 12px
		padding-bottom: 12px
		background-color: #ffffff
	&__container
		overflow: hidden
	&__nav
		float: left
		margin-left: -24px
		+r(1219)
			float: none
	&__socials
		margin-top: 15px
		margin-right: -5px
		float: right
		+r(1219)
			float: none
			position: absolute
			left: 66.66%
			top: 33px
			margin-left: 7px
		+r(767)
			left: 50%
			top: 90px
			margin-left: -7px
	&__bot
		padding-top: 13px
		padding-bottom: 10px
		background-color: #000000
		+pie-clearfix
	&__copy
		position: relative
		top: 2px
		float: left
		font-size: 12px
		line-height: 15px
		color: rgba(#ffffff,.2)
	&__vintage
		float: right
		color: rgba(#ffffff, .4)
		.icon
			vertical-align: top
			font-size: 15px

/* Socials
	----------------------------------- */
.socials
	+pie-clearfix
	&__item
		float: left
		& + &
			margin-left: 9px
	&__link
		display: block
		padding: 5px
		font-size: 0
		color: $gray-light
		+trs
		&:hover
			color: $red
	&__item:nth-child(1)
		.icon
			font-size: 13px
	&__item:nth-child(2)
		.icon
			font-size: 13px
	&__item:nth-child(3)
		.icon
			margin-top: 1px
			font-size: 11px
	&__item:nth-child(4)
		.icon
			margin-top: 1px
			font-size: 11px
		

/* ===================================
	 Home Page
	 =================================== */

/* Screen
	----------------------------------- */
.screen
	margin-top: -38px
	position: relative
	color: #ffffff
	min-height: 290px
	.line-vertical
		opacity: 0.1
	.line-vertical_left:after,
	.line-vertical_right:after
		top: 121px
		+r(1219)
			top: 104px
	&__anime
		pointer-events: none
		position: absolute
		z-index: 3
		top: 120px
		left: 0
		right: 0
		height: 0
		+r(1219)
			display: none
		&:before
			content: ''
			position: absolute
			z-index: 1
			left: 50%
			margin-left: -611px
			top: -1px
			width: 20px
			height: 3px
			background-color: #ffffff
			transition: all 1s ease-in-out
			transition-delay: 0.5s
		&.is-loaded
			&:before
				transform: translateY(84px)
		&:after
			content: ''
			position: absolute
			z-index: 1
			right: 50%
			margin-right: -602px
			width: 3px
			height: 3px
			background-color: #ffffff
			transition: all 1s ease-in-out
			transition-delay: 0.5s
		&.is-loaded
			&:after
				transform: translateY(84px)
	&__item
		position: relative
		height: 100vh
		overflow: hidden
		+r(1219)
			height: 540px
	&_md &__item
		+r(767)
			height: 430px
	&_md &__inner
		+r(767)
			margin-top: 0
	&_sm &__item
		height: 620px
		+r(1219)
			height: 575px
		+r(767)
			height: 325px
	&__slider.is-video &__item
		pointer-events: none
	&__video
		pointer-events: auto
		position: absolute
		opacity: 0
		z-index: 1
		top: 50%
		left: 50%
		transform: scale(1.1) translate(-50%, -50%)
		min-width: 100%
		min-height: 100%
		width: auto
		height: auto
		transition: all 1s ease-in-out
		&.is-active
			cursor: pointer
			opacity: 1
		.is-loaded &
			transform: scale(1) translate(-50%, -50%)
	&__video-preload
		pointer-events: auto
		position: absolute
		z-index: 1
		top: 50%
		left: 50%
		transform: scale(1.1) translate(-50%, -50%)
		min-width: 100%
		min-height: 100%
		width: auto
		height: auto
		transition: all 1s ease-in-out
		+r(1219)
			display: none
		&.is-active
			opacity: 0
			pointer-events: none
	&__img
		position: absolute
		z-index: 0
		width: 100%
		height: 100%
		pointer-events: none
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		&_tablet
			display: none
			+r(1219)
				display: block
		&_tablet + &
			+r(1219)
				display: none
		.slick-current &
			transform: scale(1.1)
			transition: all 1s ease-in-out
		.is-loaded .slick-current &
			transform: scale(1)
		&_scale
			transform: scale(1.1)
			transition: all 1s ease-in-out
		.is-loaded &_scale
			transform: scale(1)
	&__container
		position: relative
		height: 100%
		padding-top: 40px
		z-index: 2
		+vertical
	&__play
		display: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: -486px
		top: 50%
		margin-top: 23px
		+open-extrabold
		font-size: 12px
		color: rgba(#ffffff, .5)
		line-height: 1.5
		text-transform: uppercase
		+trs
		+r(1219)
			top: 0
			bottom: 0
			left: auto
			margin-left: 0
			right: 100%
			margin-right: -18px
			width: 42px
		+r(767)
			display: none
		&:hover
			color: #ffffff
		.is-loaded &
			transform: translateX(0)
		&_open-article
			top: auto
			margin-left: -330px
			+r(1219)
				top: 0
		&-text
			display: inline-block
			vertical-align: 2px
			opacity: 0
			transform: translateY(-30px)
			+r(1219)
				display: none
		.icon
			position: relative
			top: -3px
			margin-left: 17px
			width: 28px
			color: #ffffff
			opacity: 0
			+r(1219)
				top: -15px
				margin-left: 0
				left: 3px
			.path
				fill: none
				stroke: #fff
				stroke-width: 3px
				fill-rule: evenodd
				stroke-dasharray: 132px
				stroke-dashoffset: 132px
				transition: all 1.25s ease-in
				transition-delay: 1s
		&:before
			pointer-events: none
			content: ''
			position: absolute
			z-index: 1
			width: 1px
			height: 0
			bottom: 100%
			margin-bottom: 17px
			right: 15px
			background-color: #ffffff
			transition: all 0.75s ease-in-out
			transition-delay: 0.75s
			+r(1219)
				bottom: 50%
				right: 21px
				margin-bottom: 45px
		&:after
			pointer-events: none
			content: ''
			position: absolute
			z-index: 1
			width: 1px
			height: 0
			top: 100%
			margin-top: 10px
			right: 15px
			background-color: #ffffff
			transition: all 0.75s ease-in-out
			transition-delay: 0.75s
			+r(1219)
				margin-top: 15px
				top: 50%
				right: 21px
		.is-loaded &:before,
		.is-loaded &:after
			height: 34px
		.is-loaded & .path
			stroke-dashoffset: 0
	&__slider.is-video &__play
		opacity: 0
		transform: translateX(-30px)
	&__video ~ &__container &__play
		display: block
		+r(767)
			display: none
	&__inner
		margin-top: 125px
		display: inline-block
		vertical-align: middle
		width: 100%
		+r(1219)
			margin-top: -45px
		+r(767)
			margin-top: -53px
	&_sm &__inner
		margin-top: 0
		+r(1219)
			margin-top: -45px
		+r(767)
			margin-top: 15px
	&__title
		position: relative
		max-width: 460px
		margin-left: auto
		margin-right: auto
		+h1-lg
		text-transform: uppercase
		text-align: left
		+trs
		+r(1219)
			max-width: 70%
		+r(767)
			max-width: none
		p
			transform: scale(1.1)
			transition: all 1s ease-in-out
		.is-loaded & p
			transform: scale(1)
	&__slider.is-video &__title,
	&__slider.is-video &__subtitle
		opacity: 0
		transform: translateX(50px)
	&__btn
		position: absolute
		margin-top: 40px
		margin-left: 230px
		transition: all 0.5s ease-out
		+r(1219)
			position: absolute
			left: 74.5%
			top: 100%
			margin-left: 0
		+r(767)
			left: auto
			margin-left: auto
			margin-right: auto
			display: block
	&__scroll
		position: absolute
		bottom: 25px
		right: 70px
		z-index: 1
		+open-extrabold
		font-size: 12px
		color: #ffffff
		text-transform: uppercase
		+trs
		+r(1219)
			right: 57px
		+r(767)
			display: none
		&-text
			display: inline-block
			vertical-align: middle
			opacity: 0
			transform: translateY(-20px)
		&-line
			position: absolute
			z-index: 1
			height: 65px
			width: 3px
			right: -31px
			bottom: -25px
			overflow: hidden
			transform: translateY(-100%)
			&:before
				content: ''
				position: absolute
				z-index: 1
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: #ffffff
			&.is-animated
				&:before
					animation: scroll-btn 2s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96)
					animation-delay: -1s
		&.is-video
			pointer-events: none
			opacity: 0
			transform: translateY(50px)
	&__prev
		position: absolute
		z-index: 3
		bottom: 15px
		left: calc(50% - 615px)
		font-size: 0
		+r(1219)
			left: 5px
		+r(767)
			bottom: 20px
			left: 0
			transform: rotate(180deg)
	&__next
		position: absolute
		z-index: 3
		left: calc(50% - 325px)
		bottom: 15px
		font-size: 0
		+r(1219)
			left: 300px
		+r(767)
			bottom: 20px
			left: auto
			right: 0
	&__prev,
	&__next
		padding: 15px
		color: rgba(#ffffff, .5)
		+trs
		&:hover
			color: #ffffff
	&__dots
		position: absolute
		z-index: 3
		bottom: 15px
		left: calc(50% - 530px)
		font-size: 0
		+trs
		+pie-clearfix
		+r(1219)
			left: 95px
		+r(767)
			display: none
		&-item
			cursor: pointer
			display: inline-block
			+open-extrabold
			font-size: 60px
			color: #ffffff
			& + &
				position: relative
				margin-left: 55px
				font-size: 24px
				color: rgba(#ffffff, .5)
				&:before
					content: ''
					position: absolute
					z-index: 1
					width: 3px
					height: 3px
					pointer-events: none
					background-color: #ffffff
					top: 50%
					margin-top: -2px
					left: -28px
	&__slider.is-video &__dots,
	&__slider.is-video &__prev,
	&__slider.is-video &__next
		pointer-events: none
		opacity: 0
		transform: translateY(50px)
		
@keyframes scroll-btn
	from
		transform: translateY(-100%)
	to
		transform: translateY(100%)
		
/* Inno
	----------------------------------- */
.inno
	padding-top: 90px
	+r(767)
		padding-top: 70px
	&__top
		position: relative
		+pie-clearfix
		&-col
			float: left
			+r(767)
				float: none
			&:nth-child(1)
				position: relative
				margin-left: -40px
				width: 340px
				color: #ffffff
				text-transform: uppercase
				+r(1219)
					width: calc(33.33vw + (24px - 15px) / 3 - 15px)
					margin-left: -24px
				+r(767)
					width: auto
					color: #000000
					margin-left: 0
			& + &
				margin-left: 70px
				margin-top: 97px
				max-width: 460px
				+r(1219)
					margin-left: 30px
					margin-top: 70px
				+r(767)
					display: none
		&-title
			height: 423px
			background-color: $gray-light
			+h1
			+r(1219)
				height: 300px
			+r(767)
				height: auto
				background-color: transparent
			p
				padding: 85px 50px 20px 40px
				+r(1219)
					padding-top: 70px
					padding-left: 24px
					padding-right: 20px
				+r(767)
					padding: 0
			.motion
				overflow: hidden
				&__element
					position: absolute
					z-index: 2
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: $red
				&:before
					content: ''
					position: absolute
					z-index: 1
					top: 57px
					left: 29px
					width: 20px
					height: 3px
					background-color: #ffffff
					+r(1219)
						left: 14px
						top: 40px
					+r(767)
						display: none
		&-subtitle
			+h2
			text-transform: uppercase
			+r(767)
				display: none
		&-text
			margin-top: 36px
			font-size: 16px
			color: $gray-dark
			+r(1219)
				margin-top: 25px
			+r(767)
				display: none
	&__row
		position: relative
		padding-bottom: 100px
		margin-left: -22px
		margin-right: -23px
		+pie-clearfix
		+r(1219)
			margin-left: -15px
			margin-right: -15px
			padding-bottom: 80px
		+r(767)
			margin-left: 0
			padding: 30px 0 0
			margin-right: 0
		&:before
			content: ""
			display: table
			clear: both
	&__col
		position: relative
		margin-top: -131px
		float: left
		width: 33.33%
		padding-left: 22px
		padding-right: 23px
		+r(1219)
			margin-top: -60px
			padding-left: 15px
			padding-right: 15px
		+r(767)
			float: none
			width: auto
			padding-left: 0
			padding-right: 0
			margin-top: 0
		& + &
			+r(767)
				margin-top: 10px
	&__item
		position: relative
		display: block
		padding-bottom: 85px
		+ratio(1,1)
		z-index: 1
		&-inner
			+ratio-in
			z-index: 1
			bottom: 85px
		.motion
			overflow: hidden
			transform: translate3d(0,0,0)
			&__inner
				position: relative
				z-index: 1
				transform: translate3d(0,0,0)
			&__element
				position: absolute
				margin-left: 20px
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: calc(100% + 20px)
				background-color: $red
		img
			width: 100%
			+trs
		&-video
			position: absolute
			z-index: 1
			top: 0
			left: 0
			width: 100%
			height: 100%
			overflow: hidden
			+r(1024)
				display: none
	video
		position: absolute
		z-index: 1
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		height: 100%
		+trs
	&__desc
		pointer-events: none
		position: absolute
		margin-top: -84px
		top: 100%
		left: 0
		opacity: 0
		z-index: 2
		background-color: #ffffff
		padding: 0 0 10px 0
		width: calc(100% - 70px)
		height: 240px
		+r(1219)
			height: auto
			min-height: 178px
			width: 100%
			margin-left: -14px
		+r(767)
			opacity: 1
			transition: all 0.75s ease-in-out
		&.is-transition
			transition: all 0.75s ease-in-out
		&-title
			pointer-events: auto
			padding-top: 40px
			padding-right: 45px
			+open-extrabold
			font-size: 18px
			text-transform: uppercase
			+pie-clearfix
			+r(1219)
				padding-top: 25px
				padding-right: 15px
				padding-left: 14px
			+r(767)
				padding-top: 15px
			&-text
				float: left
				max-width: 200px
				line-height: 1.33
				+r(1219)
					max-width: calc(100% - 14px)
			.icon
				float: right
				margin-top: 4px
				margin-right: 3px
		&-text
			margin-top: 22px
			padding: 0 95px 0 0
			font-size: 16px
			color: $gray-dark
			opacity: 0
			transition: all 0.5s ease-in-out
			+r(1219)
				margin-top: 10px
				padding-left: 14px
				padding-right: 30px
	&__item.is-active &__desc
		transform: translateY(-100%)
		transition: all 0.75s ease-in-out
	&__item.is-active &__desc-text
		opacity: 1
		transition: all 1.25s ease-in-out
	&__item.is-active &__item-inner img
		filter: grayscale(100%)
		transition: all 1s ease-in-out
	&__item.is-active &__item-inner video
		filter: grayscale(100%)
		transition: all 1s ease-in-out
	
/* Inno doctors
	----------------------------------- */
.inno
	&_doctors
		padding-top: 0
		overflow: hidden
	&_doctors &__row
		+r(767)
			display: flex
			flex-direction: column
			align-items: center
			width: 100%
	&_doctors &__col
		margin-top: 0
		+r(1219)
			width: 50%
		+r(767)
			width: 100%
			max-width: 290px
	&_doctors &__item
		+r(1219)
			max-width: 287px
			margin-left: auto
			margin-right: auto
	&_doctors &__col:nth-child(3) ~ &__col
		margin-top: 60px
	&_doctors &__col:nth-child(2) ~ &__col
		+r(1219)
			margin-top: 30px
	&_doctors &__desc
		height: 200px
		width: 230px
		max-width: 100%
		+r(1219)
			width: 230px
			height: 178px
	&_doctors &__desc-title
		padding-right: 30px
		+r(1219)
			padding-right: 15px
		.icon
			margin-top: 4px
			transform: translate3d(0,0,0) rotate(90deg)
			&.is-active
				transform: translate3d(0,2px,0) rotate(0deg)
	&_doctors &__desc-title-text
		max-width: 190px
		

/* Start
	----------------------------------- */
.start
	padding-top: 100px
	font-size: 0
	text-align: right
	+r(1219)
		padding-top: 0
	+r(767)
		padding-top: 40px
	&_open-article
		padding-bottom: 175px
		+r(1219)
			padding-bottom: 90px
		+r(767)
			display: none
	&_open-item
		padding-top: 145px
		padding-bottom: 0
		+r(1219)
			padding-top: 90px
			padding-bottom: 40px
		+r(767)
			display: block
			padding-bottom: 30px
	&__container
		+pie-clearfix
	&__list
		+r(1219)
			display: flex
			flex-wrap: wrap
			width: calc(100% + 30px)
			margin-left: -15px
			margin-right: -15px
			padding-left: 15px
			padding-right: 15px
			justify-content: center
	&__item
		position: relative
		overflow: hidden
		display: inline-block
		vertical-align: top
		width: 25%
		text-align: left
		transform: translate3d(0,0,0)
		+r(1219)
			width: calc(33.33% - 15px)
			flex: 1 0 auto
			&:nth-child(3n+2)
				width: 33.33%
				+r(767)
					width: 100%
			&:nth-child(1)
				+r(767)
					order: 1
			&:nth-child(2)
				+r(767)
					order: 3
			&:nth-child(3)
				+r(767)
					order: 2
			&:nth-child(4)
				order: 6
				width: calc(33.33% - 15px)
				+r(767)
					width: 100%
					order: 4
			&:nth-child(5)
				order: 4
				width: calc(33.33% - 15px)
				+r(767)
					width: 100%
					order: 6
			&:nth-child(6)
				order: 5
				width: 33.33%
				+r(767)
					width: 100%
		+r(767)
			height: 113px
			width: 100%
			&:before
				display: none
				content: none
		&:not(&_title)
			+ratio(1,1)
			+r(767)
				&:before
					display: none
					content: none
		&_red
			color: #ffffff
			+r(767)
				background-color: $red
			.motion
				&__inner
					background-color: $red
		&_white
			background-color: #ffffff
			+r(767)
				border-bottom: 1px solid #f5f5f5
			.motion
				overflow: hidden
				&:before
					content: ''
					position: absolute
					z-index: 0
					left: 0
					right: 0
					top: 0
					height: 1px
					background-color: #f5f5f5
				&:after
					content: ''
					position: absolute
					z-index: 0
					left: 0
					right: 0
					bottom: 0
					height: 1px
					background-color: #f5f5f5
		&_title
			display: block
			float: right
			height: 400px
			margin-bottom: -100px
			overflow: visible
			+h1
			color: #ffffff
			text-transform: uppercase
			background-color: $gray-light
			+r(1219)
				height: 425px
				margin-bottom: -190px
				width: calc(33.33vw + (24px - 15px) / 3 - 15px)
				margin-right: -24px
			+r(767)
				float: none
				width: auto
				margin-right: 0
				color: #000000
				margin-bottom: 30px
				height: auto
				background-color: transparent
			p
				padding: 85px 50px 20px 40px
				+r(1219)
					padding-top: 70px
					padding-right: 20px
					padding-left: 24px
				+r(767)
					padding: 0
			.motion
				overflow: hidden
				position: relative
				&__element
					position: absolute
					z-index: -2
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: $red
				&:after
					content: ''
					position: absolute
					z-index: 1
					top: 55px
					left: 29px
					width: 20px
					height: 3px
					background-color: #ffffff
					+r(1219)
						left: 14px
						top: 40px
					+r(767)
						display: none
		&_open-article
			overflow: hidden
			float: left
			margin-bottom: 0
			+ratio(1,1)
			background-color: $red
			height: auto
			+r(1219)
				width: calc(33.33vw + (24px - 15px) / 3 - 15px)
				margin-left: -24px
				margin-bottom: -250px
				height: 425px
				&:before
					display: none
					content: none
			p
				top: 0
				left: 0
				right: 0
				position: absolute
				+r(767)
					position: relative
					top: auto
					left: auto
					right: auto
		&_open-item
			+r(1219)
				margin-bottom: -180px
			+r(767)
				float: none
				width: auto
				margin-left: 0
				margin-bottom: 30px
				margin-right: 0
				height: auto
				background-color: transparent
		.motion
			overflow: hidden
			z-index: 0
			+ratio-in
			+r(767)
				position: relative
			&__inner
				position: relative
				z-index: 1
			&__element
				position: absolute
				z-index: 2
				pointer-events: none
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: $red
		&-desc
			padding: 45px 0 0
			z-index: 1
			+ratio-in
			display: flex
			flex-direction: column
			overflow: hidden
			+r(1219)
				padding-top: 40px
			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: -1
				background-color: $gray-light
				transform: translateX(-100%)
				transition: all 0.5s ease-in-out
				+r(1219)
					display: none
					content: none
		&:hover &-desc
			&:before
				transform: translateX(0)
	&_open-item &__item:not(&__item_title)
		+r(767)
			&:nth-child(1)
				border-left: none
				border-right: none
				order: 2
				background-color: $red
				.start__title
					color: #ffffff
				.start__title-icon
					&:before,
					&:after
						background-color: #ffffff
				.motion
					&__inner
						background-color: $red
			&:nth-child(2)
				order: 1
			&:nth-child(3)
				order: 3
	img
		position: absolute
		z-index: 1
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100%
		height: 100%
		+r(767)
			height: auto
	video
		position: absolute
		z-index: 1
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		height: 100%
		+r(1024)
			display: none
	&__hide
		flex: 1 0 auto
		overflow: hidden
		transform: translateX(-100%)
		transition: all 0.5s ease-in-out
		+r(1219)
			position: absolute
			z-index: 100
			top: 0
			left: 0
			right: 0
			bottom: 0
			transform: none
	&__item:hover &__hide
		transform: translateX(0)
	&__title
		position: relative
		z-index: 2
		flex: 0 0 auto
		padding: 0 30px
		+open-extrabold
		font-size: 18px
		text-transform: uppercase
		line-height: 1.33
		transition: all 0.5s ease-in-out
		+pie-clearfix
		+r(1219)
			padding: 0 24px
		&-text
			float: left
			max-width: 190px
			transform: translate3d(0,0,0)
		&-icon
			float: right
			height: 13px
			width: 3px
			position: relative
			top: 5px
			right: 3px
			transform: rotate(90deg) translate3d(0,0,0)
			transition: all 0.5s ease-in-out
			+r(1219)
				display: none
			+r(767)
				display: block
			&:before,
			&:after
				content: ''
				position: absolute
				display: block
				right: 0
				width: 3px
				height: 8px
				background-color: #ffffff
				transition: all 0.5s ease-in-out
				transform: translateZ(0)
			&_black:before,
			&_black:after
				background-color: #000000
			&:before
				margin-top: 4px
				bottom: 50%
			&:after
				margin-top: -4px
				top: 50%
	&__item_white &__title-text
		+r(767)
			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 24px
				bottom: 0
				background-color: #ffffff
	&__item:hover &__title-icon
		transform: translateY(-3px) rotate(90deg)
		&:before
			transform: rotate(-45deg) translateZ(0)
		&:after
			transform: rotate(45deg) translateZ(0)
	&__item:hover &__title-icon_black:before,
	&__item:hover &__title-icon_black:after
		background-color: #ffffff
	&__item:hover &__title
		color: #ffffff
		+r(1219)
			color: #000000
	&__item_red &__title
		+r(1219)
			color: #ffffff
	&__item_white
		+r(767)
			border-left: 1px solid #f5f5f5
			border-right: 1px solid #f5f5f5
	&__item_white:last-child
		+r(1219)
			border-right: 1px solid #f5f5f5
	&__item_title &__title
		font-size: 24px
		color: #ffffff
		line-height: 1.25
	&__text
		position: relative
		margin-top: 18px
		padding: 0 30px
		font-size: 16px
		color: rgba(#ffffff, .75)
		top: 20px
		opacity: 0
		transform: translateX(100%)
		transition: top 0.5s ease-in-out 0.15s, transform 0.5s ease-in-out, opacity 0.5s ease-in-out
		+r(1219)
			display: none
	&__item:hover &__text
		top: 0
		opacity: 1
		transform: translateX(0)
		transition: top 0.5s ease-in-out 0.15s, transform 0.5s ease-in-out, opacity 0.75s ease-in-out 0.15s
	&__btn
		position: absolute
		z-index: 1
		bottom: 0
		left: 100%
		width: 100%
		display: block
		padding-top: 24px
		padding-bottom: 23px
		padding-left: 30px
		+open-extrabold
		font-size: 12px
		color: #ffffff
		line-height: 12px
		text-transform: uppercase
		background-color: #989a9e
		transform: translate(0,100%)
		+r(1219)
			z-index: 1000
			left: 0
			top: 0
			right: 0
			bottom: 0
			transform: none
			opacity: 0
		&-icon
			display: inline-block
			vertical-align: middle
			height: 14px
			width: 3px
			position: relative
			left: 12px
			top: 0
			transition: all 0.5s ease-in-out
			&:before,
			&:after
				content: ''
				position: absolute
				display: block
				right: 0
				width: 3px
				height: 8px
				background-color: #ffffff
				transition: all 0.5s ease-in-out
				transform: translate3d(0,0,0)
			&:before
				margin-top: 4px
				bottom: 50%
			&:after
				margin-top: -4px
				top: 50%
		&:hover &-icon
			transform: translateX(-3px) translateZ(0)
			&:before
				transform: rotate(-45deg) translateZ(0)
			&:after
				transform: rotate(45deg) translateZ(0)
	&__item &__btn
		transition: transform 0.5s ease-in-out 0.5s, left 0.5s ease-in-out 0.5s
	&__item:hover &__btn
		left: 0
		transform: translate(0,0)
		transition: transform 0.5s ease-in-out 0.4s, left 0.5s ease-in-out 0s
	&__button
		overflow: hidden
		width: 25%
		position: relative
		right: -1px
		margin-right: 1px
		z-index: 2
		+r(1219)
			display: none
		.motion
			overflow: hidden
			position: relative
		
/* Why
	----------------------------------- */
.why
	padding-top: 180px
	+r(1219)
		padding-top: 90px
	+r(767)
		padding-top: 70px
	&_about
		padding-top: 145px
		+r(1219)
			padding-top: 90px
		+r(767)
			padding-top: 55px
	&__top
		position: relative
		+pie-clearfix
		&-col
			float: left
			&:nth-child(1)
				position: relative
				margin-left: -40px
				margin-bottom: -60px
				width: 340px
				height: 336px
				color: #ffffff
				text-transform: uppercase
				background-color: $red
				+r(1219)
					width: calc(33.33vw + (24px - 15px) / 3 - 15px)
					margin-left: -24px
					margin-bottom: -110px
				+r(767)
					float: none
					width: auto
					height: auto
					color: #000000
					margin-left: 0
					margin-bottom: 30px
					background-color: transparent
				p
					padding: 85px 50px 20px 40px
					+r(1219)
						padding-top: 70px
						padding-left: 24px
						padding-right: 20px
					+r(767)
						padding: 0
				.motion
					overflow: hidden
					&__element
						position: absolute
						z-index: 2
						top: 0
						left: 0
						right: 0
						bottom: 0
						background-color: $red
					&:before
						content: ''
						position: absolute
						z-index: 1
						top: 57px
						left: 29px
						width: 20px
						height: 3px
						background-color: #ffffff
						+r(767)
							display: none
							content: none
			&_about
				&:nth-child(1)
					margin-bottom: -150px
					+r(767)
						margin-bottom: 0
			& + &
				margin-left: 70px
				margin-top: 97px
				max-width: 460px
				+r(1219)
					margin-left: 30px
					margin-top: 70px
				+r(767)
					display: none
		&-title
			+h1
		&-subtitle
			+h2
			text-transform: uppercase
			+r(767)
				display: none
		&-text
			margin-top: 36px
			font-size: 16px
			color: $gray-dark
			+r(767)
				display: none
	&__row
		position: relative
		padding-bottom: 100px
		display: table
		width: 100%
		+r(1219)
			display: block
			padding-bottom: 70px
		+r(767)
			padding-bottom: 65px
	&__col
		position: relative
		display: table-cell
		height: 100%
		width: 25%
		transition: all 1s ease-in-out
		+r(767)
			color: $gray-light
		&_about
			&:nth-child(2n)
				color: #ffffff
				+r(1219)
					color: #000000
			&:nth-child(2n + 1)
				color: #000000
				+r(1219)
					color: #ffffff
		&:nth-child(2n):not(&_about)
			color: #ffffff
			+r(767)
				color: $gray-light
		+r(1219)
			display: block
			&:before,
			&:after
				content: ''
				position: absolute
				z-index: 1
				width: 0
				top: 0
				bottom: 0
				background-color: $gray-light
		+r(767)
			width: auto
		& + &
			+r(767)
				margin-top: 30px
	&__item
		position: relative
		min-height: 400px
		height: 400px
		background-color: #ffffff
		+r(1219)
			min-height: 244px
			height: 244px
		+r(767)
			min-height: 0
			height: auto
		&_about
			height: 338px
			min-height: 338px
			+r(1219)
				min-height: 267px
				height: 267px
			+r(767)
				padding: 30px
		img
			position: absolute
			z-index: 1
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
		.motion
			overflow: hidden
			position: relative
			&__element
				position: absolute
				z-index: 2
				top: 0
				left: 0
				background-color: $red
			&__inner
				padding: 45px 30px
				+r(1219)
					padding-left: 24px
					padding-right: 24px
				+r(767)
					padding: 0
		&_about .motion__inner
			padding-top: 30px
			+r(767)
				padding: 30px
	&__col:nth-child(2n):not(&__col_about) &__item
		background-color: $gray-light
		+r(767)
			background-color: transparent
	&__title
		position: relative
		z-index: 2
		margin-top: 28px
		+open-extrabold
		font-size: 12px
		line-height: 1.5
		text-transform: uppercase
		+pie-clearfix
		+r(767)
			color: #000000
			margin-top: 10px
	&__col_about:nth-child(2n+1) &__title
		+r(767)
			color: #ffffff
	&__text
		position: relative
		z-index: 2
		margin-top: 23px
		font-size: 16px
		color: $gray-dark
		+trs
		+r(1219)
			display: none
	&__col_about &__text
		+r(1219)
			display: block
		&:nth-child(2n + 1)
			color: #ffffff
	&__col:nth-child(2n):not(&__col_about) &__text
		color: rgba(#ffffff, .75)
	&__number
		position: relative
		z-index: 2
		+open-extrabold
		font-size: 60px
		text-transform: uppercase
		+r(767)
			font-size: 30px
			line-height: 1
	&__prev,
	&__next
		opacity: 0.61
		position: absolute
		z-index: 10
		bottom: 0
		font-size: 0
		padding-top: 8px
		padding-bottom: 8px
		+trs
		&:focus
			opacity: 1
		.icon
			font-size: 12px
	&__prev
		left: 0
		transform: rotate(180deg) translate3d(0,0,0)
	&__next
		right: 0
		
		
/* Reg
	----------------------------------- */
.reg
	padding-top: 80px
	+r(767)
		padding-top: 0
	&__row
		position: relative
		+pie-clearfix
		&_right
			width: calc(100% + 40px)
			margin-right: -40px
			+r(1219)
				width: auto
				margin-left: -24px
				margin-right: -24px
			+r(767)
				margin-left: 0
				margin-right: 0
	&__col
		float: left
		+r(1219)
			float: none
		&:nth-child(2)
			position: relative
			margin-top: 65px
			margin-left: -30px
			background-color: $red
			width: calc(100% - 300px)
			color: #ffffff
			&:before,
			&:after
				content: none
				display: none
			+r(1219)
				width: auto
				margin-left: 0
				margin-right: 0
				min-height: 0
				height: auto
				margin-top: 0
			+r(767)
				margin-left: -15px
				margin-right: -15px
				background-color: $red
			.motion
				position: relative
				overflow: hidden
				&__inner
					+r(767)
						background-color: $red
				&__element
					position: absolute
					left: 0
					top: 0
					right: 0
					bottom: 0
					z-index: 2
					background-color: $red
		&-inner
			padding-top: 85px
			padding-left: 70px
			padding-bottom: 70px
			+r(1219)
				padding: 0
		&:before
			content: ''
			pointer-events: none
			position: absolute
			z-index: 1
			top: 0
			bottom: 0
			right: 39px
			width: 1px
			background-color: rgba(#ffffff, 0.1)
			+r(1219)
				display: none
				content: none
		&:after
			content: ''
			pointer-events: none
			position: absolute
			z-index: 1
			top: 0
			bottom: 0
			right: 339px
			width: 1px
			background-color: rgba(#ffffff, 0.1)
			+r(1219)
				display: none
				content: none
		&_no-lines
			&:before,
			&:after
				content: none
				display: none
			&:nth-child(2)
				height: auto
				min-height: 0
	&__title
		position: relative
		margin-left: -40px
		margin-bottom: -85px
		width: 340px
		height: 300px
		+h1
		color: #ffffff
		text-transform: uppercase
		background-color: $gray-light
		+r(1219)
			margin-left: 0
			padding-left: 23px
			width: auto
			height: auto
			margin-bottom: 40px
			color: #000000
			background-color: transparent
		+r(767)
			padding-left: 0
			margin-bottom: 30px
		p
			padding: 85px 50px 20px 40px
			+r(1219)
				padding: 0
				br
					display: none
		.motion
			overflow: hidden
			&__element
				position: absolute
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: $red
			&:before
				content: ''
				position: absolute
				z-index: 1
				top: 57px
				left: 29px
				width: 20px
				height: 3px
				background-color: #ffffff
				+r(767)
					display: none
	&__image
		position: relative
		width: 330px
		z-index: 2
		+r(1219)
			display: none
		img
			display: block
		.motion
			position: relative
			overflow: hidden
			transform: translate3d(0,0,0)
			&__element
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 2
				background-color: $red
	&__subtitle
		max-width: 430px
		margin-bottom: 52px
		+open-extrabold
		font-size: 18px
		line-height: 24px
		text-transform: uppercase
		+r(1219)
			max-width: none
			margin-bottom: 42px
			padding-top: 65px
			padding-left: 24px
			padding-right: 64px
		+r(767)
			padding-top: 40px
			padding-left: 15px
			padding-right: 25px
			margin-bottom: 25px
	&__subtitle + &__row
		+r(1219)
			padding-left: 24px
			padding-right: 64px
			padding-bottom: 70px
		+r(767)
			padding-left: 15px
			padding-right: 15px
			padding-bottom: 48px
	&__column
		float: left
		+pie-clearfix
		+r(1219)
			float: none
		&-row
			+r(1219)
				float: left
				width: 65%
				& + &
					width: 35%
			+r(767)
				float: none
				width: auto
				& + &
					width: auto
		&:nth-child(1)
			width: calc(100% - 340px)
			padding-right: 60px
			+r(1219)
				width: auto
			+r(767)
				padding-right: 0
		&:nth-child(2)
			width: 300px
			+r(1219)
				width: auto
				margin-top: 42px
			+r(767)
				margin-top: 37px
		p
			&:nth-child(1)
				+open-extrabold
				font-size: 12px
				line-height: 18px
				text-transform: uppercase
		p + p
			margin-top: 20px
			font-size: 16px
			color: rgba(#ffffff, .75)
		a + p
			+open-extrabold
			font-size: 12px
			line-height: 18px
			text-transform: uppercase
	&__column a:not(&__btn)
		display: block
		margin-top: 13px
		margin-bottom: 30px
		+open-extrabold
		font-size: 45px
		+r(1219)
			margin-top: 18px
			margin-bottom: 0
		+r(767)
			margin-top: 25px
			font-size: 30px
			margin-bottom: 37px
	&__btn
		margin-top: 27px
		transition: all 0.5s ease-out
		+r(1219)
			margin-top: 45px
			width: 235px
		+r(767)
			margin-top: 30px
			display: block
			width: 290px
	&__open-item
		max-width: 740px
		font-size: 16px
		color: rgba(#ffffff, .75)
		p
			+ p
				margin-top: 20px
			+ table
				margin-top: 30px
			strong
				color: #ffffff
				+open-extrabold
				font-size: 12px
				line-height: 18px
				text-transform: uppercase
		table
			tr
				+ tr
					+r(767)
						margin-top: 10px
				+r(767)
					display: block
			+ p
				margin-top: 30px
			td
				position: relative
				padding-left: 18px
				+r(767)
					display: block
					width: 100%
				+ td
					+r(767)
						margin-top: 10px
				&:before
					content: ''
					position: absolute
					top: 50%
					margin-top: -2px
					width: 3px
					height: 3px
					left: 0
					background-color: rgba(#ffffff, .75)
				&:nth-child(3)
					display: none
	&__open-item.reg__col-inner
		padding-top: 70px
		+r(1219)
			padding-top: 45px
			padding-left: 23px
			padding-bottom: 45px
		+r(767)
			padding-left: 15px
			padding-right: 15px
					
		
/* Service
	----------------------------------- */
.service
	padding-top: 145px
	padding-bottom: 145px
	z-index: 2!important
	font-size: 0
	text-align: right
	+r(1219)
		padding-top: 85px
		padding-bottom: 90px
	+r(767)
		padding-top: 55px
		padding-bottom: 55px
	&__list
		+r(1219)
			display: flex
			flex-wrap: wrap
			width: calc(100% + 30px)
			margin-left: -15px
			margin-right: -15px
			padding-left: 15px
			padding-right: 15px
			justify-content: center
		+r(767)
			padding-bottom: 50px
	&__item
		position: relative
		display: inline-block
		vertical-align: top
		overflow: hidden
		width: 25%
		text-align: left
		background-color: #ffffff
		+r(1219)
			width: calc(33.33% - 15px)
			flex: 1 0 auto
			&:nth-child(3n+2)
				width: 33.33%
				+r(767)
					width: 100%
			&:nth-child(4)
				order: 6
				width: calc(33.33% - 15px)
				+r(767)
					width: 100%
			&:nth-child(5)
				order: 4
				width: calc(33.33% - 15px)
				+r(767)
					width: 100%
			&:nth-child(6)
				order: 5
				width: 33.33%
				+r(767)
					width: 100%
		+r(767)
			width: 100%
			min-width: 290px
			background-color: $red
		&:not(&_title)
			+ratio(1,1)
			+r(767)
				color: #ffffff
				height: 185px
				&:before
					display: none
					content: none
		&:nth-child(3) .motion
			&:before
				content: ''
				pointer-events: none
				position: absolute
				z-index: 2
				top: 0
				left: 0
				right: 0
				height: 1px
				background-color: #e8ebf1
				+r(767)
					display: none
		&:nth-child(3) ~ & .motion
			&:before
				content: ''
				pointer-events: none
				position: absolute
				z-index: 2
				bottom: 0
				left: 0
				right: 0
				height: 1px
				background-color: #f5f5f5
				+r(767)
					display: none
		p
			padding: 50px 30px
			+r(1219)
				padding-top: 40px
				padding-left: 24px
				padding-right: 24px
				br
					display: none
		.motion
			position: relative
			overflow: hidden
			&__element
				position: absolute
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: $red
		&:not(&_title):nth-child(3n + 1)
			color: #ffffff
			background-color: $red
		&_title
			display: block
			float: right
			height: 400px
			overflow: visible
			margin-bottom: -100px
			+h1
			color: #ffffff
			text-transform: uppercase
			background-color: $red
			+r(1219)
				height: 425px
				margin-bottom: -190px
				width: calc(33.33vw + (24px - 15px) / 3 - 15px)
				margin-right: -24px
			+r(767)
				float: none
				width: auto
				margin-right: 0
				color: #000000
				margin-bottom: 30px
				height: auto
				background-color: transparent
			p
				padding: 85px 50px 20px 40px
				+r(1219)
					padding-top: 70px
					padding-right: 20px
					padding-left: 24px
				+r(767)
					padding: 0
			.motion
				overflow: hidden
				position: relative
				&__element
					position: absolute
					z-index: 2
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: $red
				&:after
					content: ''
					position: absolute
					z-index: 1
					top: 55px
					left: 29px
					width: 20px
					height: 3px
					background-color: #ffffff
					+r(1219)
						left: 14px
						top: 40px
					+r(767)
						display: none
		.motion
			overflow: hidden
			z-index: 0
			background-color: #ffffff
			+r(767)
				background-color: transparent
			&__inner
				position: relative
				z-index: 1
	&__item:not(&__item_title) .motion
		+ratio-in
		+r(767)
			background-color: $red
	img
		position: absolute
		z-index: 1
		top: 50%
		left: 50%
		height: 100%
		width: 100%
		transform: translate(-50%,-50%)
		+r(767)
			display: none
	&__title
		position: absolute
		z-index: 2
		+open-extrabold
		font-size: 18px
		text-transform: uppercase
		line-height: 1.33
		+trs
		+pie-clearfix
	&__item_title &__title
		font-size: 24px
		color: #ffffff
		line-height: 1.25
	&__prev,
	&__next
		opacity: 0.61
		position: absolute
		z-index: 10
		bottom: 0
		font-size: 0
		padding-top: 8px
		padding-bottom: 8px
		+trs
		&:focus
			opacity: 1
		.icon
			font-size: 12px
	&__prev
		left: 15px
		transform: rotate(180deg) translate3d(0,0,0)
	&__next
		right: 15px
		

/* Skill
	----------------------------------- */
.skill
	padding-top: 180px
	padding-bottom: 240px
	margin-bottom: 240px
	z-index: 0!important
	+r(1219)
		margin-bottom: 275px
	+r(767)
		margin-bottom: 240px
		padding-top: 60px
		padding-bottom: 225px
	.line-vertical
		bottom: -240px
		+r(1219)
			bottom: -275px
		+r(767)
			bottom: -240px
	&__container
		pointer-events: none
		+pie-clearfix
	&__top
		position: relative
		+pie-clearfix
		&-col
			position: relative
			float: left
			&:nth-child(1)
				position: relative
				margin-left: -40px
				width: 340px
				height: 490px
				color: #ffffff
				text-transform: uppercase
				background-color: $gray-light
				+r(1219)
					width: calc(33.33vw + (24px - 15px) / 3 - 15px)
					margin-left: -24px
					margin-bottom: -110px
				+r(767)
					float: none
					width: auto
					height: auto
					color: #000000
					margin-left: 0
					margin-bottom: 30px
					background-color: transparent
				p
					padding: 85px 50px 20px 40px
					+r(1219)
						padding-top: 70px
						padding-left: 24px
						padding-right: 20px
					+r(767)
						padding: 0
				.motion
					overflow: hidden
					&__element
						position: absolute
						z-index: 2
						top: 0
						left: 0
						right: 0
						bottom: 0
						background-color: $red
					&:before
						content: ''
						position: absolute
						z-index: 1
						top: 57px
						left: 29px
						width: 20px
						height: 3px
						background-color: #ffffff
						+r(1219)
							left: 14px
							top: 40px
						+r(767)
							display: none
							content: none
			& + &
				margin-left: 70px
				margin-top: 97px
				max-width: 460px
				+r(1219)
					margin-left: 30px
					margin-top: 70px
				+r(767)
					max-width: none
					margin-left: 0
					margin-top: 0
			&-btn
				pointer-events: auto
				position: absolute
				z-index: 10
				top: 670px
				left: -70px
				+r(1219)
					margin-left: -15px
					left: 0
					width: 250px
				+r(767)
					margin-left: auto
					margin-right: auto
					top: 690px
					left: 0
					right: 0
					width: 290px
		&-subtitle
			pointer-events: auto
			+h2
			text-transform: uppercase
		&-nav-for
			margin-top: 35px
			+open-extrabold
			color: #000000
			font-size: 12px
			line-height: 18px
			text-transform: uppercase
			width: 230px
			&-item
				cursor: pointer
				display: table
				pointer-events: auto
				position: relative
				+trs
				&:hover
					color: $red
				&:before
					content: ''
					position: absolute
					z-index: 1
					pointer-events: none
					left: 100%
					top: 50%
					margin-top: -1px
					margin-left: 30px
					width: 0
					height: 1px
					background-color: $gray-light
					+trs
				& + &
					margin-top: 20px
				&.is-active
					color: $gray-light
					&:before
						width: calc(200px - 100%)
		&-nav-list
			pointer-events: auto
			position: absolute
			z-index: 3
			top: 420px
			left: calc(25% + 90px)
			right: -40px
			margin-left: -20px
			margin-right: -20px
			max-width: 910px
			+pie-clearfix
			+r(767)
				top: 420px
				left: 15px
				right: 15px
			&-item
				pointer-events: none
				position: absolute
				z-index: 2
				left: 0
				width: 100%
				top: -20px
				&.is-active
					pointer-events: auto
					opacity: 1
					z-index: 3
				.slick-track
					padding-top: 30px
					padding-bottom: 30px
			&-inner
				position: relative
				float: left
				width: 150px
				margin-left: 20px
				margin-right: 20px
				opacity: 0
				+r(767)
					width: 130px
					margin-left: 15px
					margin-right: 15px
				&:before
					content: ''
					position: absolute
					pointer-events: none
					z-index: 1
					background-color: transparent
					top: 0
					left: 0
					right: 0
					bottom: 0
					+trs
				&.slick-current + & + & + & ~ &
					&:before
						background-color: rgba(#ffffff, .8)
				+r(1219)
					&.slick-current + & ~ &
						&:before
							background-color: rgba(#ffffff, .8)
			&-item.is-active &-inner
				opacity: 1
	&__title
		pointer-events: auto
		+h1
	&__map
		overflow: hidden
		position: absolute
		z-index: 0
		top: 50%
		left: 50%
		width: 100%
		transform: scale(2) translate(-50%,-50%)
		transform-origin: left top
		+r(1219)
			transform: scale(4) translate(-50%,-50%)
		+r(767)
			display: none
		&-mark
			pointer-events: none
			cursor: pointer
			position: absolute
			font-size: 14px
			color: #ffffff
			z-index: 2
			transform: scale(0.5) translate(-50%,-100%)
			+r(1219)
				transform: scale(0.25) translate(-150%,-200%)
			&.is-active
				cursor: default
				z-index: 3
			svg
				pointer-events: auto
				width: 13px
				fill: darken($gray-light,10)
				+trs
			&:hover
				svg
					fill: $red
			&-tooltip
				pointer-events: auto
				position: absolute
				margin-right: -13px
				height: 100%
				bottom: 100%
				right: 150%
				transform: translateX(50%)
				white-space: nowrap
				overflow: hidden
				z-index: 2
				&-inner
					position: absolute
					right: 50%
					transform: translateX(50%)
					top: 0
					padding: 7px 30px 7px
					background-color: $red
				svg
					position: absolute
					top: 100%
					right: 0
					fill: $red
					transform: translateY(-100%)
		&-gradient
			pointer-events: none
			position: absolute
			z-index: 1
			top: 0
			left: 0
			right: 0
			bottom: 0
			&_vertical
				background: linear-gradient(to bottom, rgba(255,255,255, 1) 0%, rgba(255,255,255,0.8) 35%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0) 45%, rgba(255,255,255, 0) 50%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%)
				+r(1219)
					background: linear-gradient(to bottom, rgba(255,255,255, 1) 0%, rgba(255,255,255,0.8) 35%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0) 45%, rgba(255,255,255, 0) 45%, rgba(255,255,255,0.7) 60%, rgba(255,255,255,1) 100%)
			&_horizontal
				background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 45%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%)
		&-svg
			position: relative
			width: 100%
			height: 100%
			path
				fill: #e9e9e9
				fill-opacity: 1
				stroke: #ffffff
				stroke-opacity: 1
				stroke-width: 0.5
				+trs
				&.is-current
					cursor: pointer
					fill: #ced0d6
					&:hover
						fill: lighten($gray-light,12)
				&.is-active
					cursor: default
					fill: $gray-light
	&__prev,
	&__next
		position: absolute
		z-index: 10
		top: 0
		bottom: 0
		opacity: 0
		margin-top: -70px
		+trs
		+r(767)
			top: auto
			bottom: -20px
			margin-top: 0
		.is-active &
			opacity: 0.5
		&:hover
			opacity: 1
		&.slick-disabled
			opacity: 0
			pointer-events: none
	&__prev
		left: -70px
		width: 70px
		+r(767)
			left: 0
			width: auto
			transform: rotate(180deg)
	&__next
		right: -10px
		width: 150px
		+r(1219)
			right: 0
		+r(767)
			width: auto
		
		
/* Doctor
	----------------------------------- */
.doctor
	&__image
		position: relative
		overflow: hidden
	&__info
		cursor: pointer
		position: absolute
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		font-size: 14px
		color: #ffffff
		display: flex
		padding-left: 20px
		padding-right: 20px
		flex-direction: column
		justify-content: center
		opacity: 0
		background-color: rgba(#000000, .7)
		+trs
		p
			transform: translateY(20px)
			+trs
			+ p
				margin-top: 10px
	&__image:hover &__info
		opacity: 1
		p
			transform: translateY(0)
	&__name
		display: block
		margin-top: 25px
		+open-extrabold
		color: $red
		text-transform: uppercase
	&__spec
		margin-top: 10px
		font-size: 14px
		color: $gray-dark
	&__settings
		display: none
	

		
/* Gal
	----------------------------------- */
.gal
	padding-bottom: 115px
	+r(1219)
		padding-bottom: 90px
	+r(767)
		padding-top: 70px
		padding-bottom: 70px
	&__row
		margin-left: -40px
		margin-right: -40px
		display: flex
		flex-direction: row-reverse
		padding-top: 200px
		transform: translate3d(0,0,0)
		+r(767)
			padding-top: 0
			display: block
			margin-left: 0
			margin-right: 0
	&__item
		position: relative
		+r(767)
			display: none
		&-motion
			position: relative
			z-index: 2
			+r(767)
				display: none
		.motion
			position: relative
			overflow: hidden
			&__iner
				position: relative
				z-index: 1
			&__element
				position: absolute
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: $red
		&_1
			flex-basis: 190px
			align-self: flex-end
			+r(767)
				display: block
		&_2
			margin-top: 75px
			flex-basis: 450px
		&_3
			flex-basis: 450px
		&_4
			flex-basis: 190px
			align-self: flex-end
			transform: translateY(calc(100% - 75px))
	&__item-in
		+r(767)
			display: none
		&_1-1
			position: absolute
			z-index: 1
			top: 100%
			left: 0
			right: 0
			transform: translateX(-40px)
		&_1-2
			position: absolute
			z-index: 1
			top: 45%
			right: 60%
			width: calc(100% - 40px)
		&_2-1
			position: absolute
			z-index: 1
			bottom: 100%
			left: 0
			width: calc(100% / 3)
		&_4-1
			position: absolute
			z-index: 1
			top: 50%
			left: 40%
			width: 100%
	img
		position: relative
		z-index: 2
		width: 100%
	&__item-title
		position: absolute
		bottom: 100%
		right: 0
		width: 340px
		height: 350px
		color: #ffffff
		overflow: visible
		background-color: $gray-light
		+r(767)
			position: relative
			bottom: auto
			right: auto
			width: auto
			height: auto
			color: #000000
			background-color: transparent
		.motion
			position: relative
			&:after
				content: ''
				position: absolute
				z-index: 1
				top: 55px
				left: 29px
				width: 20px
				height: 3px
				background-color: #ffffff
				+r(767)
					display: none
		p
			max-width: 150px
			padding: 85px 50px 20px 40px
			+open-extrabold
			font-size: 24px
			text-transform: uppercase
			line-height: 1.25
			+pie-clearfix
			+r(767)
				padding: 0
				max-width: none
	&__desc
		display: flex
		margin-top: 100px
		max-width: 50%
		margin-left: auto
		margin-right: auto
		flex-wrap: wrap
		justify-content: flex-end
		+r(1219)
			position: relative
			left: 30px
		+r(767)
			max-width: none
			margin-top: 55px
			left: auto
		p
			+r(767)
				padding-left: 30px
				padding-right: 30px
				margin-left: auto
				margin-right: auto
				font-size: 12px
				line-height: 18px
		&-text
			position: relative
			margin-left: 11.5%
			flex-basis: 100%
			+open-extrabold
			font-size: 18px
			text-transform: uppercase
			line-height: 24px
			+r(1219)
				margin-left: 0
				br
					display: none
			+r(767)
			.motion
				position: relative
				overflow: hidden
				&__inner
					+r(1219)
						padding-right: 30px
					+r(767)
						padding-right: 0
				&__element
					position: absolute
					z-index: 2
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: $red
			&:before
				content: '“'
				position: absolute
				top: -5px
				left: -20px
				margin-left: -11.5%
				font-size: 72px
				+open-extrabold
				color: #ced0d6
				+r(1219)
					margin-left: 0
					left: -50px
					top: 0
				+r(767)
					top: -15px
					left: 0
					margin-left: 0
					font-size: 50px
		&-btn
			position: relative
			margin-top: 40px
			+r(1219)
				margin-top: 50px
			+r(767)
				display: block
				margin-left: auto
				margin-right: auto
				margin-top: 30px
			.motion
				position: relative
				overflow: hidden
			
/* About
	----------------------------------- */
.about
	position: relative
	padding-top: 60px
	padding-bottom: 60px
	+r(1219)
		padding-top: 0
	&__row
		+pie-clearfix
	&__col
		float: left
		width: 37.5%
		margin-left: 12.5%
		+r(1219)
			width: calc(50% + 48px)
			margin-left: 0
			padding-left: 48px
		+r(767)
			float: none
			width: auto
			margin-left: 0
			padding-left: 0
		& + &
			+r(1219)
				width: calc(50% - 48px)
				padding-left: 0
				padding-right: 48px
				float: right
			+r(767)
				float: none
				padding-right: 0
				width: auto
				margin-top: 40px
	&__title
		display: table
		+open-extrabold
		font-size: 12px
		line-height: 1.5
		text-transform: uppercase
		+r(1219)
			max-width: 235px
		.motion
			&__element
				background-color: $red
	&__phone
		position: relative
		display: table
		margin-top: 15px
		+open-extrabold
		font-size: 45px
		color: $gray-light
		text-transform: uppercase
		+r(1219)
			margin-top: 35px
		+r(767)
			margin-top: 25px
			font-size: 30px
		.motion
			overflow: hidden
			position: relative
			&__element
				position: absolute
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: $gray-light
	&__button
		position: relative
		margin-top: 25px
		+r(767)
			display: block
			margin-left: auto
			margin-right: auto
		.motion
			position: relative
			overflow: hidden
		

/* Map
	----------------------------------- */
.map
	position: relative
	padding-top: 30px
	&_contacts
		padding-top: 0
	&__list
		pointer-events: none
		position: relative
		z-index: 2
		min-height: 210px
		margin-left: -22px
		margin-right: -23px
		color: #ffffff
		overflow: hidden
		margin-bottom: -140px
		+r(1219)
			margin-left: -15px
			margin-right: -15px
		+r(767)
			margin-left: 0
			margin-right: 0
			margin-bottom: 0
		&_contacts
			position: absolute
			top: 51px
			left: 0
			right: 0
			margin-left: auto
			margin-right: auto
			+r(767)
				display: flex
				flex-direction: column
				bottom: 75px
				justify-content: flex-end
	&__col
		pointer-events: auto
		position: relative
		cursor: pointer
		float: left
		background-color: transparent
		width: calc(33.33% - 45px)
		margin-left: 22px
		margin-right: 23px
		+trs
		+r(1219)
			width: calc(33.33% - 30px)
			margin-left: 15px
			margin-right: 15px
		+r(767)
			width: 100%
			float: none
			margin-left: 0
			margin-right: 0
			background-color: $gray-light
		& + &
			+r(767)
				margin-top: 5px
		&_contacts
			float: none
			display: table
			margin-left: 0
			margin-right: 0
			& + &
				margin-top: 20px
				+r(767)
					align-self: flex-end
					margin-top: 5px
		& .motion
			transition: background-color 0.5s ease-in-out
			background-color: $gray-light!important
		&.is-active
			background-color: transparent
			+r(767)
				background-color: $red
		&.is-active .motion
			background-color: $red!important
		&_contacts.is-active
			+r(767)
				align-self: flex-start
				margin: 0 auto auto
				order: -1
		&-inner
			padding: 52px 45px 35px
			+r(1219)
				padding-left: 24px
				padding-right: 24px
		&_contacts &-inner
			padding-top: 42px
			padding-bottom: 25px
		.motion
			position: relative
			overflow: hidden
			&__element
				position: absolute
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: $red
	&__title
		margin-bottom: 17px
		+open-extrabold
		font-size: 0
		line-height: 1.67
		text-transform: uppercase
		p:nth-child(1)
			font-size: 18px
			display: inline-block
			vertical-align: middle
		p:nth-child(2)
			position: relative
			margin-left: 50px
			display: inline-block
			vertical-align: middle
			font-size: 18px
			&:before
				content: ''
				position: absolute
				z-index: 1
				top: 50%
				margin-top: -1px
				left: -26px
				width: 3px
				height: 3px
				background-color: #ffffff
	&__desc
		font-size: 16px
		opacity: 0
		height: 0
		+trs
		a
			pointer-events: none
			display: table
			margin-top: 10px
			+ a
				margin-top: 32px
				+open-extrabold
				font-size: 12px
				text-transform: uppercase
				line-height: 18px
				.icon
					position: relative
					top: -1px
					margin-left: 15px
	&__col.is-active &__desc
		height: 75px
		opacity: 1
	&__col_contacts &__desc
		+r(767)
			transition: none
	&__col_contacts.is-active &__desc
		height: 115px
		+r(767)
			transition: none
	&__col.is-active &__desc a
		pointer-events: auto
	&__wrap
		position: relative
		z-index: 1
		margin-left: -40px
		margin-right: -40px
		+r(767)
			display: none
		&_contacts
			margin-left: auto
			margin-right: auto
			+r(767)
				display: block
		.motion
			position: relative
			overflow: hidden
			&__element
				position: absolute
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: $gray-light
	&__el
		height: 400px
		&_contacts
			height: 653px
			+r(1219)
				height: 700px
			+r(767)
				height: 875px
	.gm-style > div:first-child > div:first-child > div:last-child
		filter: grayscale(100%)
	.gm-style > div:nth-child(2)
		display: none
		
		
/* ===================================
	 Home Page
	 =================================== */
.page-home
	.screen__btn
		position: relative
	.hamburger__inner
		background-color: #ffffff
	.hamburger__inner:before,
	.hamburger__inner:after
		background-color: #ffffff
	.main
		padding-top: 38px
	.header__logo
		color: #ffffff
	.header__bot
		border-bottom: 1px solid rgba(#f5f5f5, 0.1)
	.nav
		color: #ffffff
	.footer
		border-top: none
		+r(767)
			margin-top: 70px
			border-top: 1px solid #f5f5f5
	.nav_footer
		color: $gray-light
		
		
/* ===================================
	 404 Page
	 =================================== */
.page-404
	.full-section
		min-height: calc(100vh - 121px - 38px)
		+r(1219)
			min-height: 0
	.footer
		border-top: none
	.footer__top
		display: none
	&__title
		position: relative
		display: table
		z-index: 2
		+open-extrabold
		font-size: 230px
		color: $red
		line-height: 1
		+r(1219)
			margin-top: 120px
		+r(767)
			margin-top: 60px
			font-size: 60px
		.motion
			&__element
				background-color: $red
	&__desc
		position: relative
		z-index: 2
		margin-top: 20px
		+open-extrabold
		font-size: 24px
		line-height: 1
		text-transform: uppercase
		p
			white-space: nowrap
		+r(767)
			font-size: 18px
		.motion
			&__element
				background-color: #000
	&__btn
		position: relative
		z-index: 2
		margin-top: 45px
		+r(767)
			margin-top: 35px
			

/* ===================================
	 Services Open Category Page
	 =================================== */
.services-open-category
	&__row
		position: relative
		padding-top: 95px
		padding-bottom: 160px
		margin-left: -22px
		margin-right: -23px
		+pie-clearfix
		+r(1219)
			padding-top: 90px
			padding-bottom: 60px
			margin-left: -15px
			margin-right: -15px
		+r(767)
			margin-left: 0
			padding-top: 60px
			padding-left: 0
			padding-right: 0
			margin-right: 0
		&:before
			content: ""
			display: table
			clear: both
	&__col
		position: relative
		float: left
		width: 33.33%
		padding-left: 22px
		padding-right: 23px
		+r(1219)
			padding-left: 15px
			padding-right: 15px
		+r(767)
			float: none
			width: auto
			padding-left: 0
			padding-right: 0
			margin-top: 0
			max-width: 370px
			margin-left: auto
			margin-right: auto
		& + &
			+r(767)
				margin-top: 35px
	&__item
		position: relative
		z-index: 1
		display: block
		&-ratio
			position: relative
			+ratio(1,1)
			z-index: 1
		&-inner
			+ratio-in
			z-index: 1
		.motion
			overflow: hidden
			transform: translate3d(0,0,0)
			&__inner
				position: relative
				z-index: 1
				transform: translate3d(0,0,0)
			&__element
				position: absolute
				margin-left: 20px
				z-index: 2
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: calc(100% + 20px)
				background-color: $red
		img
			width: 100%
			+trs
	&__title
		padding-top: 40px
		+open-extrabold
		font-size: 18px
		line-height: 24px
		text-transform: uppercase
		width: calc(100% - 20px)
		transition: all 0.5s ease-out
		+r(1219)
			padding-top: 30px
			width: 100%
		+r(767)
			padding-top: 20px
		&-text
			float: left
			max-width: calc(100% - 38px)
	&__icon
		float: left
		margin-left: 33px
		margin-top: 8px
		height: 14px
		width: 3px
		position: relative
		transition: all 0.5s ease-out
		transform: translate3d(0,0,0)
		&:before,
		&:after
			content: ''
			position: absolute
			display: block
			right: 0
			width: 3px
			height: 8px
			background-color: #000
			transition: all 0.5s ease-out
			transform: translate3d(0,0,0)
		&:before
			margin-top: 4px
			bottom: 50%
		&:after
			margin-top: -4px
			top: 50%
	&__item:hover &__title
		color: $red
	&__item:hover &__icon
		&:before
			background-color: $red
			transform: rotate(-45deg) translateZ(0)
		&:after
			background-color: $red
			transform: rotate(45deg) translateZ(0)
		

/* ===================================
	 Open Article Page
	 =================================== */
.page-open-article
	.hamburger__inner
		background-color: #ffffff
	.hamburger__inner:before,
	.hamburger__inner:after
		background-color: #ffffff
	.main
		padding-top: 38px
	.header__logo
		color: #ffffff
	.header__bot
		border-bottom: 1px solid rgba(#f5f5f5, 0.1)
	.nav
		color: #ffffff
	.nav_footer
		color: $gray-light
		
.open-article
	padding-top: 85px
	padding-bottom: 75px
	+r(1219)
		padding-bottom: 85px
	+r(767)
		padding-top: 55px
		padding-bottom: 70px
	&__row
		display: flex
		flex-direction: row
		+r(1219)
			flex-wrap: wrap
	&__col
		&:nth-child(1)
			flex-basis: calc(25% - 52px)
			+r(1219)
				order: 2
				flex-basis: 50%
				width: 50%
			+r(767)
				flex-basis: 100%
				width: 100%
		&:nth-child(2)
			flex-basis: calc(50% + 104px)
			font-size: 16px
			color: $gray-dark
			letter-spacing: -0.0075em
			+r(1219)
				order: 1
				flex-basis: 100%
				margin-bottom: 45px
				width: 100%
		&:nth-child(3)
			display: flex
			justify-content: flex-start
			flex-basis: calc(25% - 52px)
			align-items: flex-end
			flex-direction: column
			+r(1219)
				order: 3
				flex-basis: 50%
				width: 50%
			+r(767)
				align-items: flex-start
				flex-basis: 100%
				width: 100%
	&__back
		display: table
		+open-extrabold
		font-size: 12px
		line-height: 18px
		text-transform: uppercase
		+trs
		.icon
			margin-left: -1px
			margin-right: 9px
			display: inline-block
			vertical-align: -2px
			color: #000000
			+trs
		&:hover
			color: $red
			.icon
				color: $red
		.motion
			&__element
				background-color: $red
	&__date
		position: relative
		display: table
		margin-top: 52px
		+open
		font-size: 12px
		color: $gray-dark
		+r(767)
			display: none
		&:before
			content: ''
			position: absolute
			top: -26px
			left: 0
			width: 77px
			height: 1px
			pointer-events: none
			background-color: $gray-light
		.motion
			&__element
				background-color: $red
	&__p
		margin-bottom: 20px
		.motion
			&__element
				background-color: $red
	&__p + &__img
		margin-top: 55px
		+r(1219)
			margin-top: 45px
	&__img
		img
			display: block
			margin-left: auto
			margin-right: auto
		.motion
			&__element
				background-color: $red
	&__blockquote
		position: relative
		max-width: 504px
		margin: 82px auto 76px
		+open-extrabold
		font-size: 12px
		color: #000000
		line-height: 24px
		text-transform: uppercase
		+r(1219)
			margin-top: 60px
			margin-bottom: 40px
		+r(767)
			margin-top: 40px
			margin-bottom: 20px
			padding-left: 30px
			padding-right: 30px
			line-height: 18px
		&:before
			content: '“'
			position: absolute
			top: 0
			left: -20px
			margin-left: -11.5%
			font-size: 72px
			+open-extrabold
			color: #ced0d6
			+r(767)
				top: -15px
				left: 0
				margin-left: 0
				font-size: 50px
		.motion
			&__element
				background-color: $red
	&__share
		margin-top: 5px
		display: table
		+open
		font-size: 12px
		color: $gray-light
		+r(767)
			margin-top: 40px
		.motion
			&__element
				background-color: $red
	&__soc
		margin-top: 25px
		+r(767)
			margin-top: 15px
		&-row
			display: flex
			flex-direction: row
			justify-content: flex-end
		&-item
			background-color: $red
			+trs
			&:hover
				background-color: $gray-light
			& + &
				margin-left: 20px
		&-link
			display: flex
			justify-content: center
			align-items: center
			width: 40px
			height: 40px
			color: #ffffff
			.icon-tw
				font-size: 12px
			.icon-fb
				font-size: 16px

/* Subscribe
	----------------------------------- */
.subscribe
	+r(767)
		background-color: #f5f5f5
	&__rel
		position: relative
		& > .motion
			z-index: 2
			& > .motion__inner
				background-color: #f5f5f5
			& > .motion__element
				background-color: $red
	&__container
		display: flex
		flex-direction: row
		justify-content: center
		padding-top: 60px
		padding-bottom: 55px
		+open-extrabold
		font-size: 24px
		color: #000000
		line-height: 30px
		text-transform: uppercase
		+r(1219)
			padding-top: 45px
			padding-bottom: 50px
		+r(767)
			padding-top: 40px
			padding-bottom: 45px
			font-size: 12px
			line-height: 18px
			flex-direction: column
			flex-wrap: wrap
	&__col
		display: flex
		flex-direction: row
		flex-basis: 50%
		+r(767)
			display: block
			flex-basis: auto
		&:nth-child(1)
			justify-content: flex-end
		&:nth-child(2)
			padding-left: 90px
			justify-content: flex-start
			+r(1219)
				padding-left: 30px
			+r(767)
				margin-top: 20px
				padding-left: 0
	&__btn
		margin-top: 5px
		cursor: pointer
		+r(767)
			margin-top: 0
			margin-left: auto
			margin-right: auto
			display: block
	&__text
		max-width: 400px
		+r(1219)
			max-width: none
		+r(767)
			max-width: 290px
			margin-left: auto
			margin-right: auto
		.motion
			&__element
				background-color: $red
		

/* ===================================
	 Doctors Page
	 =================================== */
.doctors
	&__container
		padding-top: 95px
		padding-bottom: 60px
	&__flex-container
		display: flex
		flex-direction: row
		width: 100%
	&__aside
		flex: 1 0 250px
		margin-top: -7px
		+r(1219)
			flex-basis: 220px
		+r(767)
			display: none
		&.is-popup
			margin-top: 0
			overflow: auto
			position: absolute
			top: -65px
			left: -15px
			right: -15px
			z-index: 100
			padding: 0 15px
			text-align: left
			background-color: #ffffff
			box-shadow: 0 3px 24px rgba(0, 0, 0, 0.12)
			ul
				padding-top: 30px
				padding-bottom: 30px
			li
				.arrow-bot-anim
					position: relative
					top: -1px
					display: inline-block
					margin-left: 25px
					transform: rotate(-90deg)
					transition: none
			li.active
				&:before
					content: none
					display: none
				a
					transform: none
				
	&__content
		flex: 1 1 100%
	&__selected-category
		display: none
		position: relative
		top: -30px
		+open-extrabold
		font-size: 12px
		color: #000000
		line-height: 18px
		text-transform: uppercase
		+r(767)
			display: block
		.arrow-bot-anim
			position: relative
			top: -2px
			margin-left: 17px
			
.tab
	&__selected-category
		display: none
		position: relative
		top: 0
		+open-extrabold
		font-size: 12px
		color: #000000
		line-height: 18px
		text-transform: uppercase
		+r(767)
			display: block
			margin-bottom: 45px
		.arrow-bot-anim
			position: relative
			top: -2px
			margin-left: 17px
			
.tab__aside
	position: relative
	z-index: 2
	+r(767)
		display: none
	&.is-popup
		margin-top: 0
		overflow: auto
		position: absolute
		top: -35px
		left: -15px
		right: -15px
		z-index: 100
		padding: 0 15px
		text-align: left
		background-color: #ffffff
		box-shadow: 0 3px 24px rgba(0, 0, 0, 0.12)
		ul
			padding-top: 30px
			padding-bottom: 30px
		li
			.arrow-bot-anim
				position: relative
				top: -1px
				display: inline-block
				margin-left: 25px
				transform: rotate(-90deg)
		li.active
			&:before
				content: none
				display: none
			a
				color: $red
				transform: none
	

/* ===================================
	 Open Item Page
	 =================================== */
.page-open-item
	.hamburger__inner
		background-color: #ffffff
	.hamburger__inner:before,
	.hamburger__inner:after
		background-color: #ffffff
	.main
		padding-top: 38px
	.header__logo
		color: #ffffff
	.header__bot
		border-bottom: 1px solid rgba(#f5f5f5, 0.1)
	.nav
		color: #ffffff
	.nav_footer
		color: $gray-light


/* ===================================
	 Page Services Tabs
	 =================================== */
.page-services_tabs
	&__about
		padding-top: 35px
		padding-bottom: 25px
		background-color: #f5f5f5
		+r(1219)
			padding-top: 45px
			padding-bottom: 50px
	.about
		+r(1219)
			padding-bottom: 0
		

/* Services Section
	----------------------------------- */
.services
	position: relative
	z-index: 2
	padding-bottom: 135px
	+r(1219)
		padding-bottom: 85px
	+r(767)
		padding-bottom: 60px


/* ===================================
	 Other Styles
	 =================================== */
.header.is-fixed
	.header__bot
		border-bottom: 1px solid #f5f5f5
	.hamburger
		+r(767)
	.header__bot
		padding-top: 0
		padding-bottom: 0
		+r(1219)
			padding-top: 5px
			padding-bottom: 5px
	.header__logo
		transform: translateY(9px)
		color: $red
		+r(1219)
			transform: none
		.icon
			font-size: 36px
			+r(767)
				font-size: 24px
	.nav_header
		font-size: 12px
	.hamburger__inner
		background-color: #000000
		+trs
	.hamburger__inner:before,
	.hamburger__inner:after
		background-color: #000000
		+trs
	.nav_header .nav__item.active .nav__link:before
		top: -20px