=r($width)
	@media only screen and (max-width: $width+ "px")
		@content

/* ===================================
	 Lines
	 =================================== */
=line-1-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		left: -2px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=line-1-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		left: -2px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=line-2-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 2
		left: 50%
		margin-left: -302px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=line-2-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 2
		left: 50%
		margin-left: -302px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=line-3-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 2
		left: 50%
		margin-left: -1px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none

=line-3-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 2
		left: 50%
		margin-left: -1px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none

=line-4-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: 299px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=line-4-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: 299px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none

=line-5-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: 599px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=line-5-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: 599px
		width: 3px
		height: 65px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			

/* ===================================
	 Dots
	 =================================== */
=dot-1-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: -602px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=dot-1-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: -602px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none

=dot-2-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 298px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none

=dot-2-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 298px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=dot-3-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 2
		left: 50%
		margin-left: -1px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=dot-3-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 2
		left: 50%
		margin-left: -1px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none

=dot-4-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		right: 298px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
=dot-4-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		right: 298px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none

=dot-5-before
	&:before
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: 599px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none

=dot-5-after
	&:after
		content: ''
		pointer-events: none
		position: absolute
		z-index: 1
		left: 50%
		margin-left: 599px
		width: 3px
		height: 3px
		background-color: #e8ebf1
		+r(1219)
			display: none
			content: none
			
/* Home Page
	----------------------------------- */
.page-home
	.inno
		&__container
			+dot-5-before
			&:before
				bottom: 0
			+dot-2-after
			&:after
				bottom: 0
		&__top
			+dot-4-before
			&:before
				top: 0
			
	.start
		&__container
			+line-1-before
			&:before
				bottom: 0
			
	.why
		+dot-3-before
		&:before
			top: 90px
		&__top
			+line-5-before
			&:before
				top: 0
				
	.reg
		+dot-1-before
		&:before
			top: -10px
		&__container
			+line-3-after
			&:after
				top: -65px
			+dot-5-before
			&:before
				top: 190px
		
	.skill
		+line-4-before
		&:before
			z-index: 10
			top: 90px
			
	.gal
		+line-2-before
		&:before
			top: -30px
		+dot-5-after
		&:after
			top: -50px
			
	.about
		+dot-1-before
		&:before
			top: 0
		+line-3-after
		&:after
			top: 0
			

/* Doctors
	----------------------------------- */
.page-doctors
	.doctors
		&__flex-container
			position: relative
			+line-1-before
			&:before
				bottom: 140px
		
		
/* Open Doctor
	----------------------------------- */
.page-open-doctor
	.doctor
		&_stories
			+line-4-before
			&:before
				bottom: -110px
		&_publications
			+dot-3-before
			&:before
				bottom: -85px
				margin-left: -2px
				

/* Open Item
	----------------------------------- */
.page-open-item
	&__main-title
		position: relative
		+dot-2-before
		&:before
			margin-left: -124px
			bottom: -40px
	&__steps
		&-container
			+dot-2-after
			&:after
				top: 245px
			+line-1-before
			&:before
				bottom: 125px
	&__slider
		+dot-1-before
		&:before
			margin-left: -2px
			left: 0
			bottom: -80px
	&__pre-last
		+line-5-before
		&:before
			z-index: 2
			bottom: 100px
			

/* Open Category
	----------------------------------- */
.page-services-open-category
	.services-open-category
		&__row
			+line-3-before
			&:before
				margin-left: -2px
				bottom: 25px
	
/* Open Article
	----------------------------------- */
.page-open-article
	.open-article
		&__row
			+line-5-before
			&:before
				top: 65%
			+line-1-after
			&:after
				top: 400px
	.start
		&__container
			+line-1-before
			&:before
				top: -115px
			+line-5-after
			&:after
				top: 115px
				

/* Contacts
	----------------------------------- */
.page-contacts
	.about
		&__container
			+line-3-before
			&:before
				top: -90px
			+dot-1-after
			&:after
				top: 45px
				
/* 404
	----------------------------------- */
.page-404
	.full-section
		+line-1-before
		&:before
			z-index: 2
			left: 50%
			margin-left: -602px
			top: 85px
		+dot-2-after
		&:after
			left: 50%
			margin-left: -302px
			bottom: 80px
			
/* About
	----------------------------------- */
.page-about
	.history
		&__for
			+dot-2-before
			&:before
				top: 75%
	.clinic
		+line-5-before
		&:before
			z-index: 2
			top: 0
	.service
		&__container
			+dot-1-before
			&:before
				bottom: 0
				