.icon {
    fill: currentColor;
}
.icon-arrow-left {
  font-size: 14px;
  width: 0.8em;
  height: 1em;
}
.icon-arrow-right {
  font-size: 13px;
  width: 0.7em;
  height: 1em;
}
.icon-arrow-slider {
  font-size: 12.03px;
  width: 3.3em;
  height: 1em;
}
.icon-bus {
  font-size: 45.44px;
  width: 1em;
  height: 1em;
}
.icon-car {
  font-size: 447.645px;
  width: 1em;
  height: 1em;
}
.icon-close {
  font-size: 18.38px;
  width: 1em;
  height: 1em;
}
.icon-fb {
  font-size: 430.11px;
  width: 0.5em;
  height: 1em;
}
.icon-insta-original {
  font-size: 169.06px;
  width: 1em;
  height: 1em;
}
.icon-insta {
  font-size: 169.063px;
  width: 1em;
  height: 1em;
}
.icon-logo {
  font-size: 58.3px;
  width: 2.9em;
  height: 1em;
}
.icon-periscope {
  font-size: 163.563px;
  width: 1em;
  height: 1em;
}
.icon-rect-bot {
  font-size: 3px;
  width: 4.4em;
  height: 1em;
}
.icon-rect {
  font-size: 13px;
  width: 0.3em;
  height: 1em;
}
.icon-snapchat {
  font-size: 512.016px;
  width: 1em;
  height: 1em;
}
.icon-taxi {
  font-size: 226.969px;
  width: 1em;
  height: 1em;
}
.icon-telegram {
  font-size: 300px;
  width: 1em;
  height: 1em;
}
.icon-tw {
  font-size: 497.12px;
  width: 1.3em;
  height: 1em;
}
.icon-vintage {
  font-size: 12.94px;
  width: 4.7em;
  height: 1em;
}
.icon-yt {
  font-size: 63px;
  width: 1.5em;
  height: 1em;
}
