// fonts
+font('PTSans-Regular', 'PTSans-Regular')
+font('OpenSans', 'OpenSans')
+font('OpenSans-Extrabold', 'OpenSans-Extrabold')

$default-fonts: Arial, sans-serif
=pt
	font-family: 'PTSans-Regular', $default-fonts
=open
	font-family: 'OpenSans', $default-fonts
=open-extrabold
	font-family: 'OpenSans-Extrabold', $default-fonts

// colors
$red: #a70a3f
$gray-light: #a2a4a8
$black: #000000
$gray-dark: #808080
$white: #ffffff
$whitesmoke: #f5f5f5

//title
=h1-lg
	+open-extrabold
	font-size: 35px
	line-height: 1.28571
	+r(767)
		font-size: 30px
		line-height: 36px
=h1
	+open-extrabold
	font-size: 24px
	line-height: 1.25
=h2
	+open-extrabold
	font-size: 18px
	line-height: 1.33333
=h3
	+open-extrabold
	font-size: 12px
	line-height: 1.5

=trs
	transition: all 0.5s ease-in-out

=smooth
	-webkit-font-smoothing: antialiased

=text-slider
	+open-extrabold
	font-size: 60px