.services-blog__col.js-scene(data-offset='-15')
	a.services-blog__item(href='#')
		.services-blog__item-ratio
			.services-blog__item-inner.js-motion(data-motion='motion3' data-main-delay='0.25' data-move-up='75')
				img(src='img/content/blog-1.jpg' alt='image')
		.services-blog__desc.js-motion(data-motion='motion2' data-main-delay='0.5' data-move-up='50' data-speed-alpha='1.5')
			.services-blog__desc-row
				.services-blog__title.js-dot
					p Lorem ipsum dolor sit  ipsumamet
				.services-blog__icon
			.services-blog__text.js-dot
				p Lorem ipsum dolor sit amet, consectetur adipiscing sit amet.
			.services-blog__date
				p 24 октября 2016
.services-blog__col.js-scene(data-offset='-15')
	a.services-blog__item(href='#')
		.services-blog__item-ratio
			.services-blog__item-inner.js-motion(data-motion='motion3' data-main-delay='0.5' data-move-up='75')
				img(src='img/content/blog-2.jpg' alt='image')
		.services-blog__desc.js-motion(data-motion='motion2' data-main-delay='0.75' data-move-up='50' data-speed-alpha='1.5')
			.services-blog__desc-row
				.services-blog__title.js-dot
					p Lorem ipsum dolor sit ait
				.services-blog__icon
			.services-blog__text.js-dot
				p Lorem ipsum.
			.services-blog__date
				p 24 октября 2016
.services-blog__col.js-scene(data-offset='-15')
	a.services-blog__item(href='#')
		.services-blog__item-ratio
			.services-blog__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='75')
				img(src='img/content/blog-3.jpg' alt='image')
		.services-blog__desc.js-motion(data-motion='motion2' data-main-delay='0.25' data-move-up='50' data-speed-alpha='1.5')
			.services-blog__desc-row
				.services-blog__title.js-dot
					p Lorem ipsum dolor sit ait
				.services-blog__icon
			.services-blog__text.js-dot
				p Lorem ipsum dolor sit amet, consectetur adipiscing sit amet consectetur adipiscing sit amet.
			.services-blog__date
				p 24 октября 2016