extend includes/_layout

block vars
	-var bodyClass = 'page-404'

block title
	title 404
block content
	.full-section.full-section_center.js-scene(data-offset='-40')
		.page-404__title.js-motion(data-motion='motion3' data-move-up='20' data-speed-line='0.3' data-speed-rect='0.3')
			p 404
		.page-404__desc.js-motion(data-motion='motion3' data-main-delay='0.25' data-move-up='20' data-speed-line='0.3' data-speed-rect='0.3')
			p page not found
		a.page-404__btn.btn.btn_red.js-motion(data-motion='motion4' data-main-delay='0.5' href='#')
			| home page
			.btn__icon
