extend includes/_layout

block vars
	- var bodyClass = 'page-about'

block title
	title About
block content
	.line-v.line-v_1
	//begin screen
	.screen.screen_md
		.screen__anime
		.screen__slider
			.screen__item
				video.screen__video(src='video/screen-1.mp4' loop='loop' preload='none')
				.screen__img.screen__img_scale(style='background-image: url(img/content/open-item.jpg)')
				.screen__container.container
					.screen__inner.screen__inner-lift_up
						button.screen__play.screen__play_open-article.js-play(type='button')
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
								path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
	//end screen

	.page-about__start.js-scene(data-offset='-40')
		.container
			.page-about__row
				.page-about__col-2.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='75' data-speed-alpha='1.5')
					.page-about__start-title.main-title Ценности и цели клиники Porcelain
					p Краткое она идет и чего хочет достигнуть. Много текста не нужно, желательно два короткий абзаца, но очень точных <br>Краткое описание ценностей клинники.
					p Краткое описание ценностей клинники, к чему она идет и чего хочет достигнуть. Много текста не нужно, желательно два короткий абзаца, но очень точных.
				.page-about__col-2.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='50' data-speed-rect='0.4' data-speed-line='0.4')
					img(src='img/content/about-start.jpg' alt='')

	.page-about__history.js-scene(data-offset='-40')
		.container
			.page-about__history-title.main-title.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='50' data-speed-rect='0.3' data-speed-line='0.3') История Porcelain начинается с 1995 года

		//begin history
		+b.history
			+e.nav-container.container
				+e.line-mob.js-history-line-mob
				//nav
				+e.nav.js-history-nav
					mixin historyNav(...items)
						each value, index in items
							+e.nav-item(data-index=index)
								p #{value}
					+historyNav('1995', '2003', '1998-2005', '2006', '2010', '2012', '2016')

			//line
			+e.line.js-history-line
				+e.line2
				+e.line-container.container
					+e.line-dots

			.container
				//for
				+e.for.js-history-for
					-var historyText = ['Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet, consectetur adipiscing elit.euismod bibendum. Lorem ipsum dolor sit amet sit amet'];
					-var historyImage = ['1'];
					mixin historyFor(...historyTitle)
						each value, index in historyTitle
							+e.for-item(data-index=index)
								+e.for-image
									if (historyImage.length > 1)
										img(src='img/content/history-image-' + historyImage[index] + '.jpg' alt='')
									else
										img(src='img/content/history-image-' + historyImage + '.jpg' alt='')
								+e.for-desc
									+e.for-title #{value}
									+e.for-text= (historyText.length > 1) ? historyText[index] : historyText

					+historyFor('Lorem ipsum dolor sit ait ipsumamet', 'Lorem ipsum dolor sit ait ipsumamet 2', 'Lorem ipsum 3', 'Lorem ipsum dolor sit ait ipsumamet 4', 'Lorem 5', 'Lorem 6', 'Lorem ipsum dolor sit ait ipsumamet 7')
		//end history

	//begin clinic
	+b.clinic.js-scene(data-offset='-40')
		.container
			+e.title.main-title.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='50' data-speed-line='0.3' data-speed-rect='0.3') Клиенты клиники
			+e.subtitle.js-motion(data-motion='motion3' data-main-delay='0.15' data-move-up='30' data-speed-line='0.3' data-speed-rect='0.3') Компания "Porcelain" предоставляет стоматологические услуги для 18 посольств в Украине
		+e.list-container.js-motion(data-motion='motion2' data-main-delay='0.25' data-move-up='50' data-speed-alpha='1.5')
			.container
				+e.list.js-clinic-slider
					mixin listItem(...items)
						each value in items
							+e.list-item
								+e.A.list-link(href='#') #{value}
					+listItem('германия', 'венгрия', 'словакия', 'франция', 'венгрия', 'франция', 'франция', 'польша', 'чехия', 'польша', 'чехия', 'польша', 'швеция', 'нидерланды', 'швейцария')
	//end clinic

	//begin partners
	+b.partners.js-scene(data-offset='-40')
		.container
			+e.title.main-title.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='30' data-speed-rect='0.3' data-speed-line='0.3') партнеры
			+e.list.js-partners-slider
				-for (var i = 1; i <= 16; i++)
					+e.list-item.js-motion(data-motion='motion1' data-main-delay=(i / 10) data-move-delay='0.25' data-move-up='100')
						+e.A.list-link(href='#')
							img(src='img/content/partner-' + i + '.png' alt='')
			+e.row
				+e.A.button.btn.btn_red.js-motion(data-motion='motion4' data-main-delay='2.5' href='#')
					| давайте сотрудничать
					.btn__icon
	//end partners

	//begin why
	.why.why_about.js-scene(data-offset='-40')
		.why__container.container
			.why__top
				.why__top-col.why__top-col_about.why__top-title.js-motion(data-motion='motion1' data-move-delay='0' data-move-up='100')
					p Наши врачи
			.why__row.js-why-about-slider
				.why__col.why__col_about
					.why__item.why__item_about.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='75')
							.why__title
								p регулярное обучение
							.why__text
								p Клиника спонсирует обучение врачей за границу, проводит регулярные тренинги, оформляет прохождение специлизированых курсов
				.why__col.why__col_about
					.why__item.why__item_about.js-motion(data-motion='motion3' data-main-delay='0.3' data-move-up='30' data-move-up-speed='1' data-speed-line='0.8')
							img(src='img/content/doctor-why-1.jpg' alt='')
							.why__title
								p специализация
							.why__text
								p Все врачи клиники Porcelain работают только в нашей клинике. Даже через 5 лет вы вернетесь на лечение к нам - и вас встретит знакомое лицо вашего врача
				.why__col.why__col_about
					.why__item.why__item_about.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='50' data-speed-rect='1')
						.why__title
							p универсальность
						.why__text
							p Врачи клиники говорят на английском и немецом языках
				.why__col.why__col_about
					.why__item.why__item_about.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='40')
						img(src='img/content/doctor-why-2.jpg' alt='')
						.why__title
							p porcelain
						.why__text
							p Многие врачи других клиник хотят перейти в Porcelain. Потому что мы создаем самое комфортное место для работы

	.page-about__standarts.js-scene(data-offset='-40')
		.container
			.page-about__standarts-title.main-title.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='20' data-speed-rect='0.3' data-speed-line='0.3') стандарты обсуживания
			.page-about__row
				.page-about__col-2.js-motion(data-motion='motion2' data-main-delay='0.15' data-move-up='35' data-speed-alpha='1.25')
					.page-about__standarts-subtitle Международный протокол лечения
					p Пару коротких абзацев описания международного протокола лечения. Написать вкратце, что это такое (это специфический термин - и его нужно описать как можно понятней дя масс, простым языком).
					p Клиника использует аналогичную схему лечения и материалы каки во всех передовых странах мира!
				.page-about__col-2.js-motion(data-motion='motion2' data-main-delay='0.2' data-move-up='50' data-speed-alpha='1.5')
					.page-about__standarts-subtitle Установленные стандарты обслуживания
					p Пару коротких абзацев описания установленных стандартов обслуживания. Написать вкратце, что это такое (это специфический термин - и его нужно описать как можно понятней дя масс, простым языком).
					p Используется 8-ми ступенчатая стерилизация оборудования.

	//begin service
	.service.js-scene(data-offset='-40')
		.service__container.container
			.service__item.service__item_title.js-motion(data-motion='motion1' data-advanced-width='40' data-main-delay='0.1' data-move-up='70')
				p Сервис <br>клиники Porcelain <br>в деталях
			.service__list.js-service-slider
				.service__item.js-motion(data-motion='motion1' data-move-up='70')
					.service__title
						.service__title-text
							p Собираем самые необходимые данные и особенности пациента
				.service__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='0.75')
					img(src='img/content/service-2.jpg' alt='image')
					.service__title
						.service__title-text
							p Игровая комната <br>и детский кабинет
				.service__item.js-motion(data-motion='motion1' data-main-delay='0.15' data-move-up='50')
					.service__title
						.service__title-text
							p Комната отдыха <br>и сна после наркоза
				.service__item.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='1')
					.service__title
						.service__title-text
							p Небольшая библиотека Porcelain: свежие журналы <br>и книги
				.service__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='50' data-move-up-speed='1')
					img(src='img/content/service-6.jpg' alt='image')
					.service__title
						.service__title-text
							p Профессиональная фотосессия <br>с мейкапом <br>по окончании лечения
				.service__item.js-motion(data-motion='motion1' data-main-delay='0.25' data-move-up='70' data-speed-line='1')
					.service__title
						.service__title-text
							p Кафе в клинике, <br>где можно попробовать десерт <br>и выпить чай
	//end service

	.page-about__about
		include includes/_about