extend includes/_layout

block vars
	-var bodyClass = 'page-contacts'

block title
	title Contacts
block content
	.contacts.full-section.js-scene(data-offset='0')
		.category-title.js-motion.js-scene(data-offset='0' data-motion='motion1' data-main-delay='0' data-move-up='50' data-speed-line='0.2' data-move-up-speed='0.5')
			.category-title__container.container
				h1 контакты

		.contacts__container.contacts__top.container
			a.contacts__top-link.js-motion.js-scene(href='#' data-offset='-40' data-motion='motion3' data-main-delay='0' data-move-up='10' data-speed-rect='0.3')
				| виртуальный кабинет Пациента
				+i('arrow-right')
			.contacts__download.js-motion.js-scene(data-offset='-40' data-motion='motion3' data-move-up='20' data-speed-rect='0.3')
				.contacts__download-text Скачать мобильное приложение
				a.contacts__download-link(href='#')
					img(src='img/content/google-play.png' alt='image')
				a.contacts__download-link(href='#')
					img(src='img/content/app-store.png' alt='image')


		//begin map
		.map.map_contacts.js-scene(data-offset='-40')
			.map__list.map__list_contacts.container.js-map-list.js-tabs-nav
				.map__col.map__col_contacts.is-active.js-motion(data-motion='motion1' data-move-up='60' data-main-delay='0.5' data-speed-line='0.75')
					.map__col-inner
						.map__title
							p 01
							p татарка
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
							a(href='#')
								| карта проезда
								+i('arrow-right')
				.map__col.map__col_contacts.js-motion(data-motion='motion1' data-move-up='30' data-main-delay='0.6' data-speed-line='0.75')
					.map__col-inner
						.map__title
							p 02
							p подол
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
							a(href='#')
								| карта проезда
								+i('arrow-right')
				.map__col.map__col_contacts.js-motion(data-motion='motion1' data-move-up='45' data-main-delay='0.7' data-speed-line='0.75')
					.map__col-inner
						.map__title
							p 03
							p печерск
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
							a(href='#')
								| карта проезда
								+i('arrow-right')
			.map__wrap.map__wrap_contacts.js-tabs-for.js-motion(data-motion='motion3' data-speed-rect='0.6' data-auto-height='false')
				.map__el.map__el_contacts#map1(data-center='50.460321, 30.511742')
				.map__el.map__el_contacts#map2(data-center='50.460321, 30.511742')
				.map__el.map__el_contacts#map3(data-center='50.460321, 30.511742')
		//end map

		.contacts__container.contacts__bot.container
			.contacts__share.js-motion.js-scene(data-offset='-40' data-motion='motion3' data-move-up='20')
				.contacts__share-text Мы в социальных сетях
				ul.contacts__share-list
					-var shareIcons = ['insta', 'fb', 'yt', 'telegram', 'tw', 'periscope', 'snapchat'];
					each icon in shareIcons
						li.contacts__share-item: a.contacts__share-link(href='#'): +i(icon)

		include includes/_about

block js
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_5P4IIFsySgMjMwG2dtuJiMUcg5X6gg0")
	script(src="js/separated/jquery.min.js")
	script(src="js/app.js")
