extend includes/_layout

block vars
	-var bodyClass = 'page-doctors'
	-var navToggle = 'услуги'

block title
	title Doctors
block content
	.doctors.full-section
		.category-title.js-motion.js-scene(data-offset='0' data-motion='motion1' data-main-delay='0' data-move-up='50' data-speed-line='0.2' data-move-up-speed='0.5')
			.category-title__container.container
				h1 Врачи Porcelain

		.doctors__container.container
			.doctors__flex-container
				.doctors__aside
					//begin nav-sub
					-var navSubMenu = ['врачи-кураторы', 'Ортодонты', 'Эндодонты', 'Пародонтологи', 'Гигиенисты', 'Терапевты', 'Детский кабинет', 'Анестезиологи', 'Хирурги-имплантологи']
					-var navSubToggle = 'врачи-кураторы'
					-var navSubClass = 'doctors__nav-sub js-nav-sub'
					include includes/_nav-sub
					//end nav-sub

				.doctors__content
					.doctors__selected-category.js-nav-sub-toggle
						span
						.arrow-bot-anim.is-active
					//begin inno
					.inno.inno_doctors.js-nav-sub-for.js-scene(data-offset="-15")
						//tab-row1
						.inno__row(data-tab-id='0')
							.inno__col
								a.inno__item.js-inno-el(href='index.html')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
						//tab-row2
						.inno__row(data-tab-id='1')
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
						//tab-row3
						.inno__row(data-tab-id='2')
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
						//tab-row4
						.inno__row(data-tab-id='3')
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
						//tab-row5
						.inno__row(data-tab-id='4')
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
						//tab-row6
						.inno__row(data-tab-id='5')
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
						//tab-row7
						.inno__row(data-tab-id='6')
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
						//tab-row8
						.inno__row(data-tab-id='7')
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
						//tab-row9
						.inno__row(data-tab-id='8')
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										//.inno__item-video
											video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
										img(src='img/content/doctors-img-1.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p тарасова анна владимировна
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-2.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p иваненко игорь иванович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
							.inno__col
								a.inno__item.js-inno-el(href='#')
									.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
										img(src='img/content/doctors-img-3.jpg' alt='image')
									.inno__desc.js-inno-desc
										.inno__desc-title
											.inno__desc-title-text
												p гнатюк олег артемович
											.icon.arrow-right-anim
										.inno__desc-text
											p Подольский район, ортопедическая стоматология
					//end inno
