extend includes/_layout
block title
	title Home
block content
	.line-v.line-v_1
	//begin screen
	.screen
		.screen__anime
		button.screen__scroll.is-animate.js-scroll-btn(type='button' data-href='#inno')
			span.screen__scroll-text листайте вниз
			.screen__scroll-line
		.screen__slider.js-screen-slider
			.screen__item
				video.screen__video(src='/video/screen-1.mp4' loop='loop' preload='none')
				.screen__img(style='background-image: url(/img/content/screen-1.jpg)')
				.screen__container.container
					.screen__inner
						button.screen__play.js-play(type='button')
							span.screen__play-text смотреть видео о нас
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 27.32 34.44')
								defs
									style.
										.path {
											fill: none;
											stroke: #fff;
											stroke-miterlimit: 10;
											stroke-width: 3px;
											fill-rule: evenodd;
										}
								path.path(d='M24.5,17.22l-23,14.5v-29Z')
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
							a.screen__btn.btn.btn_red(href='#')
								| детский кабинет
								.btn__icon
			.screen__item
				.screen__img(style='background-image: url(/img/content/screen-2.jpg)')
				.screen__container.container
					.screen__inner
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
						a.screen__btn.btn.btn_red(href='#')
							| детский кабинет
							.btn__icon
			.screen__item
				.screen__img(style='background-image: url(/img/content/screen-2.jpg)')
				.screen__container.container
					.screen__inner
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
						a.screen__btn.btn.btn_red(href='#')
							| детский кабинет
							.btn__icon
			.screen__item
				.screen__img(style='background-image: url(/img/content/screen-2.jpg)')
				.screen__container.container
					.screen__inner
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
						a.screen__btn.btn.btn_red(href='#')
							| детский кабинет
							.btn__icon
			.screen__item
				.screen__img(style='background-image: url(/img/content/screen-3.jpg)')
				.screen__container.container
					.screen__inner
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
						a.screen__btn.btn.btn_red(href='#')
							| детский кабинет
							.btn__icon
	//end screen

	//begin inno
	.inno#inno.js-scene(data-offset="0")
		.inno__container.container
			.inno__top
				.inno__top-col.inno__top-title.js-motion(data-motion='motion1' data-move-delay='0.25' data-move-up='100')
					p инновации porcelain
				.inno__top-col
					.inno__top-subtitle.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-speed-alpha='1.5')
						p Клиника "Porcelain" внедряет новые стандарты лечения зубов
					.inno__top-text.js-motion(data-motion='motion2' data-main-delay='0' data-move-delay='0.25' data-move-up='100')
						p Клиника Porclaine совершенствуется каждый день и применяет все возможности передовых технологий для безопасного <br>и комфортного лечения пациентов
			.inno__row
				.inno__col
					.inno__item
						.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75')
							.inno__item-video
								video.inno__video(src='/video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
							img(src='/img/content/inno-1.jpg' alt='image')
						.inno__desc.js-inno-desc
							.inno__desc-title
								.inno__desc-title-text
									p 3D-пациент
								.icon.arrow-bot-anim
							.inno__desc-text
								p Проектируем цифровой прототип для разработки плана лечения.
				.inno__col
					.inno__item
						.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75')
							img(src='/img/content/inno-2.jpg' alt='image')
						.inno__desc.js-inno-desc
							.inno__desc-title
								.inno__desc-title-text
									p Виртуальные операции
								.icon.arrow-bot-anim
							.inno__desc-text
								p Проектируем цифровой прототип для разработки плана лечения.
				.inno__col
					.inno__item
						.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75')
							img(src='/img/content/inno-3.jpg' alt='image')
						.inno__desc.js-inno-desc
							.inno__desc-title
								.inno__desc-title-text
									p Цифровая модель улыбки
								.icon.arrow-bot-anim
							.inno__desc-text
								p Проектируем цифровой прототип для разработки плана лечения.
	//end inno

	//begin start
	.start.js-scene(data-offset="0")
		.start__container.container
			.start__item.start__item_title.js-motion(data-motion='motion1' data-advanced-width='40' data-main-delay='0.1' data-move-up='70')
				p услуги <br>клиники Porcelain
			.start__list
				.start__item.js-motion(data-motion='motion1' data-move-up='70')
					.start__item-desc
						.start__title
							.start__title-text
								p первый прием
							.start__title-icon
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='0.75')
					img(src='/img/content/start-2.jpg' alt='image')
					//video.start__video(src='/video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
					.start__item-desc
						.start__title
							.start__title-text
								p лечение десен
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion1' data-main-delay='0.15' data-move-up='50')
					.start__item-desc
						.start__title
							.start__title-text
								p протезирование и эстетика
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='1')
					.start__item-desc
						.start__title
							.start__title-text
								p лечение каналов
							.start__title-icon
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='50' data-move-up-speed='1')
					img(src='/img/content/start-6.jpg' alt='image')
					.start__item-desc
						.start__title
							.start__title-text
								p детский кабинет
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion1' data-main-delay='0.25' data-move-up='70' data-speed-line='1')
					.start__item-desc
						.start__title
							.start__title-text
								p профилактика
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				a.start__button.btn.btn_red.js-motion(data-motion='motion4' data-main-delay='2' href='#')
					| все услуги клиники
					.btn__icon
	//end start

	//begin why
	.why.js-scene(data-offset='0')
		.why__container.container
			.why__top
				.why__top-col.why__top-title.js-motion(data-motion='motion1' data-move-delay='0.25' data-move-up='100')
					p почему porcelain?
				.why__top-col
					.why__top-subtitle.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-speed-alpha='1.5')
						p Как проходит лечение
					.why__top-text.js-motion(data-motion='motion2' data-main-delay='0' data-move-delay='0.25' data-move-up='100')
						p Наши технологии увеличивают скорость вашего выздоровления, вам не придется долго ждать
			.why__row.js-why-slider
				.why__col
					.why__item.js-motion(data-motion='motion1' data-main-delay='0' data-move-up='75')
							.why__number 01
							.why__title
								p Вы звоните в клинику
							.why__text
								p Вместе с клиент-менеджером вы определяете необходимое лечение, выбираете удобное время и дату встречи с врачом.
				.why__col
					.why__item.js-motion(data-motion='motion1' data-main-delay='0.3' data-move-up='30' data-move-up-speed='1' data-speed-line='0.8')
							.why__number 02
							.why__title
								p Вы встречаетесь с врачом
							.why__text
								p Мы делаем серию фотографий и рентген-снимков, проектируем 3D-прототип и презентуем вам варианты лечения.
				.why__col
					.why__item.js-motion(data-motion='motion1' data-main-delay='0.4' data-move-up='50' data-speed-rect='1')
						.why__number 03
						.why__title
							p Вы начинаете лечение
						.why__text
							p В ходе лечения для вашей безопасности, экономии времени и точности результата мы тестируем каждый этап на прототипе.
				.why__col
					.why__item.why__item.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='40')
						.why__number 04
						.why__title
							p Вы получаете онлайн-карту
						.why__text
							p Вы знакомитесь с планом лечения, финансовой историей, графиком визитов в мобильном приложении и виртуальном кабинете на сайте.
	//end why

	//begin reg
	.reg.js-scene(data-offset='0')
		.reg__container.container
			.reg__row.reg__row_right
				.reg__col
					.reg__title.js-motion(data-motion='motion1' data-move-delay='0.25' data-move-up='100')
						p запись <br>на прием
					.reg__image.js-motion(data-motion='motion3' data-main-delay='0.5')
						img(src='/img/content/reg-photo.jpg' alt='image')
				.reg__col.js-motion(data-motion='motion1' data-main-delay='0.15' data-speed-rect='1.2')
					.reg__subtitle
						p Моя задача – понять вашу потребность и составить персональный план лечения
					.reg__row
						.reg__column
								p Здравствуйте, меня зовут Анастасия, я клиент-менеджер клиники Porcelain.
								p Каждый день я разговариваю с пациентами, которые выбирают себе клинику и помогаю им разобраться с ценами.
								p После нашей беседы вы узнаете оптимальный вариант лечения, сколько это будет стоить, и мы вместе подберем врача.
						.reg__column
							.reg__column-row
								p для записи на прием позвоните мне <br>по телефону
								a(href='tel:0445937787') 044 593 77 87
							.reg__column-row
								p или я могу вам написать
								a.reg__btn.btn.btn_white(href='#')
									| оставить заявку
									.btn__icon.btn__icon_red
	//end reg

	//begin service
	.service.js-scene(data-offset='0')
		.service__container.container
			.service__item.service__item_title.js-motion(data-motion='motion1' data-advanced-width='40' data-main-delay='0.1' data-move-up='70')
				p Сервис <br>клиники Porcelain <br>в деталях
			.service__list.js-service-slider
				.service__item.js-motion(data-motion='motion1' data-move-up='70')
					.service__title
						.service__title-text
							p Собираем самые необходимые данные и особенности пациента
				.service__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='0.75')
					img(src='/img/content/service-2.jpg' alt='image')
					.service__title
						.service__title-text
							p Игровая комната <br>и детский кабинет
				.service__item.js-motion(data-motion='motion1' data-main-delay='0.15' data-move-up='50')
					.service__title
						.service__title-text
							p Комната отдыха <br>и сна после наркоза
				.service__item.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='1')
					.service__title
						.service__title-text
							p Небольшая библиотека Porcelain: свежие журналы <br>и книги
				.service__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='50' data-move-up-speed='1')
					img(src='/img/content/service-6.jpg' alt='image')
					.service__title
						.service__title-text
							p Профессиональная фотосессия <br>с мейкапом <br>по окончании лечения
				.service__item.js-motion(data-motion='motion1' data-main-delay='0.25' data-move-up='70' data-speed-line='1')
					.service__title
						.service__title-text
							p Кафе в клинике, <br>где можно попробовать десерт <br>и выпить чай
	//end service

	//begin gal
	.gal.js-scene(data-offset='0')
		.gal__container.container
			.gal__row
				.gal__item.gal__item_1
					.gal__item-title.js-motion(data-motion='motion1' data-main-delay='0' data-move-up='70')
						p Наши здоровые клиенты
					.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.35' data-move-up='50' data-move-delay='0.45')
						img(src='/img/content/gal-1.jpg' alt='image')
					.gal__item-in.gal__item-in_1-1
						.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='30')
							img(src='/img/content/gal-1-1.jpg' alt='image')
						.gal__item-in.gal__item-in_1-2
							.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.5' data-move-up='50' data-move-delay='0.35')
								img(src='/img/content/gal-1-2.jpg' alt='image')
				.gal__item.gal__item_2
					.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.6' data-move-up='40')
						img(src='/img/content/gal-2.jpg' alt='image')
					.gal__item-in.gal__item-in_2-1
						.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='50' data-move-delay='0.35')
							img(src='/img/content/gal-2-1.jpg' alt='image')
				.gal__item.gal__item_3
					.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='20' data-move-delay='0.35')
						img(src='/img/content/gal-3.jpg' alt='image')
				.gal__item.gal__item_4
					.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='60')
						img(src='/img/content/gal-4.jpg' alt='image')
					.gal__item-in.gal__item-in_4-1
						.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.3' data-move-up='45' data-move-delay='0.35')
							img(src='/img/content/gal-4-1.jpg' alt='image')
			.gal__desc
				.gal__desc-text.js-motion(data-motion='motion3' data-main-delay='0.75')
					p Нам доверили свои улыбки 27 000 человек. <br>из них — посольства 20 стран мира, <br>15 международных компаний <br>и 33 страховые компании.
				a.gal__desc-btn.btn.btn_black.js-motion(href='#' data-motion='motion4' data-main-delay='2')
					| <span class="btn__hide">читать </span>истории клиентов
					.btn__icon
	//end gal

	//begin about
	.about.js-scene(data-offset='-20')
		.about__container.container
			.about__row
				.about__col
					.about__title.js-motion(data-motion='motion3' data-move-up='20')
						p для записи на прием позвоните
					.about__phone.js-motion(data-motion='motion3' data-move-up='40' data-move-delay='0.3' data-main-delay='0.2')
						a(href='tel:0445937787') 044 593 77 87
				.about__col
					.about__title.js-motion(data-motion='motion3' data-move-up='20' data-main-delay='0.1')
						p или оставьте заявку через форму записи
					a.about__button.btn.btn_red.js-motion(href='#' data-motion='motion4' data-main-delay='1.5')
						| оставить заявку
						.btn__icon
	//end about

	//begin map
	.map.js-scene(data-offset='0')
		.map__container.container
			.map__list.js-map-list.js-tabs-nav
				.map__col.is-active.js-motion(data-motion='motion1' data-move-up='60' data-main-delay='0' data-speed-line='0.75' data-auto-height='true')
					.map__col-inner
						.map__title
							p 01
							p подол
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
				.map__col.js-motion(data-motion='motion1' data-move-up='30' data-main-delay='0.1' data-speed-line='0.75' data-auto-height='true')
					.map__col-inner
						.map__title
							p 02
							p татарка
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
				.map__col.js-motion(data-motion='motion1' data-move-up='45' data-main-delay='0.2' data-speed-line='0.75' data-auto-height='true')
					.map__col-inner
						.map__title
							p 03
							p печерск
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
			.map__wrap.js-tabs-for.js-motion(data-motion='motion3' data-speed-rect='1.25')
				.map__el.is-active#map1
				.map__el#map2
				.map__el#map3
	//end map

block js
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_5P4IIFsySgMjMwG2dtuJiMUcg5X6gg0")
	script(src="js/app.js")

