extend includes/_layout

block vars
	- var bodyClass = 'page-home'

block title
	title Home
block content
	.line-v.line-v_1
	//begin screen
	.screen
		.screen__anime
		button.screen__scroll.is-animate.js-scroll-btn(type='button' data-href='#inno')
			span.screen__scroll-text листайте вниз
			.screen__scroll-line
		.screen__slider.js-screen-slider
			.screen__item
				video.screen__video(src='video/screen-1.mp4' loop='loop')
				video.screen__video-preload(src='video/screen-1-preload.mp4' loop='loop')
				.screen__img.screen__img_tablet(style='background-image: url(img/content/screen-1-tablet.jpg)')
				.screen__img(style='background-image: url(img/content/screen-1.jpg)')
				.screen__container.container
					.screen__inner
						button.screen__play.js-play(type='button')
							span.screen__play-text смотреть видео о нас
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
								path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
							a.screen__btn.btn.btn_red(href='#')
								| детский кабинет
								.btn__icon
			.screen__item
				video.screen__video(src='video/screen-1.mp4' loop='loop' preload='none')
				video.screen__video-preload(src='video/screen-1-preload.mp4' loop='loop')
				.screen__img(style='background-image: url(img/content/screen-2.jpg)')
				.screen__container.container
					.screen__inner
						button.screen__play.js-play(type='button')
							span.screen__play-text смотреть видео о нас
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
								path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
						a.screen__btn.btn.btn_red(href='#')
							| детский кабинет
							.btn__icon
			.screen__item
				.screen__img(style='background-image: url(img/content/screen-2.jpg)')
				.screen__container.container
					.screen__inner
						button.screen__play.js-play(type='button')
							span.screen__play-text смотреть видео о нас
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
								path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
						a.screen__btn.btn.btn_red(href='#')
							| детский кабинет
							.btn__icon
			.screen__item
				.screen__img(style='background-image: url(img/content/screen-2.jpg)')
				.screen__container.container
					.screen__inner
						button.screen__play.js-play(type='button')
							span.screen__play-text смотреть видео о нас
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
								path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
						a.screen__btn.btn.btn_red(href='#')
							| детский кабинет
							.btn__icon
			.screen__item
				.screen__img(style='background-image: url(img/content/screen-3.jpg)')
				.screen__container.container
					.screen__inner
						button.screen__play.js-play(type='button')
							span.screen__play-text смотреть видео о нас
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
								path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
						.screen__title
							p Дети не боятся приводить своих родитлей в Porcelain
						a.screen__btn.btn.btn_red(href='#')
							| детский кабинет
							.btn__icon
	//end screen

	//begin inno
	.inno#inno.js-scene(data-offset="0")
		.inno__container.container
			.inno__top
				.inno__top-col.inno__top-title.js-motion(data-motion='motion1' data-move-delay='0.25' data-move-up='100')
					p инновации porcelain
				.inno__top-col
					.inno__top-subtitle.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-speed-alpha='1.5')
						p Клиника "Porcelain" внедряет новые стандарты лечения зубов
					.inno__top-text.js-motion(data-motion='motion2' data-main-delay='0' data-move-delay='0.25' data-move-up='100')
						p Клиника Porclaine совершенствуется каждый день и применяет все возможности передовых технологий для безопасного <br>и комфортного лечения пациентов
			.inno__row
				.inno__col
					.inno__item.js-inno-el
						.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75')
							.inno__item-video
								video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
							img(src='img/content/inno-1.jpg' alt='image')
						.inno__desc.js-inno-desc
							.inno__desc-title
								.inno__desc-title-text
									p 3D-пациент
								.icon.arrow-bot-anim
							.inno__desc-text
								p Проектируем цифровой прототип для разработки плана лечения.
				.inno__col
					.inno__item.js-inno-el
						.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-delay='0' data-move-up='75')
							img(src='img/content/inno-2.jpg' alt='image')
						.inno__desc.js-inno-desc
							.inno__desc-title
								.inno__desc-title-text
									p Виртуальные операции
								.icon.arrow-bot-anim
							.inno__desc-text
								p Проектируем цифровой прототип для разработки плана лечения.
				.inno__col
					.inno__item.js-inno-el
						.inno__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75')
							img(src='img/content/inno-3.jpg' alt='image')
						.inno__desc.js-inno-desc
							.inno__desc-title
								.inno__desc-title-text
									p Цифровая модель улыбки
								.icon.arrow-bot-anim
							.inno__desc-text
								p Проектируем цифровой прототип для разработки плана лечения.
	//end inno

	//begin start
	.start.js-scene(data-offset="0")
		.start__container.container
			.start__item.start__item_title.js-motion(data-motion='motion1' data-advanced-width='40' data-main-delay='0.1' data-move-up='70')
				p услуги <br>клиники Porcelain
			.start__list
				.start__item.start__item_red.js-motion(data-motion='motion1' data-move-up='70')
					.start__item-desc
						.start__title
							.start__title-text
								p первый прием
							.start__title-icon
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='0.75')
					img(src='img/content/start-2.jpg' alt='image')
					video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
					.start__item-desc
						.start__title
							.start__title-text
								p лечение десен
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.start__item_white.js-motion(data-motion='motion1' data-main-delay='0.15' data-move-up='50')
					.start__item-desc
						.start__title
							.start__title-text
								p протезирование и эстетика
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.start__item_red.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='1')
					.start__item-desc
						.start__title
							.start__title-text
								p лечение каналов
							.start__title-icon
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='50' data-move-up-speed='1')
					img(src='img/content/start-6.jpg' alt='image')
					.start__item-desc
						.start__title
							.start__title-text
								p детский кабинет
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.start__item_white.js-motion(data-motion='motion1' data-main-delay='0.25' data-move-up='70' data-speed-line='1')
					.start__item-desc
						.start__title
							.start__title-text
								p профилактика
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				a.start__button.btn.btn_red.js-motion(data-motion='motion4' data-main-delay='2' href='#')
					| все услуги клиники
					.btn__icon
	//end start

	//begin why
	.why.js-scene(data-offset='0')
		.why__container.container
			.why__top
				.why__top-col.why__top-title.js-motion(data-motion='motion1' data-move-delay='0.25' data-move-up='100')
					p почему porcelain?
				.why__top-col
					.why__top-subtitle.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-speed-alpha='1.5')
						p Как проходит лечение
					.why__top-text.js-motion(data-motion='motion2' data-main-delay='0' data-move-delay='0.25' data-move-up='100')
						p Наши технологии увеличивают скорость вашего выздоровления, вам не придется долго ждать
			.why__row.js-why-slider
				.why__col
					.why__item.js-motion(data-motion='motion1' data-main-delay='0' data-move-up='75')
							.why__number 01
							.why__title
								p Вы звоните в клинику
							.why__text
								p Вместе с клиент-менеджером вы определяете необходимое лечение, выбираете удобное время и дату встречи с врачом.
				.why__col
					.why__item.js-motion(data-motion='motion1' data-main-delay='0.3' data-move-up='30' data-move-up-speed='1' data-speed-line='0.8')
							.why__number 02
							.why__title
								p Вы встречаетесь с врачом
							.why__text
								p Мы делаем серию фотографий и рентген-снимков, проектируем 3D-прототип и презентуем вам варианты лечения.
				.why__col
					.why__item.js-motion(data-motion='motion1' data-main-delay='0.4' data-move-up='50' data-speed-rect='1')
						.why__number 03
						.why__title
							p Вы начинаете лечение
						.why__text
							p В ходе лечения для вашей безопасности, экономии времени и точности результата мы тестируем каждый этап на прототипе.
				.why__col
					.why__item.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='40')
						.why__number 04
						.why__title
							p Вы получаете онлайн-карту
						.why__text
							p Вы знакомитесь с планом лечения, финансовой историей, графиком визитов в мобильном приложении и виртуальном кабинете на сайте.
	//end why

	//begin reg
	.reg.js-scene(data-offset='0')
		.reg__container.container
			.reg__row.reg__row_right
				.reg__col
					.reg__title.js-motion(data-motion='motion1' data-move-delay='0.25' data-move-up='100')
						p запись <br>на прием
					.reg__image.js-motion(data-motion='motion3' data-main-delay='0.5')
						img(src='img/content/reg-photo.jpg' alt='image')
				.reg__col.js-motion(data-motion='motion1' data-main-delay='0.15' data-speed-rect='1.2')
					.reg__col-inner
						.reg__subtitle
							p Моя задача – понять вашу потребность и составить персональный план лечения
						.reg__row
							.reg__column
									p Здравствуйте, меня зовут Анастасия, я клиент-менеджер клиники Porcelain.
									p Каждый день я разговариваю с пациентами, которые выбирают себе клинику и помогаю им разобраться с ценами.
									p После нашей беседы вы узнаете оптимальный вариант лечения, сколько это будет стоить, и мы вместе подберем врача.
							.reg__column
								.reg__column-row
									p для записи на прием позвоните мне <br>по телефону
									a(href='tel:0445937787') 044 593 77 87
								.reg__column-row
									p или я могу вам написать
									a.reg__btn.btn.btn_white(href='#')
										| оставить заявку
										.btn__icon.btn__icon_red
	//end reg

	//begin skill
	.skill.js-scene(data-offset='0')
		.skill__map
			.skill__map-gradient.skill__map-gradient_vertical
			.skill__map-gradient.skill__map-gradient_horizontal
			include includes/_main-map-svg
		.skill__container.container
			.skill__top-col.skill__title.js-motion(data-motion='motion1' data-move-delay='0.25' data-move-up='100')
				p Навыки <br>наших врачей
			.skill__top-col
				a.skill__top-col-btn.btn.btn_black.js-motion(href='#' data-motion='motion4' data-main-delay='2')
					| <span class="btn__hide">узнать </span>наших врачей<span class="btn__hide"> ближе</span>
					.btn__icon
				.skill__top-subtitle.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-speed-alpha='1.5')
					p Наши врачи набираются опыта в Японии и других передовых странах мира.
				.skill__top-nav-for.js-nav-for
					.skill__top-nav-for-item.js-motion(data-motion='motion2' data-main-delay='0.2' data-move-up='50' data-speed-alpha='1.5' data-country='DE CH AT IS' data-map-position="10 3")
						p западная европа
					.skill__top-nav-for-item.js-motion(data-motion='motion2' data-main-delay='0.4' data-move-up='50' data-speed-alpha='1.5' data-country='HU CZ PL' data-map-position="5 2")
						p центральная европа
					.skill__top-nav-for-item.js-motion(data-motion='motion2' data-main-delay='0.6' data-move-up='50' data-speed-alpha='1.5' data-country='IT' data-map-position="8 -3")
						p южная европа
					.skill__top-nav-for-item.js-motion(data-motion='motion2' data-main-delay='0.8' data-move-up='50' data-speed-alpha='1.5' data-country='IL TR' data-map-position="3 -7")
						p Западная Азия
					.skill__top-nav-for-item.js-motion(data-motion='motion2' data-main-delay='0.8' data-move-up='50' data-speed-alpha='1.5' data-country='JP' data-map-position="-25 -4")
						p восточная азия
					.skill__top-nav-for-item.js-motion(data-motion='motion2' data-main-delay='0.8' data-move-up='50' data-speed-alpha='1.5' data-country='US' data-map-position="40 -3")
						p северная америка
			.skill__top-nav-list.js-nav-list
				//slider
				.skill__top-nav-list-item.is-active.js-doctor-slider
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-1.jpg' alt='image')
							.doctor__info
								p Страна обучения: Германия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Салтыков И. О.
						.doctor__spec Доктор-гигиенист
						.doctor__settings
							.js-doctor-domen DE
							.js-doctor-country Германия
							.js-doctor-city Берлин
							.js-doctor-position 10 10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-2.jpg' alt='image')
							.doctor__info
								p Страна обучения: Германия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Мирончук А. А.
						.doctor__spec Доктор-терапевт, <br>ортопед
						.doctor__settings
							.js-doctor-domen DE
							.js-doctor-country Германия
							.js-doctor-city Берлин
							.js-doctor-position 10 10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-3.jpg' alt='image')
							.doctor__info
								p Страна обучения: Германия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Прощин Н. И.
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen DE
							.js-doctor-country Германия
							.js-doctor-city Мюнхен
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-2.jpg' alt='image')
							.doctor__info
								p Страна обучения: Германия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Павленко Ярослав
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen DE
							.js-doctor-country Германия
							.js-doctor-city Мюнхен
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-1.jpg' alt='image')
							.doctor__info
								p Страна обучения: Германия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Воронин Максим
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen DE
							.js-doctor-country Германия
							.js-doctor-city Мюнхен
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-3.jpg' alt='image')
							.doctor__info
								p Страна обучения: Германия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Имшенецкая Мария
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen DE
							.js-doctor-country Германия
							.js-doctor-city Мюнхен
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-4.jpg' alt='image')
							.doctor__info
								p Страна обучения: Швейцария
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Дмитренко А. С.
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen CH
							.js-doctor-country Швейцария
							.js-doctor-city Фрибург
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-5.jpg' alt='image')
							.doctor__info
								p Страна обучения: Швейцария
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Фурман В. C.
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen CH
							.js-doctor-country Швейцария
							.js-doctor-city Фрибург
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-6.jpg' alt='image')
							.doctor__info
								p Страна обучения: Швейцария
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Доктор №6
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen CH
							.js-doctor-country Швейцария
							.js-doctor-city Фрибург
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-7.jpg' alt='image')
							.doctor__info
								p Страна обучения: Швейцария
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Доктор №7
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen CH
							.js-doctor-country Швейцария
							.js-doctor-city Фрибург
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-1.jpg' alt='image')
							.doctor__info
								p Страна обучения: Австрия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Андрей Дмитренко
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen AT
							.js-doctor-country Австрия
							.js-doctor-city Линц
							.js-doctor-position 10 5
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-3.jpg' alt='image')
							.doctor__info
								p Страна обучения: Исландия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Фурман Виктория
						.doctor__spec Доктор-гигиенист
						.doctor__settings
							.js-doctor-domen IS
							.js-doctor-country Исландия
							.js-doctor-city Вогар
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-3.jpg' alt='image')
							.doctor__info
								p Страна обучения: Исландия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Прощин Наталья
						.doctor__spec Доктор-гигиенист
						.doctor__settings
							.js-doctor-domen IS
							.js-doctor-country Исландия
							.js-doctor-city Вогар
							.js-doctor-position 0 0
				//slider
				.skill__top-nav-list-item.js-doctor-slider
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-1.jpg' alt='image')
							.doctor__info
								p Страна обучения: Венгрия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Салтыков И. О.
						.doctor__spec Доктор-гигиенист
						.doctor__settings
							.js-doctor-domen HU
							.js-doctor-country Венгрия
							.js-doctor-city Будапешт
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-2.jpg' alt='image')
							.doctor__info
								p Страна обучения: Чехия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Мирончук А. А.
						.doctor__spec Доктор-терапевт, <br>ортопед
						.doctor__settings
							.js-doctor-domen CZ
							.js-doctor-country Чехия
							.js-doctor-city Прага
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-3.jpg' alt='image')
							.doctor__info
								p Страна обучения: Польща
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Прощин Н. И.
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen PL
							.js-doctor-country Польща
							.js-doctor-city Варшава
							.js-doctor-position -10 -10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-4.jpg' alt='image')
							.doctor__info
								p Страна обучения: Польща
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Дмитренко А. С.
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen PL
							.js-doctor-country Польща
							.js-doctor-city Варшава
							.js-doctor-position -10 -10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-5.jpg' alt='image')
							.doctor__info
								p Страна обучения: Польща
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Фурман В. C.
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen PL
							.js-doctor-country Польща
							.js-doctor-city Варшава
							.js-doctor-position -10 -10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-6.jpg' alt='image')
							.doctor__info
								p Страна обучения: Польща
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Доктор №6
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen PL
							.js-doctor-country Польща
							.js-doctor-city Варшава
							.js-doctor-position -10 -10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-7.jpg' alt='image')
							.doctor__info
								p Страна обучения: Польща
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Доктор №7
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen PL
							.js-doctor-country Польща
							.js-doctor-city Варшава
							.js-doctor-position 10 10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-4.jpg' alt='image')
							.doctor__info
								p Страна обучения: Польща
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Золотоверхий Дмитрий
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen PL
							.js-doctor-country Польща
							.js-doctor-city Варшава
							.js-doctor-position 10 10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-1.jpg' alt='image')
							.doctor__info
								p Страна обучения: Польща
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Туркив Андрей
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen PL
							.js-doctor-country Польща
							.js-doctor-city Варшава
							.js-doctor-position 10 10
				//slider
				.skill__top-nav-list-item.js-doctor-slider
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-1.jpg' alt='image')
							.doctor__info
								p Страна обучения: Италия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Салтыков И. О.
						.doctor__spec Доктор-гигиенист
						.doctor__settings
							.js-doctor-domen IT
							.js-doctor-country Италия
							.js-doctor-city Рим
							.js-doctor-position -10 -10
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-2.jpg' alt='image')
							.doctor__info
								p Страна обучения: Италия
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Мирончук А. А.
						.doctor__spec Доктор-терапевт, <br>ортопед
						.doctor__settings
							.js-doctor-domen IT
							.js-doctor-country Италия
							.js-doctor-city Милан
							.js-doctor-position 10 10
				//slider
				.skill__top-nav-list-item.js-doctor-slider
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-1.jpg' alt='image')
							.doctor__info
								p Страна обучения: Израиль
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Салтыков И. О.
						.doctor__spec Доктор-гигиенист
						.doctor__settings
							.js-doctor-domen IL
							.js-doctor-country Израиль
							.js-doctor-city Тель-Авив
							.js-doctor-position 0 0
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-2.jpg' alt='image')
							.doctor__info
								p Страна обучения: Турция
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Мирончук А. А.
						.doctor__spec Доктор-терапевт, <br>ортопед
						.doctor__settings
							.js-doctor-domen TR
							.js-doctor-country Турция
							.js-doctor-city Алания
							.js-doctor-position 0 0
				//slider
				.skill__top-nav-list-item.js-doctor-slider
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-3.jpg' alt='image')
							.doctor__info
								p Страна обучения: Япония
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Прощин Наталья
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen JP
							.js-doctor-country Япония
							.js-doctor-city Токио
							.js-doctor-position 25 0
				//slider
				.skill__top-nav-list-item.js-doctor-slider
					.skill__top-nav-list-inner.doctor
						.doctor__image
							img(src='img/content/doctor-3.jpg' alt='image')
							.doctor__info
								p Страна обучения: США
								p Изучение: <br>DSD концепция
						a.doctor__name(href='#') Морозли Евгения
						.doctor__spec Доктор-ортодонт
						.doctor__settings
							.js-doctor-domen US
							.js-doctor-country США
							.js-doctor-city Бостон
							.js-doctor-position 200 175
	//end skill

	//begin gal
	.gal.js-scene(data-offset='0')
		.gal__container.container
			.gal__row
				.gal__item.gal__item_1
					.gal__item-title.js-motion(data-motion='motion1' data-main-delay='0' data-move-up='70')
						p Наши здоровые клиенты
					.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.35' data-move-up='50' data-move-delay='0.45')
						img(src='img/content/gal-1.jpg' alt='image')
					.gal__item-in.gal__item-in_1-1
						.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='30')
							img(src='img/content/gal-1-1.jpg' alt='image')
						.gal__item-in.gal__item-in_1-2
							.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.5' data-move-up='50' data-move-delay='0.35')
								img(src='img/content/gal-1-2.jpg' alt='image')
				.gal__item.gal__item_2
					.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.6' data-move-up='40')
						img(src='img/content/gal-2.jpg' alt='image')
					.gal__item-in.gal__item-in_2-1
						.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='50' data-move-delay='0.35')
							img(src='img/content/gal-2-1.jpg' alt='image')
				.gal__item.gal__item_3
					.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='20' data-move-delay='0.35')
						img(src='img/content/gal-3.jpg' alt='image')
				.gal__item.gal__item_4
					.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='60')
						img(src='img/content/gal-4.jpg' alt='image')
					.gal__item-in.gal__item-in_4-1
						.gal__item-motion.js-motion(data-motion='motion3' data-main-delay='0.3' data-move-up='45' data-move-delay='0.35')
							img(src='img/content/gal-4-1.jpg' alt='image')
			.gal__desc
				.gal__desc-text.js-motion(data-motion='motion3' data-main-delay='0.75')
					p Нам доверили свои улыбки 27 000 человек. <br>из них — посольства 20 стран мира, <br>15 международных компаний <br>и 33 страховые компании.
				a.gal__desc-btn.btn.btn_black.js-motion(href='#' data-motion='motion4' data-main-delay='2')
					| <span class="btn__hide">читать </span>истории клиентов
					.btn__icon
	//end gal

	include includes/_about

	//begin map
	.map.js-scene(data-offset='0')
		.map__container.container
			.map__list.js-map-list.js-tabs-nav
				.map__col.is-active.js-motion(data-motion='motion1' data-move-up='60' data-main-delay='0' data-speed-line='0.75')
					.map__col-inner
						.map__title
							p 01
							p татарка
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
				.map__col.js-motion(data-motion='motion1' data-move-up='30' data-main-delay='0.1' data-speed-line='0.75')
					.map__col-inner
						.map__title
							p 02
							p подол
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
				.map__col.js-motion(data-motion='motion1' data-move-up='45' data-main-delay='0.2' data-speed-line='0.75')
					.map__col-inner
						.map__title
							p 03
							p печерск
						.map__desc
							p ул. Воздвиженская, 29
							a(href='tel:380445937787') +380 44 593-77-87
			.map__wrap.js-tabs-for.js-motion(data-motion='motion3' data-speed-rect='1.25' data-auto-height='false')
				.map__el#map1(data-center='50.460321, 30.511742' style='width: 100%; height: 300px;')
				.map__el#map2(data-center='50.460321, 30.511742' style='width: 100%; height: 300px;')
				.map__el#map3(data-center='50.460321, 30.511742' style='width: 100%; height: 300px;')
	//end map

block js
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_5P4IIFsySgMjMwG2dtuJiMUcg5X6gg0")
	script(src="js/separated/jquery.min.js")
	script(src="js/app.js")

