extend includes/_layout
block title
	title Каталог
block content
	ul(style='margin-left: 40px; padding-left: 30px; list-style: decimal; font-size: 20px;')
		li: a(href='home.html') Home
		li: a(href='doctors.html') Doctors
		li: a(href='open-doctor.html') Open-doctor
		li: a(href='open-item.html') Open-item
		li: a(href='services-open-category.html') Services-open-category
		li: a(href='open-article.html') Open-article
		li: a(href='services-blog.html') Services-blog
		li: a(href='contacts.html') Contacts
		li: a(href='404.html') 404
		li: a(href='popups.html') Popups
		li: a(href='about.html') About
		li: a(href='services_technology.html') Services-technology
