extend includes/_layout
block title
	title Каталог
block content
	ul(style='padding-left: 30px; list-style: decimal')
		li
			a(href='home.html') Home
		li
			a(href='404.html') 404
		li
			a(href='services-open-category.html') Services-open-category
