extend includes/_layout

block vars
	- var bodyClass = 'page-open-article'
	- var navToggle = 'услуги'

block title
	title Open article
block content
	.line-v.line-v_1
	//begin screen
	.screen
		.screen__anime
		.screen__slider
			.screen__item
				video.screen__video(src='video/screen-1.mp4' loop='loop' preload='none')
				.screen__img(style='background-image: url(img/content/open-article-img.jpg)')
				.screen__container.container
					.screen__inner.screen__inner_open-article
						button.screen__play.screen__play_open-article.js-play(type='button')
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 27.32 34.44')
								defs
									style.
										.path {
											fill: none;
											stroke: #fff;
											stroke-miterlimit: 10;
											stroke-width: 3px;
											fill-rule: evenodd;
										}
								path.path(d='M24.5,17.22l-23,14.5v-29Z')
						.screen__title.screen__title_open-article
							p Открытие новой клиники на Печерск!
	//end screen

	//begin open-article
	.open-article
		.open-article__row.container
			.open-article__col
				a.open-article__back.js-motion.js-scene(href='#' data-offset='-25' data-motion='motion3' data-main-delay='0.25' data-move-up='10')
					+i('arrow-left')
					| вернутся к публикациям
				.open-article__date.js-motion.js-scene(data-offset='-25' data-motion='motion3' data-main-delay='0.5' data-move-up='10')
					p 24 октября 2016
			.open-article__col
				.open-article__p.js-motion.js-scene(data-offset='-25' data-motion='motion2' data-main-delay='0' data-move-up='25' data-speed-alpha='1.5')
					p.
						Клиника «Порцелян» — одна из немногих клиник в Киеве, которая на деле предоставляет стоматологические услуги мирового стандарта.
				.open-article__p.js-motion.js-scene(data-offset='-25' data-motion='motion2' data-main-delay='0' data-move-up='25' data-speed-alpha='1.5')
					p.
						Поэтому наши клиенты, сидя в стоматологическом кресле в Киеве, получают такое же обслуживание и помощь в лечении зубов, как если бы они находились в лучших центрах США и Европы.
						<br>
						Поэтому, неудивительно, что среди наших клиентов — пациенты из ближнего и дальнего зарубежья.
				.open-article__p.js-motion.js-scene(data-offset='-25' data-motion='motion2' data-main-delay='0' data-move-up='25' data-speed-alpha='1.5')
					p.
						Поэтому наши клиенты, сидя в стоматологическом кресле в Киеве, получают такое же обслуживание и помощь в лечении зубов, как если бы они находились в лучших центрах США и Европы.
						<br>
						Поэтому, неудивительно, что среди наших клиентов — пациенты из ближнего и дальнего зарубежья.
				.open-article__image.js-motion.js-scene(data-offset='-25' data-motion='motion3' data-main-delay='0' data-move-up='25')
					img(src='img/content/open-article-1.jpg' alt='image')
				.open-article__quote.js-motion.js-scene(data-offset='-25' data-motion='motion3' data-main-delay='0' data-move-up='25')
					p Клиника «Порцелян» — одна из немногих клиник в Киеве, которая на деле предоставляет стоматологические услуги мирового стандарта.
				.open-article__p.js-motion.js-scene(data-offset='-25' data-motion='motion2' data-main-delay='0' data-move-up='25' data-speed-alpha='1.5')
					p.
						Клиника «Порцелян» — одна из немногих клиник в Киеве, которая на деле предоставляет стоматологические услуги мирового стандарта.
				.open-article__p.js-motion.js-scene(data-offset='-25' data-motion='motion2' data-main-delay='0' data-move-up='25' data-speed-alpha='1.5')
					p.
						Поэтому наши клиенты, сидя в стоматологическом кресле в Киеве, получают такое же обслуживание и помощь в лечении зубов, как если бы они находились в лучших центрах США и Европы.
						<br>
						Поэтому, неудивительно, что среди наших клиентов — пациенты из ближнего и дальнего зарубежья.
				.open-article__p.js-motion.js-scene(data-offset='-25' data-motion='motion2' data-main-delay='0' data-move-up='25' data-speed-alpha='1.5')
					p.
						Поэтому наши клиенты, сидя в стоматологическом кресле в Киеве, получают такое же обслуживание и помощь в лечении зубов, как если бы они находились в лучших центрах США и Европы.
						<br>
						Поэтому, неудивительно, что среди наших клиентов — пациенты из ближнего и дальнего зарубежья.
				.open-article__image.js-motion.js-scene(data-offset='-25' data-motion='motion3' data-main-delay='0' data-move-up='25')
					img(src='img/content/open-article-2.jpg' alt='image')
			.open-article__col
				.open-article__share.js-motion.js-scene(data-offset='-25' data-motion='motion3' data-main-delay='0.25' data-move-up='10')
					p Поделится публикацией
				.open-article__soc.js-motion.js-scene(data-offset='-25' data-motion='motion2' data-main-delay='0.75' data-move-up='25' data-speed-alpha='1.5')
					ul.open-article__soc-row
						li.open-article__soc-item
							a.open-article__soc-link(href='#')
								+i('tw')
						li.open-article__soc-item
							a.open-article__soc-link(href='#')
								+i('fb')
	//end open-article

	//begin start
	.start.js-scene(data-offset="0")
		.start__container.container
			.start__item.start__item_title.start__item_open-article.js-motion(data-motion='motion1' data-main-delay='0.1' data-move-up='70')
				p Услуги из статьи
			.start__list
				.start__item.js-motion(data-motion='motion1' data-move-up='70')
					.start__item-desc
						.start__title
							.start__title-text
								p первый прием
							.start__title-icon
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='0.75')
					img(src='img/content/start-2.jpg' alt='image')
					//video.start__video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
					.start__item-desc
						.start__title
							.start__title-text
								p лечение десен
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion1' data-main-delay='0.15' data-move-up='50')
					.start__item-desc
						.start__title
							.start__title-text
								p протезирование и эстетика
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='30' data-speed-line='0.25' data-move-up-speed='1')
					.start__item-desc
						.start__title
							.start__title-text
								p лечение каналов
							.start__title-icon
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='50' data-move-up-speed='1')
					img(src='img/content/start-6.jpg' alt='image')
					.start__item-desc
						.start__title
							.start__title-text
								p детский кабинет
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion1' data-main-delay='0' data-move-up='70' data-speed-line='1')
					.start__item-desc
						.start__title
							.start__title-text
								p профилактика
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				a.start__button.btn.btn_red.js-motion(data-motion='motion4' data-main-delay='2' href='#')
					| все услуги клиники
					.btn__icon
	//end start