extend includes/_layout

block vars
	- var bodyClass = 'page-open-article'
	- var navToggle = 'услуги'

block title
	title Open article
block content
	.line-v.line-v_1
	//begin screen
	.screen.screen_sm
		.screen__anime
		.screen__slider
			.screen__item
				video.screen__video(src='video/screen-1.mp4' loop='loop' preload='none')
				.screen__img.screen__img_scale(style='background-image: url(img/content/open-article-img.jpg)')
				.screen__container.container
					.screen__inner
						button.screen__play.screen__play_open-article.js-play(type='button')
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
								path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
						.screen__title
							p Открытие новой клиники на Печерск!
	//end screen

	//begin open-article
	.open-article
		.open-article__row.container
			.open-article__col
				a.open-article__back.js-motion.js-scene(href='#' data-offset='-40' data-motion='motion3' data-main-delay='0' data-move-up='10' data-speed-rect='0.3')
					+i('arrow-left')
					| <span class="btn__hide-mobile">вернутся </span>к публикациям
				.open-article__date.js-motion.js-scene(data-offset='-40' data-motion='motion3' data-main-delay='0' data-move-up='10' data-speed-rect='0.3')
					p 24 октября 2016
			.open-article__col.js-article-markup
				p.
					Клиника «Порцелян» — одна из немногих клиник в Киеве, которая на деле предоставляет стоматологические услуги мирового стандарта.
				p.
					Поэтому наши клиенты, сидя в стоматологическом кресле в Киеве, получают такое же обслуживание и помощь в лечении зубов, как если бы они находились в лучших центрах США и Европы.
					<br>
					Поэтому, неудивительно, что среди наших клиентов — пациенты из ближнего и дальнего зарубежья.
				p.
					Поэтому наши клиенты, сидя в стоматологическом кресле в Киеве, получают такое же обслуживание и помощь в лечении зубов, как если бы они находились в лучших центрах США и Европы.
					<br>
					Поэтому, неудивительно, что среди наших клиентов — пациенты из ближнего и дальнего зарубежья.
				img(src='img/content/open-article-1.jpg' alt='image')
				blockquote Клиника «Порцелян» — одна из немногих клиник в Киеве, которая на деле предоставляет стоматологические услуги мирового стандарта.
				p.
					Клиника «Порцелян» — одна из немногих клиник в Киеве, которая на деле предоставляет стоматологические услуги мирового стандарта.
				p.
					Поэтому наши клиенты, сидя в стоматологическом кресле в Киеве, получают такое же обслуживание и помощь в лечении зубов, как если бы они находились в лучших центрах США и Европы.
					<br>
					Поэтому, неудивительно, что среди наших клиентов — пациенты из ближнего и дальнего зарубежья.
				p.
					Поэтому наши клиенты, сидя в стоматологическом кресле в Киеве, получают такое же обслуживание и помощь в лечении зубов, как если бы они находились в лучших центрах США и Европы.
					<br>
					Поэтому, неудивительно, что среди наших клиентов — пациенты из ближнего и дальнего зарубежья.
				img(src='img/content/open-article-2.jpg' alt='image')
			.open-article__col
				.open-article__share.js-motion.js-scene(data-offset='-40' data-motion='motion3' data-main-delay='0' data-move-up='10' data-move-up-speed='0.75')
					p Поделится публикацией
				.open-article__soc.js-motion.js-scene(data-offset='-25' data-motion='motion2' data-main-delay='0.5' data-move-up='25' data-move-up-speed='0.75' data-speed-alpha='0.75')
					ul.open-article__soc-row
						li.open-article__soc-item
							a.open-article__soc-link(href='#')
								+i('tw')
						li.open-article__soc-item
							a.open-article__soc-link(href='#')
								+i('fb')
	//end open-article

	//begin start
	.start.start_open-article.js-scene(data-offset="-40")
		.start__container.container
			.start__item.start__item_title.start__item_open-article.js-motion(data-motion='motion1' data-main-delay='0' data-move-up='70')
				p Услуги из статьи
			.start__list
				.start__item.start__item_white.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='50' data-speed-line='0.25' data-move-up-speed='0.75')
					.start__item-desc
						.start__title
							.start__title-text
								p Лечение зубов
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion3' data-main-delay='0.3' data-move-up='30' data-speed-line='0.25' data-move-up-speed='0.75')
					img(src='img/content/open-article-start-img-1.jpg' alt='image')
					//video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
					.start__item-desc
						.start__title
							.start__title-text
								p Детский кабинет
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.start__item_white.js-motion(data-motion='motion1' data-main-delay='0.4' data-move-up='50' data-speed-line='0.25' data-move-up-speed='0.75')
					.start__item-desc
						.start__title
							.start__title-text
								p протезирование
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
	//end start

	include includes/_subscribe