extend includes/_layout

block vars
	- var bodyClass = 'page-open-item'

block title
	title Open Item
block content
	.line-v.line-v_1
	//begin screen
	.screen.screen_sm
		.screen__anime
		.screen__slider
			.screen__item
				video.screen__video(src='video/screen-1.mp4' loop='loop' preload='none')
				.screen__img.screen__img_scale(style='background-image: url(img/content/open-item.jpg)')
				.screen__container.container
					.screen__inner
						button.screen__play.screen__play_open-article.js-play(type='button')
							svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
								path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
						.screen__title
							p Инновационные пломбы
							a.screen__btn.btn.btn_red(href='#')
								| Записаться на прием
								.btn__icon
	//end screen

	.page-open-item__start
		.page-open-item__start-container.container
			.page-open-item__main-title.main-title.js-motion.js-scene(data-offset='-40' data-motion='motion2' data-main-delay='0')
				p Инновационные пломбы, которые прослужат более 10 лет
			.page-open-item__main-subtitle.main-subtitle.js-motion.js-scene(data-offset='-40' data-motion='motion2' data-main-delay='0' data-move-delay='0.1' data-move-up='50')
				p Керамическая пломба – это современная альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. Мы создаем такие пломбы с помощью новой технологии сканирования Sirona Cerec Connect.

	.page-open-item__steps
		.page-open-item__steps-container.container
			.page-open-item__title.js-motion.js-scene(data-offset='-40' data-motion='motion2' data-main-delay='0' data-move-up='50' data-speed-alpha='0.75')
				p этапы лечения
			+b.l-steps.js-why-slider-2.js-scene(data-offset='-40')
				mixin stepsCol(...titles)
					each title, index in titles
						+e.col
							+b.b-card-steps.js-motion(data-motion='motion2' data-main-delay=(index/5) data-move-up='50' data-speed-alpha='0.75')
								+e.number= '0' + (index + 1)
								+e.title #{title}
								+e.text
									| !{stepsText[index]}
				-var stepsText = ['Лучшая пломба – это соврем. альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. <br>Мы создаем такие льтернатива обычной.', 'Керамическая пломба – это соврем. альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. <br>Мы создаем такие льтернатива обычной пломбе, которая <br>сможет прослужить больше.', 'Керамическая пломба – это соврем. альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. <br>Мы создаем такие', 'Керамическая пломба – это соврем. альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. <br>Мы создаем такие альтернатива обычной пломбе, которая', 'Керамическая пломба – это соврем. альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. <br>Мы создаем такие льтернатива обычной пломбе, которая <br>сможет прослужить больше.', 'Лучшая пломба – это соврем. альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. <br>Мы создаем такие льтернатива обычной.', 'Лучшая пломба – это соврем. альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. <br>Мы создаем такие льтернатива обычной.', 'Лучшая пломба – это соврем. альтернатива обычной пломбе, которая сможет прослужить больше 10 лет. <br>Мы создаем такие льтернатива обычной.'];
				+stepsCol('изучение проблематики', 'Выбор технологии', 'определение приоритетов', 'создание оттисков', 'подготовка в операции', 'проведдение операции', 'реабилитационный период', 'осмотр врача')

	//begin reg
	.reg.js-scene(data-offset='-40')
		.reg__container.container
			.reg__row.reg__row_right
				.reg__col.reg__col_no-lines
					.reg__title.js-motion(data-motion='motion1' data-move-delay='0.1' data-move-up='50' data-move-up-speed='0.5' data-speed-rect='0.5')
						p Описание услуги и результат
					.reg__image.js-motion(data-motion='motion3' data-main-delay='0.25' data-speed-rect='0.5')
						img(src='img/content/open-item-desc-img.jpg' alt='image')
				.reg__col.reg__col_open-item.js-motion(data-motion='motion1' data-main-delay='0.15' data-speed-rect='0.5')
					.reg__col-inner.reg__open-item
						p: strong Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet dolor sit amet.
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
						p Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						table
							tbody
								tr
									td Lorem ipsum dolor sit amet;
									td Cum sociis natoque penatibus;
									td
								tr
									td Aenean euismod bibendum laoreet;
									td Proin sodales pulvinar tempor.
									td
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. <br>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
	//end reg

	.page-open-item__doctor
		.page-open-item__container.container
			.page-open-item__row-2
				.page-open-item__col-2.js-scene(data-offset='-45')
					.page-open-item__title.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='0.75')
						p Врачи, которые выпоняют данную услугу
					//slider
					.page-open-item__slider.is-active.js-open-item-slider.js-motion.js-scene(data-offset='-40' data-mobile-motion='true' data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.2' data-speed-alpha='0.75')
						.page-open-item__slider-inner.doctor
							.doctor__image
								img(src='img/content/doctor-1.jpg' alt='image')
								.doctor__info
									p Страна обучения: Германия
									p Изучение: <br>DSD концепция
							a.doctor__name(href='#') Салтыков И. О.
							.doctor__spec Доктор-гигиенист
						.page-open-item__slider-inner.doctor
							.doctor__image
								img(src='img/content/doctor-2.jpg' alt='image')
								.doctor__info
									p Страна обучения: Германия
									p Изучение: <br>DSD концепция
							a.doctor__name(href='#') Мирончук А. А.
							.doctor__spec Доктор-терапевт, <br>ортопед
						.page-open-item__slider-inner.doctor
							.doctor__image
								img(src='img/content/doctor-3.jpg' alt='image')
								.doctor__info
									p Страна обучения: Германия
									p Изучение: <br>DSD концепция
							a.doctor__name(href='#') Прощин Н. И.
							.doctor__spec Доктор-ортодонт
						.page-open-item__slider-inner.doctor
							.doctor__image
								img(src='img/content/doctor-4.jpg' alt='image')
								.doctor__info
									p Страна обучения: Швейцария
									p Изучение: <br>DSD концепция
							a.doctor__name(href='#') Дмитренко А. С.
							.doctor__spec Доктор-ортодонт
						.page-open-item__slider-inner.doctor
							.doctor__image
								img(src='img/content/doctor-5.jpg' alt='image')
								.doctor__info
									p Страна обучения: Швейцария
									p Изучение: <br>DSD концепция
							a.doctor__name(href='#') Фурман В. C.
							.doctor__spec Доктор-ортодонт
						.page-open-item__slider-inner.doctor
							.doctor__image
								img(src='img/content/doctor-6.jpg' alt='image')
								.doctor__info
									p Страна обучения: Швейцария
									p Изучение: <br>DSD концепция
							a.doctor__name(href='#') Доктор №6
							.doctor__spec Доктор-ортодонт
						.page-open-item__slider-inner.doctor
							.doctor__image
								img(src='img/content/doctor-7.jpg' alt='image')
								.doctor__info
									p Страна обучения: Швейцария
									p Изучение: <br>DSD концепция
							a.doctor__name(href='#') Доктор №7
							.doctor__spec Доктор-ортодонт

				.page-open-item__col-2.js-scene(data-offset='-45')
					.page-open-item__title.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='0.75')
						p а теперь цены

					+b.open-item-price_indent
						mixin open-item-price__el(...titles)
							each title, index in titles
								+e.el.js-motion(data-motion='motion2' data-main-delay=((index + 1)/ 5) data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='0.75')
									+e.title #{title}
									+e.price #{pricePrice[index]}
						-var pricePrice = ['350 грн', '920 грн'];
						-var priceText = ['Цена пломбы зависит от того, насколько сильно поражен зуб кариесом, и от того, какой материал используется.'];
						+e.el.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='0.75')
							+e.title Изготовление и установка керамической пломбы
							+e.price 5700 грн
							+e.text !{priceText}
						+e.overflow
							+open-item-price__el('средняя стоимость снятия оттисков', 'Минимальная стоимость пломбы')
							+e.el.js-motion(data-motion='motion2' data-main-delay='0.6' data-move-up='50' data-move-up-speed='0.75' data-speed-alpha='0.75')
								+e.title Клиент менеджер поможет вам с ориентировкой цен
								+e.btn.btn.btn_red(href='#')
									| Записаться на прием
									.btn__icon

	//begin start
	.start.start_open-article.start_open-item.js-scene(data-offset="-40")
		.start__container.container
			.start__item.start__item_title.start__item_open-article.start__item_open-item.js-motion(data-motion='motion1' data-main-delay='0' data-move-up='70')
				p Вам могут понадобиться доп. услуги и технологии
			.start__list
				.start__item.start__item_white.js-motion(data-motion='motion1' data-main-delay='0.2' data-move-up='50' data-speed-line='0.25' data-move-up-speed='0.75')
					.start__item-desc
						.start__title
							.start__title-text
								p Профилактика
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.js-motion(data-motion='motion3' data-main-delay='0.3' data-move-up='30' data-speed-line='0.25' data-move-up-speed='0.75')
					img(src='img/content/open-article-start-img-1.jpg' alt='image')
					//video(src='video/inno-1.mp4' loop='loop' autoplay='true' muted='true')
					.start__item-desc
						.start__title
							.start__title-text
								p Детский кабинет
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
				.start__item.start__item_white.js-motion(data-motion='motion1' data-main-delay='0.4' data-move-up='50' data-speed-line='0.25' data-move-up-speed='0.75')
					.start__item-desc
						.start__title
							.start__title-text
								p Имплантация
							.start__title-icon.start__title-icon_black
						.start__hide
							.start__text
								p Зарубежные исследования и наш практический опыт показали потрясающую эффективность наших восстановительных и профилактических способов лечения пародонтита.
							a.start__btn(href='#')
								| узнать больше о лечении
								.start__btn-icon
	//end start

	.page-open-item__pre-last
		.page-open-item__container.container
			.page-open-item__row-2
				.page-open-item__col-2.js-scene(data-offset='-40')
					.page-open-item__title.js-motion(data-motion='motion2' data-main-delay='0.25' data-move-up='50' data-speed-alpha='0.75')
						p Мифы и ответы на <br>вопросы
					-var accordionTitle = ['1. Что такое инновационные пломбы, ведь предложения и вопросы обычно длиннее чем нужно? Может ли быть вопрос длиннее ответа?', '2. Что такое инновационные пломбы?', '3. Lorem ipsum dolor  Aenean euismod  ipsum euismod bibendum laoretet?', '4. Lorem ipsum dolor  Aenean euismod bibeindum laoreet ?', '5.  Lorem ipsum dolor  Aenean euismod bibeindum laoreet?', '6.  Lorem ipsum dolor  Aenean euismod bibeindum laoreet?', '7.  Lorem ipsum dolor  Aenean euismod bibeindum laoreet?'];
					-var accordionText = ['Данного эффекта удалось добиться при помощи специального вещества, заставляющего зубы регенерировать, то есть, самостоятельно восстанавливаться. Пока данная методика будет использоваться в Соединенных Штатах Америки, однако при успешном прохождении тестирования, сможет применяться стоматологами из всех стран мира. <br>Пока данная методика будет использоваться в Соединенных Штатах Америки, однако при успешном прохождении тестирования, сможет применяться стоматологаз всех стран мира.'];
					+b.UL.accordion.js-accordion
						each value, index in accordionTitle
							+e.LI.item.js-motion(data-motion='motion2' data-main-delay=(index / 5) data-move-up='50' data-speed-alpha='0.75' href='#')
								+e.DIV.title
									| #{value}
									+e.DIV.icon.arrow-bot-anim
								+e.DIV.text
									p !{accordionText}

				.page-open-item__col-2.js-scene(data-offset='-40')
					.page-open-item__title.page-open-item__title_double.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-speed-up='0.5' data-speed-alpha='0.75')
						p Истории <br>пациентов
					-var openItemHistory = ['первая История моего лечения', 'вторачя История моего лечения'];
					-var openItemHistoryText = ['Диастема, цвет зубов - керафмические виниры - доктор Туркив', 'Диастема, цвет зубов - керафмические виниры - доктор Туркив'];
					mixin openItemHistory
						each value, index in openItemHistory
							+b.open-item-history.js-motion(data-motion='motion2' data-main-delay=(index / 5) data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='0.75' href='#')
								+e.DIV.inner
									+e.DIV.title #{value}
									+e.DIV.text #{openItemHistoryText[index]}
									+e.DIV.link Читать статью
					+openItemHistory

	-var aboutClass = 'page-open-item__about'
	include includes/_about
