extend includes/_layout

block vars
    - var bodyClass = 'page-open-doctor'

block title
    title Open doctor
block content
    .line-v.line-v_1
    //begin screen
    .screen.screen_md
        .screen__anime
        button.screen__scroll.is-animate.js-scroll-btn(type='button' data-href='#inno')
            span.screen__scroll-text листайте вниз
            .screen__scroll-line
        .screen__slider.js-screen-slider
            .screen__item
                video.screen__video(src='video/screen-1.mp4' loop='loop' preload='none')
                .screen__img.screen__img_tablet(style='background-image: url(img/content/doctor-screen-tablet.png)')
                .screen__img(style='background-image: url(img/content/doctor-screen.png)')
                .screen__container.container
                    .screen__inner.screen__inner-lift_up
                        button.screen__play.js-play(type='button')
                            span.screen__play-text смотреть видео о нас
                            svg.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 34')
                                path.path(d='M 25 18 L 3 31 L 3 3 L 25 18 L 3 31 Z')
                        .screen__title
                            p Туркив анна Владимировна
                        .screen__subtitle
                            p Врач куратор, ортопедическая стоматология
            - for (var i = 0; i < 4; i++) {
                .screen__item
                    .screen__img(style='background-image: url(img/content/screen-2.jpg)')
                    .screen__container.container
                        .screen__inner.screen__inner-lift_up
                            .screen__title
                                p Туркив анна Владимировна
                            .screen__subtitle
                                p Врач куратор, ортопедическая стоматология
            - }
    //end screen
    .doctor_profile.container.clearfix
        section.doctor_profile__block.doctor_profile__block-doctor.js-scene(data-offset='-25')
            .doctor_profile__block_title.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='1.5') больше о враче
            .doctor_more.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='1.5')
                mixin doctor-more__field(title, text)
                    .doctor_more__field
                        .doctor_more__field_title #{title}
                        .doctor_more__field_text #{text}
                +doctor-more__field('профиль', 'Врач куратор, ортопедическая стоматология')
                +doctor-more__field('Интересные факты', 'Есть коллекция из 100 зубов мудрости,  за один сеанс под мед сном полечила 99 зубов')
                +doctor-more__field('стаж:', '10 лет')
                +doctor-more__field('Увлечения:', 'Высокой, высокой, высокой')
                +doctor-more__field('цитата:', 'Все работы доктор выполняет под контролем увеличения (бинокулярные лупы), что дает')
                +doctor-more__field('авторский стиль', 'Так же доктор владеет современными методиками планирования дизайна улыбки, а именно технологией Digital Smile Design (DSD), признанная ведущими мировыми специалистами в области эстетической стоматологии. <br/> Все работы доктор выполняет под контролем увеличения (бинокулярные лупы), что дает.')
                mixin doctor-more__field-social(title, icons)
                    .doctor_more__field.doctor_more__field-social.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-speed-alpha='1.5')
                        .doctor_more__field_title.doctor_more__field_title-padding #{title}
                        .doctor_more__field-icons_container
                            each icon in icons
                                a.doctor_more__field_icon(href="#!")
                                    +i(icon)
                - var doctor_more__icons = ['tw', 'fb'];
                +doctor-more__field-social('в социальных сетях', doctor_more__icons)
        section.doctor_profile__block.doctor_profile__block-spec.js-motion.js-scene(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='1.5' data-offset='-25')
            .doctor_profile__block_title Специализация
            .doctor_spec
                - var doctor_spec__buttons = ['Реставрация зубов', 'Пломбы', 'Лечение кариеса', 'Инвизалайн'];
                each button in doctor_spec__buttons
                    a.doctor_spec__button(href='#')
                        span #{button}
                        .start__title-icon
        section.doctor_profile__block.doctor_profile__block-stories.js-scene(data-offset='-25')
            .doctor_profile__block_title.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='1.5') истории пациентов
            .doctor_stories.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='1.5')
                .doctor_stories__container
                    - var storTitles = ['лечение зубов в клинике', 'имплантация в клинике', 'лечение зубов в клинике', 'имплантация в клинике'];
                    - for (var i = 0; i < 4; i++) {
                    article.doctor_stories__item.article_block
                        .article_block__title #{storTitles[i]}
                        .article_block__text Первая история лечения в клинике которая показывает высочайший уровень предоставлнгия услуг различного типа и еще текст для теста
                        .article_block__doctor <b>доктор:</b> Андрей Туркив
                        a.article_block__read(href="#!") Читать статью
                    - }
                .arrows-container
                    .doctor_stories__prev.arrow_btn.arrow_btn-prev
                        +i('arrow-slider')
                    .doctor_stories__next.arrow_btn.arrow_btn-next
                        +i('arrow-slider')
        section.doctor_profile__block.doctor_profile__block-public.js-scene(data-offset='-25')
            .doctor_profile__block_title.doctor_profile__block_title-small.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='1.5') Свежие публикации врачей
            .doctor_publications.js-motion(data-motion='motion2' data-main-delay='0' data-move-up='50' data-move-up-speed='0.5' data-speed-alpha='1.5')
                - var pubTitles = ['лечение десен в клинике', 'протезирование', 'лечение десен в клинике', 'протезирование'];
                - for (var i = 0; i < 4; i++) {
                article.doctor_publications__item.article_block.article_block-white
                    .article_block__title #{pubTitles[i]}
                    .article_block__text Первая история лечения в клинике которая показывает высочайший уровень предоставлнгия услуг очень разных и удобных
                    a.article_block__read(href="#!") Читать статью
                - }
            .arrows-container
                .doctor_publications__prev.arrow_btn.arrow_btn-prev
                    +i('arrow-slider')
                .doctor_publications__next.arrow_btn.arrow_btn-next
                    +i('arrow-slider')
        a.all_doctors_button.btn.btn_black.js-motion.js-scene(data-offset='-40' href='#' data-motion='motion4' data-main-delay='0')
            | ко всем врачам
            .btn__icon
