extend includes/_layout

block vars
	- var bodyClass = 'page-services-open-category'
	- var navToggle = 'услуги'

block title
	title Services open category
block content
	.services-open-category.full-section
		.category-title.js-motion.js-scene(data-offset='0' data-motion='motion1' data-main-delay='0' data-move-up='50' data-speed-line='0.2' data-move-up-speed='0.5')
			.category-title__container.container
				h1 Лечение десен
		.container
			.services-open-category__row.js-scene(data-offset='0')
				.services-open-category__col
					a.services-open-category__item(href='#')
						.services-open-category__item-ratio
							.services-open-category__item-inner.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
								img(src='img/content/services-open-category-1.jpg' alt='image')
						.services-open-category__title.js-motion(data-motion='motion2' data-main-delay='0.2' data-move-up='30' data-speed-alpha='0.75')
							.services-open-category__title-text
								p первый прием
							.services-open-category__icon
				.services-open-category__col
					a.services-open-category__item(href='#')
						.services-open-category__item-ratio
							.services-open-category__item-inner.js-motion(data-motion='motion3' data-main-delay='0.4' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
								img(src='img/content/services-open-category-2.jpg' alt='image')
						.services-open-category__title.js-motion(data-motion='motion2' data-main-delay='0.6' data-move-up='30' data-speed-alpha='0.75')
							.services-open-category__title-text
								p лечение десен
							.services-open-category__icon
				.services-open-category__col
					a.services-open-category__item(href='#')
						.services-open-category__item-ratio
							.services-open-category__item-inner.js-motion(data-motion='motion3' data-main-delay='0.2' data-move-up='75' data-move-up-speed='0.5' data-speed-rect='0.3')
								img(src='img/content/services-open-category-3.jpg' alt='image')
						.services-open-category__title.js-motion(data-motion='motion2' data-main-delay='0.4' data-move-up='30' data-speed-alpha='0.75')
							.services-open-category__title-text
								p детский кабинет
							.services-open-category__icon
