extend includes/_layout

block vars
    - var bodyClass = 'page-services_tabs'

block title
    title Services Technology
block content
    .line-v.line-v_1
    section.services
        .tab__header.clearfix
            .tab.active(data-tab-for="services")
                .tab__title
                    span услуги клиники
                    .tab__stick
            .tab(data-tab-for="technology")
                .tab__title
                    span технологии и методики
                    .tab__stick
        .tab__container.container.clearfix
            .tab__screen.active(data-tab-screen-id="services")
                .tab__aside
                    //begin nav-sub
                    - var navSubMenu = ['эстетика', 'лечение десен', 'детский кабинет', 'хирургия', 'Первый прием', 'лечение зубов', 'Исправлене прикуса Ортодонтия', 'Гигиена', 'Имплантация'];
                    - var navSubClass = 'tab__screen_menu js-nav-sub-mob';
                    - var navSubToggle = 'эстетика';
                    - var navDataAttr = true;
                    - var dataTargetId = 0;
                    include includes/_nav-sub
                    //end nav-sub
                .tab__screen_content_tab
                    .tab__selected-category.js-nav-sub-toggle
                        span
                        .arrow-bot-anim.is-active
                    .content_tab.clearfix(data-content-id="0")
                        .content_tab__video
                            .d_animation.d_animation__video
                            video.video(src='video/screen-1.mp4' loop='loop' preload='none' autoplay muted)
                        .content_tab__content
                            .content_tab__title
                                span эстетика
                            .content_tab__subtitle
                                span Кратенькое, живое описание услуги, что это такое, для тех кто вообще не разбирается и ему болит сейчас
                            .content_tab__links
                                a(href="#!") Герметизация и фротирование
                                a(href="#!") Пломбы
                                a(href="#!") Исправление прикуса
                                a(href="#!") Лечение во сне
                                a(href="#!") Адаптация к врачу
                                a(href="#!") Лечение во сне
                                a(href="#!") Герметизация и фротирование
                                .empty-place-holder
                                .empty-place-holder
                            .content_tab__button
                                .d_animation.d_animation__button
                                a.btn.btn_red(href='#')
                                    | к услуге
                                    .btn__icon

            .tab__screen(data-tab-screen-id="technology")
                .tab__aside
                    - var navSubMenu = ['DSD ( Digital Smile Design)', 'Cerec', 'Медицинский сон (лечение во сне)', 'Микроскоп', 'Технология будущего Cerec', 'Виртуальные операции', 'Виртуальный пациент'];
                    - var navSubClass = 'tab__screen_menu js-nav-sub-mob';
                    - var navSubToggle = 'DSD ( Digital Smile Design)';
                    - var navDataAttr = true;
                    - var dataTargetId = 1;
                    include includes/_nav-sub
                    //end nav-sub
                .tab__screen_content_tab
                    .tab__selected-category.js-nav-sub-toggle
                        span
                        .arrow-bot-anim.is-active
                    .content_tab.clearfix(data-content-id="1")
                        .content_tab__video
                            .d_animation.d_animation__video
                            video.video(src='video/inno-1.mp4' loop='loop' preload='none' autoplay muted)
                        .content_tab__content
                            .content_tab__title
                                span DSD ( Digital Smile Design)
                            .content_tab__subtitle
                                span Кратенькое, живое описание услуги, что это такое, для тех кто вообще не разбирается и ему болит сейчас
                            .content_tab__links
                            .content_tab__button
                                .d_animation.d_animation__button
                                a.btn.btn_red(href='#')
                                    | к услуге
                                    .btn__icon

    section.page-services_tabs__about
        //begin about
        .about.js-scene(data-offset='-40')
            .about__container.container
                .about__row
                    .about__col
                        .about__title.js-motion(data-motion='motion3' data-move-up='20' data-speed-rect='0.3')
                            p для записи на прием позвоните
                        .about__phone.js-motion(data-motion='motion3' data-move-up='40' data-move-delay='0' data-main-delay='0.1' data-speed-rect='0.3')
                            a(href='tel:0445937787') 044 593 77 87
                    .about__col
                        .about__title.js-motion(data-motion='motion3' data-move-up='20' data-main-delay='0.1' data-speed-rect='0.3')
                            p или оставьте заявку через форму записи
                        a.about__button.btn.btn_red.js-motion(href='javascript: void(0);' data-motion='motion4' data-main-delay='0.75' data-target-popup="subscribe" data-popup="toggle")
                            | оставить заявку
                            .btn__icon
        //end about

block modals
    // subscribe
    .popup.popup-subscribe(tabindex="-1", role="dialog", data-popup-id="subscribe")
        .popup__container
            .popup__close-btn
                span
                span
            .popup__content
                .popup__title Подпишитесь на рассылку что бы всегда быть в курсе последних событий!
                form.popup__form
                    label.form-group
                        input(type="text", name="userName", placeholder="Ваше имя")
                    label.form-group
                        input(type="email", name="userEmail", placeholder="Ваш email")
                    label.form-group
                        input(type="text", name="userKids", placeholder="Есть ли у вас дети?")
                    button.popup__btn.btn.btn_red(type="submit")
                        | подписаться
                        .btn__icon
                .popup__footer
                    span или звоните
                    a(href="tel:044 593 77 87") 044 593 77 87