extend includes/_layout

block vars
	-var bodyClass = 'page-doctors'
	-var navToggle = 'услуги'

block title
	title Services Blog
block content
	.doctors.full-section
		.category-title.js-motion.js-scene(data-offset='-40' data-motion='motion1' data-main-delay='0' data-move-up='50' data-speed-line='0.2' data-move-up-speed='0.5')
			.category-title__container.container
				h1 Статьи, новости, пресс-центр

		.doctors__container.container
			.doctors__flex-container
				.doctors__aside
					//begin nav-sub
					-var navSubMenu = ['Новости', 'истории клиентов', 'пресс-центр', 'архив']
					-var navSubToggle = 'Новости'
					-var navSubClass = 'doctors__nav-sub js-nav-sub'
					include includes/_nav-sub
					//end nav-sub

				.doctors__content
					.doctors__selected-category.js-nav-sub-toggle
						span
						.arrow-bot-anim.is-active
					.services-blog.js-nav-sub-for
						.services-blog__row(data-tab-id='0')
							.services-blog__col.services-blog__col_wide.js-scene(data-offset='-40')
								a.services-blog__item(href='#')
									.services-blog__item-ratio
										.services-blog__item-inner.js-motion(data-motion='motion3' data-main-delay='0.15' data-move-up='75' data-speed-rect='0.3' data-speed-line='0.3')
											img(src='img/content/blog-0.jpg' alt='image')
											img(src='img/content/blog-1.jpg' alt='image')
									.services-blog__desc.js-motion(data-motion='motion2' data-main-delay='0.15' data-move-up='50' data-speed-alpha='1.25')
										.services-blog__desc-row
											.services-blog__title.js-dot
												p Lorem ipsum dolor sit  ipsumamet
											.services-blog__icon
										.services-blog__text.js-dot
											p Lorem ipsum dolor sit amet, consectetur adipiscing sit amet.
										.services-blog__date
											p 24 октября 2016
							include elements/_blog-6-items
							include elements/_blog-6-items
							include elements/_blog-6-items
							include elements/_blog-2-items
							.services-blog__controls.js-scene(data-offset='-40')
								a.services-blog__btn.btn.btn_red.js-blog-more.js-motion(data-motion='motion4' data-main-delay='0' href='#')
									| еще новости
									.btn__icon
								.services-blog__pagination.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='0' data-speed-rect='0.3' data-speed-line='0.3')
									include includes/_pagination
						.services-blog__row(data-tab-id='1')
							.services-blog__col.services-blog__col_wide.js-scene(data-offset='-40')
								a.services-blog__item(href='#')
									.services-blog__item-ratio
										.services-blog__item-inner.js-motion(data-motion='motion3' data-main-delay='0.15' data-move-up='75')
											img(src='img/content/blog-0.jpg' alt='image')
											img(src='img/content/blog-1.jpg' alt='image')
									.services-blog__desc.js-motion(data-motion='motion2' data-main-delay='0.15' data-move-up='50' data-speed-alpha='1.25')
										.services-blog__desc-row
											.services-blog__title.js-dot
												p Lorem ipsum dolor sit  ipsumamet
											.services-blog__icon
										.services-blog__text.js-dot
											p Lorem ipsum dolor sit amet, consectetur adipiscing sit amet.
										.services-blog__date
											p 24 октября 2016
							include elements/_blog-2-items
							.services-blog__controls
								a.services-blog__btn.btn.btn_red.js-blog-more.js-motion.js-scene(data-offset='-40' data-motion='motion4' data-main-delay='0' href='#')
									| еще новости
									.btn__icon
								.services-blog__pagination.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='0' data-speed-rect='0.3' data-speed-line='0.3')
									include includes/_pagination
						.services-blog__row(data-tab-id='2')
							.services-blog__col.services-blog__col_wide.js-scene(data-offset='-40')
								a.services-blog__item(href='#')
									.services-blog__item-ratio
										.services-blog__item-inner.js-motion(data-motion='motion3' data-main-delay='0.15' data-move-up='75')
											img(src='img/content/blog-0.jpg' alt='image')
											img(src='img/content/blog-1.jpg' alt='image')
									.services-blog__desc.js-motion(data-motion='motion2' data-main-delay='0.15' data-move-up='50' data-speed-alpha='1.25')
										.services-blog__desc-row
											.services-blog__title.js-dot
												p Lorem ipsum dolor sit  ipsumamet
											.services-blog__icon
										.services-blog__text.js-dot
											p Lorem ipsum dolor sit amet, consectetur adipiscing sit amet.
										.services-blog__date
											p 24 октября 2016
							include elements/_blog-6-items
							include elements/_blog-2-items
							.services-blog__controls
								a.services-blog__btn.btn.btn_red.js-blog-more.js-motion.js-scene(data-offset='-40' data-motion='motion4' data-main-delay='0' href='#')
									| еще новости
									.btn__icon
								.services-blog__pagination.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='0' data-speed-rect='0.3' data-speed-line='0.3')
									include includes/_pagination
						.services-blog__row(data-tab-id='3')
							.services-blog__col.services-blog__col_wide.js-scene(data-offset='-40')
								a.services-blog__item(href='#')
									.services-blog__item-ratio
										.services-blog__item-inner.js-motion(data-motion='motion3' data-main-delay='0.15' data-move-up='75')
											img(src='img/content/blog-0.jpg' alt='image')
											img(src='img/content/blog-1.jpg' alt='image')
									.services-blog__desc.js-motion(data-motion='motion2' data-main-delay='0.15' data-move-up='50' data-speed-alpha='1.25')
										.services-blog__desc-row
											.services-blog__title.js-dot
												p Lorem ipsum dolor sit  ipsumamet
											.services-blog__icon
										.services-blog__text.js-dot
											p Lorem ipsum dolor sit amet, consectetur adipiscing sit amet.
										.services-blog__date
											p 24 октября 2016
							include elements/_blog-6-items
							include elements/_blog-6-items
							include elements/_blog-6-items
							include elements/_blog-2-items
							.services-blog__controls
								a.services-blog__btn.btn.btn_red.js-blog-more.js-motion.js-scene(data-offset='-40' data-motion='motion4' data-main-delay='0' href='#')
									| еще новости
									.btn__icon
								.services-blog__pagination.js-motion(data-motion='motion3' data-main-delay='0' data-move-up='0' data-speed-rect='0.3' data-speed-line='0.3')
									include includes/_pagination

	include includes/_subscribe
